{% extends "randomtest/base.html" %}



{% block content %}
<ol class="breadcrumb">
  <li><a href="../../">My Classes</a></li>
  <li class="active">{{class.name}}</li>

</ol>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% include 'teacher/sidebar.html' with activenav="myclasses" %}
    </div>
    <div class="col-sm-9 main">
      <div id="status_message">
      </div>
      <div id="my_classes">
	<h2>{{class.name}}</h2>
<p><a href="roster">Roster</a></p>
	<div class="list-group">
	  <div class="list-group-item" style="background-color:lightgray">
	    <div class="row">
	      <div class="col-xs-6">
		Class Summary: {{class.units.count}} unit(s)
	      </div>
	      <div class="col-xs-6" style="text-align:right">
		{{class.num_problems}} Problems, {{class.total_points}} Points
	      </div>
	    </div>
	  </div>
	</div>
	<div class="list-group">
	  {% for unit in class.units.all %}
	  <div href="#unit_{{unit.pk}}" class="list-group-item" style="background-color:lightgray">
	    <div class="row">
	      <div class="col-xs-6">
		<b>Unit {{forloop.counter}}:</b> 
		{{unit.name}} ({{unit.num_problemsets}} problem set(s))
	      </div>
	      <div class="col-xs-6" style="text-align:right">
		{{unit.num_problems}} Problems, {{unit.total_points}} Points
	      </div>
	    </div>
	  </div>

	  <div class="list-group" id="unit_{{unit.pk}}">
	    {% for unitobject in unit.unit_objects.all %}
	    {% if unitobject.problemset %}
	    {% with pset=unitobject.problemset %}
	    <a href="problemset/{{pset.pk}}" class="list-group-item">
	      <div class="row">
		<div class="col-xs-6">
		  <b>Problem Set {{forloop.parentloop.counter}}.{{unitobject.order}}:</b> {{pset.name}}
		</div>
		<div class="col-xs-6" style="text-align:right">
		  {{pset.num_problems}} Problems, {{pset.total_points}} Points
		</div>
	      </div>
	    </a>
	    {% endwith %}
	    {% endif %}
	    {% if unitobject.slidegroup %}
              {% with slides=unitobject.slidegroup %}
              <a href="slides/{{slides.pk}}/" class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    <b>Lesson {{forloop.parentloop.counter}}.{{unitobject.order}}:</b> {{slides.name}}
                  </div>
                  <div class="col-xs-6" style="text-align:right">
                    {{slides.num_slides}} Slides
                  </div>
                </div>
              </a>
              {% endwith %}
              {% endif %}
	    {% endfor %}
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>  


{% endblock %}
