      <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link {% if activenav == "myclasses"%}active{% endif %}" href="/teacher/">My Classes <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link {% if activenav == "myproblemgroups"%}active{% endif %}" href="/teacher/problemgroups/">My Problem Groups</a></li>
        <li class="nav-item"><a class="{% if activenav == "mystudents"%}active{% endif %} nav-link" href="/teacher/mystudents/">My Students</a></li>
      </ul>
