<div class="list-group-item">
  <h3>{{forcount}}. {{slide.title}}</h3>
  <input type="hidden" name="slideinput" value="slide_{{slide.pk}}">
  <div class="row">
    <div class="col-sm-11 col-md-11 col-lg-11">
      <div id="slide_object_List" class="list-group">
	{% for s in slide.slide_objects.all %}
	<div class="list-group-item">
	  <input type="hidden" name="slideobjectinput" value="element_{{s.pk}}">
	  <div class="row">
	    <div class="col-sm-11 col-md-11 col-lg-11">
	      {% if s.content_type.model == "textblock" %}
	      {% autoescape off %}{{s.content_object.text_display|linebreaks}}{% endautoescape %}
	      {% endif %}
	      {% if s.content_type.model == "proof" %}
	      <span style="font-weight:bold">{{s.content_object.prefix}}: </span>
	      {% autoescape off %}{{s.content_object.proof_display|linebreaks}}{% endautoescape %}
	      {% endif %}
	      {% if s.content_type.model == "theorem" %}
	      <span style="font-weight:bold">{{s.content_object.prefix}} {{s.content_object.theorem_number}}{% if s.content_object.name != "" %} ({{s.content_object.name}}){% endif %}: </span>
	      {% autoescape off %}{{s.content_object.theorem_display|linebreaks}}{% endautoescape %}
	      {% endif %}
	      {% if s.content_type.model == "exampleproblem" %}
	      <span style="font-weight:bold">{{s.content_object.prefix}} {{s.content_object.problem_number}}: </span>
	      {% if s.content_object.isProblem == 1 %}
	      {% if s.content_object.problem.question_type_new.question_type == "multiple_choice" %}
	      {% autoescape off %}{{s.content_object.problem.display_mc_problem_text|linebreaks}}{% endautoescape %}
	      {% else %}
	      {% autoescape off %}{{s.content_object.problem.display_problem_text|linebreaks}}{% endautoescape %}
	      {% endif %}
	      {% else %}
	      {% autoescape off %}{{s.content_object.problem_display|linebreaks}}{% endautoescape %}
	      {% endif %}
	      {% endif %}
	      {% if s.content_type.model == "imagemodel" %}
	      <img class="img-responsive center-block" src="/{{s.content_object.image.url }}/"/> 
	      {% endif %}
	    </div>
	    
	  </div>
	</div>
	{% endfor %}
      </div>	
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
      <div class="js-remove"><span style="color:red; cursor:pointer">✖</span></div>
      <a href="edit-slide/{{slide.pk}}/"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
  </div>
</div>


