{% extends "randomtest/base.html" %}

{% block head %}
<script language="javascript">
function drawprogressbar(percent,color,barwidth) {
var numpixels=barwidth*percent/100;
document.write("<div style=\"position: relative;line-height: 1em;border: 1px solid black; width: "+(barwidth+2).toString()+"px; height=10px;\">");
document.write("<div style=\"height: 1.5em; width: "+ numpixels.toString()+"px; background-color: "+color+";\"></div>");
document.write("</div>");
}
</script>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My Classes</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <nav class="col-sm-3 sidebar">
      <ul class="nav nav-pills flex-column">
	{% include 'teacher/sidebar.html' with activenav="myclasses" %}
      </ul>
    </nav>
    <div class="col-sm-9 main">
      <div id="status_message">
      </div>
      <div id="my_published_classes"{% if my_published_classes.count == 0 %} style="display:none"{% endif %}>
	<h2>Classes I'm Teaching</h2>
	<table class="table table-striped" id="published_table">
	  <thead>
	    <tr>
	      <th>Class Name</th>
	      <th>Number of Enrolled Students</th>
	      <th>Sync Options</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for cls in my_published_classes.all %}
	      {% include 'teacher/publishedclasses/publishedclassrow.html' %}
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    {% if my_TA_classes.count > 0 %}
      <h2>Classes I'm TAing</h2>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Class Name</th>
	    <th>Number of Enrolled Students</th>
	  </tr>
	</thead>
	<tbody>
	  {% for cls in my_TA_classes.all %}
	  <tr>
	    <td><a href="class/{{cls.pk}}/">{{cls.name}}</a></td>
	    <td>{{cls.enrolled_students.count}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
      
      <h2>My Unpublished Classes</h2>
      <p><i>These classes can be edited.</i></p>
      <div id="my_editing_classes"{% if owned.cls.count == 0 %} style="display:none;"{% endif %}>
      <table class="table table-striped" id="editing_table">
	<thead>
	  <tr>
	    <th>Class Name</th>
	    <th>Number of Units</th>
	    <th>Publish</th>
	    <th>Sharing</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for cls in owned_cls %}
            {% include 'teacher/editingtemplates/editclassrow.html' with sharing_type='own' %}
	  {% endfor %}
	</tbody>
      </table>
      </div>
      <div id="my_classes-empty_message">
      {% if owned_cls.count == 0 %}
      <p>You haven't written any classes yet. Click the button below to start a new class.</p>
      {% endif %}
      </div>
      <button class="btn btn-primary addclass-link" data-toggle="modal">New Class</button> 
{% if co_owned_cls.count > 0 or editor_cls.count > 0 or readonly_cls.count > 0 %}
      <h2>Unpublished Classes Shared With Me</h2>
      <p><i>These classes can be edited if you have Owner or Editor privileges.</i></p>
      <div id="shared_editing_classes"{% if my_classes.count == 0 %} style="display:none;"{% endif %}>
      <table class="table table-striped" id="shared_editing_table">
	<thead>
	  <tr>
	    <th>Class Name</th>
	    <th>Number of Units</th>
	    <th>Publish</th>
	    <th>Sharing</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
          {% for cls in co_owned_cls %}
            {% include 'teacher/editingtemplates/editclassrow.html' with sharing_type='coown' %}
          {% endfor %}
          {% for cls in editor_cls %}
            {% include 'teacher/editingtemplates/editclassrow.html' with sharing_type='edit' %}
          {% endfor %}
          {% for cls in readonly_cls %}
            {% include 'teacher/editingtemplates/editclassrow.html' with sharing_type='read' %}
          {% endfor %}
	</tbody>
      </table>
      </div>
{% endif %}


    </div>
  </div>
</div>

  <div class="modal fade addclass-modal" id="addclass-modal" role="dialog">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form method="post" action="." id="add-class-form">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Add a New Class</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="class-name" class="control-label">Class Name</label>
              <input type="text" class="form-control" id="class-name" name="class-name" required>
            </div>
          </div>
          <div class="modal-footer">
	    <button type="submit" name="newclass" class="btn btn-primary">Add Class</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<div class="modal fade" id="edit-sharing-placeholder" role="dialog">
</div>
<div class="modal fade" id="confirm-delete-placeholder" role="dialog">
</div>

<div class="modal fade" id="modal-latex-download" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="modal-content" method="post" action="." id="latex-download-form">
      <div class="modal-header">
        <h5 class="modal-title">LaTeX Download Options</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="download-latex-url" value="">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="document-class" class="control-label">Document Class</label>
              <select class="form-control" id="document-class">
                <option value="article">Article</option>
                <option value="book">Book</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="download-latex"  class="btn btn-primary">Download LaTeX</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
			    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			    }
    },
});

$(document).on('click',".addclass-link",function(e) {
  e.preventDefault();
  $("#addclass-modal").modal('show');
});

$(document).on('submit',"#add-class-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '.',
    data: $(this).serialize()+'&newclass=',
    dataType: 'json',
    success: function(result) {
      $("#editing_table tbody").append(result['newrow']);
      $("#my_class-empty_message").html("");
      $("#my_editing_classes").css("display", "block");
      $("#addclass-modal").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});

$(document).on('click',".publish-class",function(event) {
    event.preventDefault();
    $("#status_message").html("<div class='alert alert-info' role='alert'>Publishing Class...Please Wait...</div>");
    $.ajax({
        type: 'GET',
        url: $(this).attr("href"),
        dataType: 'json',
        success: function(result) {
            $("#published_table tbody").append(result['newrow']);
            $("#status_message").html("");
            $("#my_published_classes").css("display", "block");
        }
    });
    return false;
});


$(document).on('click',".edit-sharing",function(e) {
  e.preventDefault();
  pk = $(this).attr('id').split('-')[1];
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/edit-sharing/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#edit-sharing-placeholder").html(result['modal-html']);
      $("#edit-sharing-placeholder").modal("show");
    }
  });
  return false;
});

$(document).on('submit',"#share-class-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/share-with-user/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {
      if (result['sharing_type'] == 'read') {
        $("#reader-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#readers").show();
      }
      if (result['sharing_type'] == 'edit') {
        $("#editor-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#editors").show();
      }
      if (result['sharing_type'] == 'own') {
        $("#owner-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#owners").show();
      }
    }
  });
  return false;
});

$(document).on('change',".change-permission", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('-')[1];
  var sharing_type = $(this).val();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/change-permission/',
    data: "&pk="+pk+"&sharing_type="+sharing_type+"&classpk="+$("#classpk").val(),
    dataType: 'json',
    success: function(result) {
      $("#permission_row-"+pk).remove();
      if (result['sharing_type'] == 'read') {
        $("#reader-list").append(result['user-row']);
        $("#readers").show();
      }
      if (result['sharing_type'] == 'edit') {
        $("#editor-list").append(result['user-row']);
        $("#editors").show();
      }
      if (result['sharing_type'] == 'own') {
        $("#owner-list").append(result['user-row']);
        $("#owners").show();
      }
      if ($('#reader-list li').length == 0) {
        $("#readers").hide();
      }
      if ($('#owner-list li').length == 0) {
        $("#owners").hide();
      }
      if ($('#editor-list li').length == 0) {
        $("#editors").hide();
      }
    }
  });
  return false;
});


$(document).on('click',".confirm-delete-class",function(e) {
  e.preventDefault();
  pk = $(this).attr('id').split('-')[1];
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/confirm-delete-class/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#confirm-delete-placeholder").html(result['modal-html']);
      $("#confirm-delete-placeholder").modal("show");
    }
  });
  return false;
});

$(document).on('click',".confirm-remove-class",function(e) {
  e.preventDefault();
  pk = $(this).attr('id').split('-')[1];
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/confirm-remove-class/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#confirm-delete-placeholder").html(result['modal-html']);
      $("#confirm-delete-placeholder").modal("show");
    }
  });
  return false;
});

$(document).on('submit',"#delete-class-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/delete-class/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {
      $("#class-row-"+$("#"+$(this).attr('id')+" input[name='pk']").val()).remove();
      $("#confirm-delete-placeholder").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});

$(document).on('submit',"#remove-class-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/remove-class/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {
      $("#class-row-"+$("#"+$(this).attr('id')+" input[name='pk']").val()).remove();
      $("#confirm-delete-placeholder").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});
$(document).on('click',".sync_class",function(e) {
  e.preventDefault();
  pk = $(this).attr('id').split('-')[1];
  $("#sync_class-"+pk).html("<span class='fa fa-spinner fa-spin'></span>");
  $.ajax({
    type: 'GET',
    url: '/teacher/sync/'+pk+'/',
    dataType: 'json',
    success: function(result) {
console.log(result['error']);
      if (result['error'] == 0) {
        $("#sync_class-"+pk).html("Up-to-date");
      } else {
        $("#sync_class-"+pk).html("Error");
      }
    }
  });
  return false;
});
$(document).on('click',".latex-download-link",function(e) {
  e.preventDefault();
  $("#modal-latex-download").modal("show");
  $("#download-latex-url").val($(this).attr('href'));
  return false;
});

$(document).on('submit',"#latex-download-form",function(e) {
  e.preventDefault();
  window.location = $("#download-latex-url").val()+"?dc="+$("#document-class").val();
  $("#modal-latex-download").hide();
  $("[data-dismiss=modal]").trigger({ type: "click" });
  return false;
});
</script>


{% endblock %}
