

<script>


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});

$(document).on("change","select.js-add-tag-select",function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'add_tag' %}',
        data: form.serialize(),
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 0) {
                $("#tagging-status-"+data['prob_pk']).html("<div class='alert alert-success' role='alert'>Tag has been added to problem.</div>");
                $("#tagging-status-"+data['prob_pk']).show();
                setTimeout(function() {
                    $("#tagging-status-"+data['prob_pk']).fadeOut().empty();
                },5000);
                $("#problem-tags-"+data['prob_pk']).html(data['tag_list']);
                $("#tagged-"+data['prob_pk']).html("<span class='fa fa-check' style='color:green'></span>");

            } else {
                $("#tagging-status-"+data['prob_pk']).html("<div class='alert alert-warning' role='alert'>Problem already has tag.</div>");
                $("#tagging-status-"+data['prob_pk']).show();
                setTimeout(function() {
                    $("#tagging-status-"+data['prob_pk']).fadeOut().empty();
                },5000);
            }

        }
    });
    return false;
});


$(document).on('click',".delete-tag-link",function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'delete_tag' %}',
        data: form.serialize()+"&problem_tag_id="+$(this).attr('id'),
        dataType: 'json',
        success: function(data) {
           $("#problem-tags-"+data['prob_pk']).html(data['tag_list']);
           if (data['tag_count'] == 0) {
               $("#tagged-"+data['prob_pk']).html("-");
           }
        }
    });
    return false;
});


{% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "sitemanager" or request.user.userprofile.user_type_new.name == "contestmanager" or request.user.userprofile.user_type_new.name == "contestmod" %}

$(document).on('click',".view-log-btn",function(event) {
    event.preventDefault();
    var prob_id = $(this).attr('id').split('-')[1];
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/view_log/',
        data: "pk="+prob_id,
        dataType: 'json',
        success: function(result) {
            $("#log-modal").html(result['modal-html']);
            $("#log-modal").modal("show");
        }
    });
    return false;
});

$(document).on('click',".remove_duplicate",function(event) {
    event.preventDefault();
    var dupl_id = $(this).attr('id').split('_')[3];
    var curr_id = $(this).attr('id').split('_')[2];
    $.ajax({
        type: 'GET',
        url: '{% url 'remove_duplicate' %}',
        data: "&dpk="+dupl_id+"&pk="+curr_id,
        dataType: 'json',
        success: function(data) {
           $("#duplicate_problems_"+curr_id).html(data['duplicate_problems']);

        }
    });
    return false;
});

$(document).on('click',".add-linked-problem",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");
    $("#original-prob_pk").val(prob_pk);
    $("#duplicate-modal").modal("show");
});

$(document).on('submit',".add-linked-problem-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'GET',
        url: "{% url 'add_duplicate' %}",
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
           if (result['status']==1) {
               $("#duplicate_problems_"+result['prob_pk']).html(result['duplicate_problems']);
               $("#duplicate-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
               $("#linked_problem_label").val("");
           } else if (result['status']==0) {
               $("#duplicate-status-"+result['prob_pk']).html("<div class='alert alert-danger' role='alert'>No such problem with entered label!</div>");
               $("#duplicate-status-"+result['prob_pk']).prop("style","display:block");
               $("#duplicate-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
               $("#linked_problem_label").val("");
               setTimeout(function() {
                   $("#duplicate-status-"+result['prob_pk']).fadeOut().empty();
               },5000);             
           }

        }
    });
    return false;
});

$(document).on('click',".edit-mc-answer",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");

    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-edit-answer/',
        data: "qt=mc&pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#edit-answer-modal").html(result['modal-html']);
MathJax.Hub.Queue(["Typeset",MathJax.Hub,"edit-answer-modal"]);
            $("#edit-answer-modal").modal("show");
        }
    });
    return false;
});

$(document).on('click',".edit-sa-answer",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-edit-answer/',
        data: "qt=sa&pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#edit-answer-modal").html(result['modal-html']);
MathJax.Hub.Queue(["Typeset",MathJax.Hub,"edit-answer-modal"]);
            $("#edit-answer-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit_answer_form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/save-answer/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            if (result['qt'] == 'mc') {
                $("#mc_answer_"+result['pk']).html(result['answer']);
            } else if (result['qt'] == 'sa') {
                $("#sa_answer_"+result['pk']).html("$"+result['answer']+"$");
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"sa_answer_"+result['pk']]);

            }
               $("#edit-answer-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    });
    return false;
});

$(document).on('click',".edit-mc-latex",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");

    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-edit-latex/',
        data: "qt=mc&pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#edit-latex-modal").html(result['modal-html']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"edit-latex-modal"]);
            $("#edit-latex-modal").modal("show");
        }
    });
    return false;
});

$(document).on('click',".edit-latex",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");

    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-edit-latex/',
        data: "qt=sa&pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#edit-latex-modal").html(result['modal-html']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"edit-latex-modal"]);
            $("#edit-latex-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit_latex_form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/save-latex/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            if (result['qt'] == 'mc') {
                $("#mc_prob_text_"+result['pk']).html(result['prob-text']);
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"mc_prob_text_"+result['pk']]);

                d = new Date();
                $("#mc_prob_text_"+result['pk']+" img").each(function(e) {
                  url = $(this).attr("src");
                  $(this).attr("src",url+"?"+d.getTime());
                });

            } else if (result['qt'] == 'sa') {
                $("#sa_prob_text_"+result['pk']).html(result['prob-text']);
                d = new Date();
                $("#sa_prob_text_"+result['pk']+" img").each(function(e) {
                  url = $(this).attr("src");
                  $(this).attr("src",url+"?"+d.getTime());
                });
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"sa_prob_text_"+result['pk']]);
            }
               $("#edit-latex-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    });
    return false;
});

{% endif %}
$(document).on('click',".view-mc-latex",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("href");

    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/view-mc-latex/',
        data: "pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#view-latex-modal").html(result['modal-html']);
            $("#view-latex-modal").modal("show");
        }
    });
    return false;
});

$(document).on('click',".solution-link",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr('id').split('_')[1];
    var target = "/problemeditor/ajax/load_sol/"+prob_pk+"/";

    $("#solution-placeholder").load(target, function() {
         MathJax.Hub.Queue(["Typeset",MathJax.Hub,"solution-placeholder"]);
         $("#solution-placeholder").modal("show");
    });
});

$(document).on('click touchstart',".new-sol",function(event) {
    event.preventDefault();
    var prob_pk = $(this).attr("id").split('_')[1];
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-new-solution/',
        data: "pk="+prob_pk,
        dataType: 'json',
        success: function(result) {
            $("#new-solution-placeholder").html(result['modal-html']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"new-solution-placeholder"]);
            $("#new-solution-placeholder").modal({backdrop: 'static', keyboard: false});
        }
    });
    return false;
});

$(document).on('submit',"#new-solution-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/save-new-solution/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#solution-link_"+result['pk']).text("View Solutions ("+result['sol_count']+")");
	    $("#num_solutions-"+result['pk']).html(result['sol_count']);
            $("#edit-latex-modal").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    });
    return false;
});

$(document).on('click',".pre-delete-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[2];  
  $("#confirmdelete_"+sol_id).show();
});

$(document).on('click',".copy-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[1];  
  var sol_text = $("textarea#latex_"+sol_id).val();

  var aux = document.createElement("textarea");
  aux.innerHTML = sol_text;
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);

});

$(document).on('click',".no-delete-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[2];  
  $("#confirmdelete_"+sol_id).hide();
});


$(document).on('click',".delete-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/delete-solution/',
        data: "pk="+prob_id+"&spk="+sol_id,
        dataType: 'json',
        success: function(result) {
            if (result['deleted']==1) {
                $("#solution-link_"+prob_id).text("View Solutions ("+result['sol_count']+")");
	        $("#num_solutions-"+prob_id).html(result['sol_count']);
                $("#sol_"+sol_id).remove();
                if ($("#all_solutions > div").length == 0) {
                    $("#no-solutions").show();
                }
            }
        }
    });
    return false;
});

$(document).on('click',".edit-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/load-edit-sol/',
        data: "pk="+prob_id+"&spk="+sol_id,
        dataType: 'json',
        success: function(result) {
$("#editsol_"+prob_id+"_"+sol_id).hide();
            $("#editsolplaceholder_"+sol_id).html(result['sol_form']);
            window.location ="#editsolplaceholder_"+sol_id;
        }
    });
    return false;
});

$(document).on('click',".save-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/save-sol/',
        data: "pk="+prob_id+"&spk="+sol_id+"&solution_text="+encodeURIComponent($("#editsolplaceholder_"+sol_id+" #codetext").val()),
        dataType: 'json',
        success: function(result) {
            $("#soltext_"+sol_id).html(result['sol_text']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"soltext_"+sol_id]);
              $("#editsolplaceholder_"+sol_id).empty()
            d = new Date();
            $("#soltext_"+sol_id+" img").each(function(e) {
              url = $(this).attr("src");
              $(this).attr("src",url+"?"+d.getTime());
            });
$("#editsol_"+prob_id+"_"+sol_id).show();
          $("#soltext_"+sol_id).show();

        }
    });
    return false;
});

$(document).on('click',".edit-primitive-preview-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    var prob_label = $(this).attr('id').split('_')[3];
    sol_text = $("#editsolplaceholder_"+sol_id+" #codetext[name=solution_text]").val().trim();


    sol_text = '<p>'+sol_text.replace(/</g,' < ').replace(/(?:\r\n|\r|\n)/g,'<br/>')+'</p>';

    sol_text = replace_images(sol_text,prob_label);
    sol_text = replace_enumitem(sol_text);
    sol_text = replace_center(sol_text);

    $("#preview_soltext_"+sol_id).html(sol_text);
    $("#soltext_"+sol_id).hide();
    $("#preview_soltext_"+sol_id).show();
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"preview_soltext_"+sol_id]);
});

$(document).on('click',".cancel-edit-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $("#editsolplaceholder_"+sol_id).empty()
    $("#soltext_"+sol_id).show();
    $("#editsol_"+prob_id+"_"+sol_id).show();
});

$(document).on("change","select.change-needs-answers",function(event) {
    event.preventDefault();
    var pk = $(this).attr('id').split('-')[1];
    $.ajax({
        type: 'POST',
        url: '/problemeditor/ajax/change-needs-answers/',
        data: "&pk="+pk+"&na="+$(this).val(),
        dataType: 'json',
        success: function(data) {
			    
        }
    });
    return false;
});

$(document).on("click","#preview-latex-button", function(e) {
    sol_text = $("#codetext[name=new_solution_text]").val().trim();
    sol_text = '<p>'+sol_text.replace(/</g,' < ').replace(/(?:\r\n|\r|\n)/g,'<br/>')+'</p>';

    sol_text = replace_enumitem(sol_text);
    sol_text = replace_center(sol_text);

    $("#preview-latex").html(sol_text);
    $("#preview-latex").show();
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"preview-latex"]);
});

$("select.js-problem-group-select").change(function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'add_to_group' %}',
        data: form.serialize(),
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 0) {
$("#adding-status-"+data['prob_pk']).html("<div class='alert alert-success' role='alert'>Problem has been added to group.</div>");
$("#adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            } else {
$("#adding-status-"+data['prob_pk']).html("<div class='alert alert-warning' role='alert'>Problem is  already in group.</div>");
$("#adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            }

        }
    });
    return false;
});

{% if is_sourced %}

$(document).on('click',".add-sourced-problem",function(event) {
    event.preventDefault();
    var source_type = $(this).attr('id').split('-')[1];
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-add-sourced-problem/',
        data: "&st="+source_type,
        dataType: 'json',
        success: function(result) {
            $("#add-problem").html(result['modal-html']);
            $("#add-problem").modal({backdrop: 'static', keyboard: false});//prevents clicking off
        }
    });
    return false;
});

$(document).on('change',"#question-type",function(event) {
    event.preventDefault();
    $('#add-sourced-problem-button').prop('disabled',false);
    if ($(this).val()=='short answer') {
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-sourced-problem/',
        data: "&qt=sa&st="+$("#input-source-type").val(),
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;

    } else if ($(this).val()=='multiple choice') {

    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-sourced-problem/',
        data: "&qt=mc&st="+$("#input-source-type").val(),
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;
    } else if ($(this).val()=='proof') {
    $.ajax({
        type: 'GET',
        url: '/problemeditor/ajax/load-sourced-problem/',
        data: "&qt=pf&st="+$("#input-source-type").val(),
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;
    }
});

$(document).on('submit',"#form-add-sourced-problem",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: 'add-sourced-problem/',
        data: $(this).serialize()+"&st="+$("#input-source-type").val(),
        dataType: 'json',
        success: function(result) {
            if ('error' in result) {
                $("#add-problem-error-message").html(result['error']);
                $("#add-problem-error-message").show();
                setTimeout(function() {
                    $("#add-problem-error-message").fadeOut().empty();
                },5000);
            } else {
                $("#add-problem").hide();
                $("[data-dismiss=modal]").trigger({ type: "click" });
                $("#problemList").append(result['list-item']);
                 MathJax.Hub.Queue(["Typeset",MathJax.Hub,"#problem_"+result['pk']]);
//            $("#msg-no-problems").hide();
            }
        }
    });
    return false;
});
{% endif %}

</script>
