
              {% include "problemeditor/problem-snippets/components/problemtext.html" %}
{% if not no_answer %}
              {% include "problemeditor/problem-snippets/components/answer.html" %}
{% endif %}
{% if request.user.is_superuser %}
{% if prob.question_type_new.question_type == "multiple choice" %}
              {% include "problemeditor/problem-snippets/components/needs-answer.html" %}
{% endif %}
{% endif %}
{% if not no_editlatex %}
              {% include "problemeditor/problem-snippets/components/editlatex.html" %}
{% endif %}
{% if not no_duplicate %}
              {% include "problemeditor/problem-snippets/components/duplicateproblem.html" %}
{% endif %}
{% if not no_tags %}
              {% include "problemeditor/problem-snippets/components/currenttags.html" %}
              {% include "problemeditor/problem-snippets/components/addtagform.html" %}
{% endif %}
{% if not no_solutions %}
              {% include "problemeditor/problem-snippets/components/solutiondiv.html" %}
{% endif %}

{% if prob.notes != "" %}
<label>Notes:</label>
<div>
{{prob.notes}}
</div>
{% endif %}

{% if prob.difficulty > 0 %}
<label>Difficulty: {{prob.difficulty}}</label>
<div class="row">
  <div class="col-md-4">
    <div class="progress">
      <script>document.write("<div class='progress-bar bg-success' role='progressbar' style='width:"+Math.round(({{prob.difficulty}}-500)*100/2000).toString()+"%' aria-valuenow='"+Math.round(({{prob.difficulty}}-500)*100/2000).toString()+"' aria-valuemin='0' aria-valuemax='100'>"+"</div>");</script>
    </div>
  </div>
</div>
{% endif %}
