<div class="modal-dialog modal-lg">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header"> 
      <h5 class="modal-title">Solutions to {{object.problem.readable_label}}</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
{% with object.problem as prob %}
{% include "problemeditor/snippetprobtext.html" %}
{% endwith %}

{% if object.problem.solutions.count > 0 %}
        {% for solution in object.problem.solutions.all %}
          <h3>Solution {{forloop.counter}}</h3>
         {% autoescape off %} {{solution.display_solution_text|linebreaks}} {% endautoescape %}<br><br>
        {% endfor %}
{% else %}
No current solutions.
{% endif %}


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>
