

            <a name="{{prob_label}}"></a>
	    <div class="card mb-3">
	      <div class="card-header"><!--heading-->
		<h3>Problem {{forloop.counter}} ({{resp.point_value}} Points)<span class="js-star-toggle pull-right" style="color:#FFD700" id="star_{{resp.pk}}">{% if resp.stickied == 1 %}<span class="fa fa-star"></span>{% else %}<span class="fa fa-star-o"></span>{% endif %}</span>

<span class="btn-group btn-group-sm float-right mr-2" role="group" aria-label="Problem options">
          <button type="button" class="btn btn-sm btn-secondary fullscreen-disp-link" id="fs_{{prob_label}}"><span class="fa fa-desktop"></span></button>
        </span>
		</h3>
	      </div><!--end heading-->

	      <div class="card-body"><!--body-->
                <div id="ptext_{{prob_label}}">{% autoescape off %}{{problem_display|linebreaks}} {% endautoescape %}</div>{% if readable_label %} <span class="pull-right"> [{{readable_label}}]</span>{% endif %}<br>		
	      </div><!--endbody-->

	      <div class="card-footer"><!--footer-->
		{% if question_type == 'short answer' or question_type == 'multiple choice' %}
		<div class="row">

		  <div class="col-6" id="answer-input-{{prob_label}}"><!--Answer Input-->
		    {% if question_type == 'short answer' %}
		    {% if resp.attempted %}
		    {% if answer == response %}

                    <div class="inner-addon right-addon">
                      <span class="fa fa-check" style="color:green"></span>
                      <input type="text" class="form-control is-valid" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}}" disabled>
                    </div>
                        {% else %}
                    <div class="inner-addon right-addon">
                      <span class="fa fa-remove" style="color:red"></span>
                      <input type="text" class="form-control is-invalid" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}}" disabled>
<div class="mt-1" id="correct-ans-{{prob_label}}" style="display:none">Correct Answer: {{answer}}</div>
                    </div>
		    {% endif %}
		    {% else %}
		    <input type="text" class="form-control" name="answer{{prob_label}}" name="id{{prob_label}}" value="" disabled>
<div class="mt-1" id="correct-ans-{{prob_label}}" style="display:none">Correct Answer: {{answer}}</div>
		    {% endif %}
		    
		    {% elif question_type == 'multiple choice' %}
		    <div class="form-group" name="answers_{{prob_label}}"><!--mc_answer_choices-->
		      <label class="radio-inline disabled answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="A" {% if response == "A" %}checked="checked"{% endif %} disabled> A
		      </label>
		      <label class="radio-inline disabled answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="B" {% if response == "B" %}checked="checked"{% endif %} disabled> B
		      </label>
		      <label class="radio-inline disabled answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="C" {% if response == "C" %}checked="checked"{% endif %} disabled> C
		      </label>
		      <label class="radio-inline disabled answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="D" {% if response == "D" %}checked="checked"{% endif %} disabled> D
		      </label>
		      <label class="radio-inline disabled answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="E" {% if response == "E" %}checked="checked"{% endif %} disabled> E
			
		      </label>
		      <div class="mt-1" id="correct-ans-{{prob_label}}" style="display:none">Correct Answer: {{answer}}</div>
		      <span id="answerstatus_{{prob_label}}">
			{% if resp.attempted %}
			{% if response == answer %}
			<span class="fa fa-check" style="color:green"></span>
			{% else %}
			<span class="fa fa-remove" style="color:red"></span> (Correct Answer: {{answer}})
			{% endif %}
			{% endif %}
		      </span>
		    </div><!--end mc_answer_choices-->
		    {% endif %}
		  </div><!--Answer input-->
<div class="col-3" id="correct-answer-{{prob_label}}">
{% if resp.attempted %}
{% if response != answer %}
<button class="btn btn-secondary toggle-answer" id="toggle-answer-{{prob_label}}">Show/Hide Answer</button>
{% endif %}
{% else %}
<button class="btn btn-secondary toggle-answer" id="toggle-answer-{{prob_label}}">Show/Hide Answer</button>
{% endif %}
</div>

		  <div class="col-3" id="check-button-{{prob_label}}" align="right"><!--button div-->
		    
		    {% if resp.publishedproblem_object.solution_objects.count > 0 %}
		    <button data-target="#solution-placeholder" class="btn btn-secondary solution-link" id="solution-link" href="load_sol/{{resp.publishedproblem_object.pk}}/">Solution</button>
		    {% else %}
		    <button class="btn btn-secondary" disabled data-toggle="tooltip" title="We haven't written a solution to this problem yet"><span style="color:red">Solution</span></button>
		    {% endif %}
		  </div><!--button div-->
		  <div class="col-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/problemset/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div><!--row-->
		{% endif %}
		{% if question_type == "proof" %}
		<div class="row">
		  <div class="col-12" id="proof-text-div-{{prob_label}}">
		    {% include "teacher/publishedclasses/proof-response-snippet.html" %}
		  </div>
		  <div class="col-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/problemset/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div>
		{% endif %}
	      </div><!--panel footer-->
	    </div><!--panel-->

