{% extends "./base.html" %}


{% block content %}

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>

<h2>Edit Test: {{h.name}}</h2>
<p>
Drag around elements to reorder them, and then click "Save" to save changes.
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
      <form action="." method="POST" id="problems">
	{% csrf_token %}
	<div id="doc_element_List" class="list-group">
	  {% for d in doc_elements %}
	  <div class="list-group-item">
	    <input type="hidden" name="docinput" value="element_{{d.pk}}">
	    <div class="row">
	      <div class="col-sm-11 col-md-11 col-lg-11">
		{% if d.content_type.model == "section" %}
		{{d.content_object.name}}
		{% endif %}
		{% if d.content_type.model == "subsection" %}
		{{d.content_object.name}}
		{% endif %}
		{% if d.content_type.model == "textblock" %}
		{% autoescape off %}{{d.content_object.text_display|linebreaks}}{% endautoescape %}
		{% endif %}
		{% if d.content_type.model == "proof" %}
		<span "font:bold">{{d.content_object.prefix}}: </span>
		{% autoescape off %}{{d.content_object.proof_display|linebreaks}}{% endautoescape %}
		{% endif %}
		{% if d.content_type.model == "theorem" %}
		<span "font:bold">{{d.content_object.prefix}}{% if d.content_object.name != "" %}({{d.content_object.name}}){% endif %}: </span>
		{% autoescape off %}{{d.content_object.theorem_display|linebreaks}}{% endautoescape %}
		{% endif %}
	      </div>
	      <div class="col-sm-1 col-md-1 col-lg-1">
		<div class="js-remove"><span style="color:red; cursor:pointer">✖</span></div>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>	

	<div class="dropdown">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Add <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#textblock" data-toggle="modal">Text Block</a></li>
	    <li><a href="#theorem" data-toggle="modal">Theorem/Example Environment</a></li>
	    <li><a href="#proof" data-toggle="modal">Proof/Solution Environment</a></li>
	    <li><a href="#section" data-toggle="modal">Section</a></li>
	    <li><a href="#subsection" data-toggle="modal">Subsection</a></li>
	  </ul>
	</div>

	<button type="submit" class="save btn btn-primary" name="save">Save</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
var editableList = Sortable.create(probList, {
  filter: '.js-remove',
  onFilter: function (evt) {
    var el = editableList.closest(evt.item); // get dragged item
    el && el.parentNode.removeChild(el);
  }
});

</script>
{% endblock %}
