
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Problem {{ problem.order }}</h5>
            <p class="card-text">{% autoescape off %}{{problem.display_problem_text|linebreaks}} {% endautoescape %}</p>
            <p><strong>Answer:</strong> ${{ problem.answer }}$</p>
            <p><strong>Task:</strong> <a href="#" onclick="loadProblems({{ problem.drill_task.id }})">{{ problem.drill_task }}</a></p>
            <button class="btn btn-primary btn-sm" onclick="loadEditLatex({{ problem.id }})">Edit LaTeX</button>
            <button class="btn btn-secondary btn-sm" onclick="loadEditAnswer({{ problem.id }})">Edit Answer</button>
        </div>
    </div>
