{% extends 'randomtest/base.html' %}

{% block title %}{{year.year}} Student Averages{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/drills/">Drill Index</a></li>
        <li class="breadcrumb-item"><a href="/drills/results/">Results Index</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Averages</li>
    </ol>
  </nav>
<div class="container mt-4">
    <h1 class="mb-4">{{ year.year }} Student Averages</h1>
    <div class="graph1">
        <img src="data:image/png;base64, {{ graphic }}" alt="studentaverages" />
    </div>
</div>
{% endblock %}