{% extends 'randomtest/base.html' %}

{% block title %}View Drill{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/drills/">Drill Index</a></li>
      <li class="breadcrumb-item active" aria-current="page">View Drill</li>
    </ol>
  </nav>
<div class="container mt-4">
    <h1 class="mb-4">{{drill.readable_label}}</h1>

    <div class="row mb-3">
      Author:&nbsp; <span id="disp_author_name">{{drill.author}}</span>&nbsp;(<a href="#" id="edit-author"><span class="fa fa-pencil"></span></a>)
    </div>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'reorder_drill' drill.id %}" class="btn btn-primary">Reorder Problems</a>
    </div>

    <div class="row mb-3">
        {% for problem in drill_problems %}
        <div class="col-md-12">
        <div id="drill-problem_{{problem.id}}">
            {% include 'drills/snippet_drill-problem-card.html' %}
        </div> 
	</div>
        {% endfor %}
    </div>
    <div class="row mb-3">
      <button class="btn btn-success" onclick="loadAddBonus();">Add Bonus Problem</button>
    </div>
</div>

<!-- Modal for editing LaTeX -->
<div class="modal fade" id="editLatexModal" tabindex="-1" role="dialog" aria-labelledby="editLatexLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLatexLabel">Edit LaTeX</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editLatexForm">
                    <div id="editLatex-div">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing Answer -->
<div class="modal fade" id="editAnswerModal" tabindex="-1" role="dialog" aria-labelledby="editAnswerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAnswerLabel">Edit Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editAnswerForm">
                    <div id="editAnswer-div"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Adding Bonus -->
<div class="modal fade" id="addBonusModal" tabindex="-1" role="dialog" aria-labelledby="addBonusLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBonusLabel">Add Bonus Problem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addBonusForm">
                    <div class="form-group">
                      <label for="problem_text">Problem LaTeX</label>
		      <textarea class="form-control codetext" min-width="100%" id="bonus_problem_text" name="problem_text" rows="10" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bonusAnswer">Answer</label>
                        <input type="text" class="form-control" id="bonus_Answer" name="bonus_answer" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Bonus Problem</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing Author -->
<div class="modal fade" id="edit-author-placeholder" tabindex="-1" role="dialog" aria-labelledby="editAuthorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAuthorLabel">Edit Author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form id="editAuthorForm">
		{% csrf_token %}
                    <div class="form-group">
                        <label for="author_name">Author</label>
                        <input type="text" class="form-control" id="author_name" name="author_name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for viewing problems -->
<div class="modal fade" id="problemsModal" tabindex="-1" role="dialog" aria-labelledby="problemsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="problemsLabel">Drill Problems</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="problemsList">
                <!-- Problems will be loaded here -->
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing Solutions -->
<div class="modal fade" id="editSolutionModal" tabindex="-1" role="dialog" aria-labelledby="editSolutionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSolutionLabel">Edit Solution(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal for new solution -->
<div class="modal fade" id="newSolutionModal" tabindex="-1" role="dialog" aria-labelledby="newSolutionLabel" aria-hidden="true">
    
</div>

<script>
function loadEditLatex(problemId) {
    $.ajax({
        url: `/drills/drill/{{drill.id}}/load-edit-latex/${problemId}/`,
        type: "GET",
        success: function(response) {
            $('#editLatex-div').html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"editLatex-div"]);
            $('#editLatexModal').modal('show');
        },
        error: function(xhr) {
            alert("Error loading LaTeX. Please try again.");
        }
    });
}

$('#editLatexForm').submit(function(event) {
    event.preventDefault();
    let problemId = $('#editProblemId').val();
    let problemText = $('#editLaTeX').val();
    
    $.ajax({
        url: `/drills/drill/{{drill.id}}/save-latex/${problemId}/`,
        type: "POST",
        data: {
            problem_text: problemText,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
            $('#drill-problem_'+problemId).html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"drill-problem_"+problemId]);
            $('#editLatexModal').modal('hide');
        },
        error: function(xhr) {
            alert("Error updating LaTeX. Please try again.");
        }
    });
});

function loadEditAnswer(problemId) {
    $.ajax({
        url: `/drills/drill/{{drill.id}}/load-edit-answer/${problemId}/`,
        type: "GET",
        success: function(response) {
            $('#editAnswer-div').html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"editAnswer-div"]);
            $('#editAnswerModal').modal('show');
        },
        error: function(xhr) {
            alert("Error loading Answer. Please try again.");
        }
    });
}

$('#editAnswerForm').submit(function(event) {
    event.preventDefault();
    let problemId = $('#editProblemAnswerId').val();
    let answer = $('#editProblemAnswer').val();
    
    $.ajax({
        url: `/drills/drill/{{drill.id}}/save-answer/${problemId}/`,
        type: "POST",
        data: {
            answer: answer,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
            $('#drill-problem_'+problemId).html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"drill-problem_"+problemId]);
            $('#editAnswerModal').modal('hide');
        },
        error: function(xhr) {
            alert("Error updating answer. Please try again.");
        }
    });
});

function loadProblems(taskId) {
    $.ajax({
        url: `/drills/tasks/{{drill.year_folder.category.pk}}/${taskId}/problems_modal/`,
        type: "GET",
        success: function(response) {
            $('#problemsList').html(response['problem_html']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"problemsList"]);
            $('#problemsModal').modal('show');
        },
        error: function(xhr) {
            alert("Error loading problems. Please try again.");
        }
    });
}

function loadEditSolutions(problemId) {
    $.ajax({
        url: `/drills/drill/{{drill.id}}/load-edit-solutions/${problemId}/`,
        type: "GET",
        success: function(response) {
            $('#editSolutionModal').html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"editSolutionModal"]);
            $('#editSolutionModal').modal('show');
        },
        error: function(xhr) {
            alert("Error loading solutions. Please try again.");
        }
    });
}
function loadNewSolution(problemId) {
    $.ajax({
        url: `/drills/drill/{{drill.id}}/load-new-solution/${problemId}/`,
        type: "GET",
        success: function(response) {
            $('#newSolutionModal').html(response['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"newSolutionModal"]);
            $('#newSolutionModal').modal('show');
            $("#newSolutionModal").modal({keyboard:false,backdrop:'static'})
            $("#newSolutionModal").data("bs.modal")._config.backdrop = "static";
        },
        error: function(xhr) {
            alert("Error loading new solution modal. Please try again.");
        }
    });
}

$(document).on("click","#preview-latex-button", function(e) {
    sol_text = $("#codetext[name=new_solution_text]").val().trim();
    sol_text = '<p>'+sol_text.replace(/</g,' < ').replace(/(?:\r\n|\r|\n)/g,'<br/>')+'</p>';

    sol_text = replace_enumitem(sol_text);
    sol_text = replace_center(sol_text);

    $("#preview-latex").html(sol_text);
    $("#preview-latex").show();
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"preview-latex"]);

});

$(document).on('submit',"#new-solution-form",function(event) {
    event.preventDefault();
    let problemId = $('#ns-pk').val();
    $.ajax({
	type: 'POST',
        url: `/drills/drill/{{drill.id}}/save-new-solution/${problemId}/`,
        data: $(this).serialize()+"&csrfmiddlewaretoken={{ csrf_token }}",
        dataType: 'json',
        success: function(result) {
            $("#solcount-"+problemId).text(result['sol_count']);
            $("#newSolutionModal").html(result['html_code']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"newSolutionModal"]);
            window.location = "#editsolplaceholder_"+result['sol_id'];
	    $("#newSolutionModal").data('bs.modal')._config.backdrop = 'true';
        }
    });
    return false;
});

$(document).on('click',".pre-delete-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[2];
  $("#confirmdelete_"+sol_id).show();
});

$(document).on('click',".copy-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[1];
  var sol_text = $("textarea#latexsol_"+sol_id).val();
  navigator.clipboard.writeText(sol_text);

});

$(document).on('click',".no-delete-sol-link",function(e) {
  var sol_id = $(this).attr('id').split('_')[2];
  $("#confirmdelete_"+sol_id).hide();
});

$(document).on('click',".delete-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: `/drills/drill/{{drill.id}}/delete-solution/${prob_id}/`,
        data: "pk="+prob_id+"&spk="+sol_id+ "&csrfmiddlewaretoken={{ csrf_token }}",
        dataType: 'json',
        success: function(result) {
            if (result['deleted']==1) {
                $("#solution-link_"+prob_id).text("View Solutions ("+result['sol_count']+")");
                $("#num_solutions-"+prob_id).html(result['sol_count']);
                $("#sol_"+sol_id).remove();
                if ($("#all_solutions > div").length == 0) {
                    $("#no-solutions").show();
                }
            }
        }
    });
    return false;
});

$(document).on('click',".edit-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: `/drills/drill/{{drill.id}}/load-edit-single-solution/${prob_id}/`,
        data: "pk="+prob_id+"&spk="+sol_id+ "&csrfmiddlewaretoken={{ csrf_token }}",
        dataType: 'json',
        success: function(result) {
            $("#editsol_"+prob_id+"_"+sol_id).hide();
            $("#editsolplaceholder_"+sol_id).html(result['sol_form']);
            window.location ="#editsolplaceholder_"+sol_id;
        }
    });
    return false;
});

$(document).on('click',".save-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: `/drills/drill/{{drill.id}}/save-solution/${prob_id}/`,
        data: "pk="+prob_id+"&spk="+sol_id+"&solution_text="+encodeURIComponent($("#editsolplaceholder_"+sol_id+" #codetext").val())+ "&csrfmiddlewaretoken={{ csrf_token }}",
        dataType: 'json',
        success: function(result) {
            $("#soltext_"+sol_id).html(result['sol_text']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"soltext_"+sol_id]);
              $("#editsolplaceholder_"+sol_id).empty()
            d = new Date();
            $("#soltext_"+sol_id+" img").each(function(e) {
              url = $(this).attr("src");
              $(this).attr("src",url+"?"+d.getTime());
            });
$("#editsol_"+prob_id+"_"+sol_id).show();
          $("#soltext_"+sol_id).show();

        }
    });
    return false;
});

$(document).on('click',".edit-primitive-preview-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    var prob_label = $(this).attr('id').split('_')[3];
    sol_text = $("#editsolplaceholder_"+sol_id+" #codetext[name=solution_text]").val().trim();


    sol_text = '<p>'+sol_text.replace(/</g,' < ').replace(/(?:\r\n|\r|\n)/g,'<br/>')+'</p>';

    sol_text = replace_images(sol_text,prob_label);
    sol_text = replace_enumitem(sol_text);
    sol_text = replace_center(sol_text);

    $("#preview_soltext_"+sol_id).html(sol_text);
    $("#soltext_"+sol_id).hide();
    $("#preview_soltext_"+sol_id).show();
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"preview_soltext_"+sol_id]);
});

$(document).on('click',".cancel-edit-sol-link",function(event) {
    event.preventDefault();
    var sol_id = $(this).attr('id').split('_')[2];
    var prob_id = $(this).attr('id').split('_')[1];
    $("#editsolplaceholder_"+sol_id).empty()
    $("#soltext_"+sol_id).show();
    $("#editsol_"+prob_id+"_"+sol_id).show();
});

function loadAddBonus() {
    $('#codetext').val("");
    $('#addBonusModal').modal('show');
}

$('#addBonusForm').submit(function(event) {
    event.preventDefault();
    let problemText = $('#bonus_problem_text').val();
    let answer = $('#bonus_Answer').val();
    $.ajax({
        url: `/drills/drill/{{drill.id}}/add-bonus/`,
        type: "POST",
        data: {
            problem_text: problemText,
	    answer: answer,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
	    window.location.reload();
        },
        error: function(xhr) {
            alert("Error adding bonus problem. Please try again.");
        }
    });
});

$(document).on('click',"#edit-author",function(e) {
  e.preventDefault();
  $.ajax({
      type: 'POST',
      url: '/drills/drill/{{drill.id}}/edit-author/',
       data: {
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
      dataType: 'json',
      success: function(result) {
	  $("#author_name").val(result['author']);
	  $("#edit-author-placeholder").modal("show");
      }
  });
  return false;
});


$(document).on('submit',"#editAuthorForm",function(e) {
  e.preventDefault();
  $.ajax({
      type: 'POST',
      url: '/drills/drill/{{drill.id}}/save-author/',
      data: $(this).serialize(),
      dataType: 'json',
      success: function(result) {
	  $("#disp_author_name").html(result['author']);
	  $("#edit-author-placeholder").hide();
	  $("[data-dismiss=modal]").trigger({ type: "click" });
      }
  });
  return false;
});
</script>


{% endblock %}
