  <div class="modal-dialog modal-md" role="document">

    <div class="modal-content">
      <form method="post" action="." id="edit-user-form">
	
        <div class="modal-header">
          <h5 class="modal-title">Edit User: {{user.username}}</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
        <div class="modal-body">
	  <div class="container">
	    <div class="row">
	      <div class="col">
		<div class="form-group">
		  <input type="hidden" name="pk" value="{{user.pk}}">
		  <label for="usertype" class="control-label">User Type</label>
		  <select class="form-control" name="usertype" id="usertype" required>
		    {% for user_type in user_types %}
		    <option value="{{user_type.pk}}"{% if user.userprofile.user_type_new.pk == user_type.pk %} selected{% endif %}>{{user_type.name}}</option>
		    {% endfor %}
		  </select>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-edit-user">Save</button>
        </div>
      </form>
    </div>

  </div>
