{% extends "./base.html" %}

{% block title %}{{username}}'s Activity{% endblock %}

{% load tz %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">{{username}}'s Activity</li>
  </ol>
</nav>
<div class="container">
  <h2>{{username}}'s Activity</h2>
  <div class="row">
    <div class="col">
      {% if log|length == 0 %}
      No actions yet.
      {% else %} 
      <div class="list-group mb-3">
	{% for entry,islinked in log %}
	{% if islinked == True %}
        {% if entry.content_type.name == "solution" %}
        <a href="/{{entry.change_message}}" class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} ({{entry.object_repr}}) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</a>
        {% elif entry.content_type.name == "problem" %}
        <a href="/{{entry.change_message}}" class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} ({{entry.object_repr}}) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</a>
        {% elif entry.content_type.name == "problem approval" %}
        <a href="/{{entry.change_message}}" class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} ({{entry.object_repr}}) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</a>
	{% elif entry.content_type.name == "contest test" %}
        <a href="/{{entry.change_message}}" class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}contest ({{entry.object_repr}}) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</a>
        {% endif %}
	{% else %}
        {% if entry.content_type.name == "solution" %}
        <li class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} (<span style="color:red">{{entry.object_repr}}</span>) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</li>
        {% elif entry.content_type.name == "problem" %}
        <li class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} (<span style="color:red">{{entry.object_repr}}</span>) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</li>
        {% elif entry.content_type.name == "problem approval" %}
        <li class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}{{entry.content_type.name}} (<span style="color:red">{{entry.object_repr}}</span>) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</li>
	{% elif entry.content_type.name == "contest test" %}
        <li class="list-group-item">{% if entry.action_flag == 1 %}Added new {% elif entry.action_flag == 2 %}Edited {% elif entry.action_flag == 3 %}Deleted {% endif %}contest (<span style="color:red">{{entry.object_repr}}</span>) ({{entry.action_time|timezone:request.user.userprofile.time_zone}})</li>
        {% endif %}
	{% endif %}
	{% endfor %}
      </div>
      
      {% if log.has_other_pages %}
      <nav aria-label="Activity log pages">
	<ul class="pagination">
	  {% if log.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ log.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in log.paginator.page_range %}
          {% if log.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
	  
	  
          {% if log.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ log.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
	</ul>
      </nav>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
