<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'randomtest/style.css' %}" />
<link rel="stylesheet" href="{% static 'randomtest/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}" />


<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'js/latexlib.js' %}"></script>

    <title>{% block title %}Random Contest{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{% static 'randomtest/favicon.ico' %}"/>
    
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
/*  MathJax.Hub.Config({TeX: {Macros: {cis: "\\text{cis}\\,", vb: ["{\\left\\langle#1\\right\\rangle}",1],pop: ["{\\text{pop}\\,(#1,#2)}",2,""], overarc : ["{\\stackrel{\\frown}{#1}}",1], textregistered : ["\\enclose{circle}{\\text{R}}"],  pounds: '{\\it\\unicode{xA3}}'},extensions: ["enclose.js","cancel.js"]}});
  MathJax.Hub.Config({config: ["MMLorHTML.js"],
  jax: ["input/TeX","input/MathML","output/HTML-CSS","output/NativeMML"],
		      extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"]});*/
  MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX","input/MathML","output/HTML-CSS"],
      extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
      TeX: {
	  Macros: {cis: "\\text{cis}\\,", vb: ["{\\left\\langle#1\\right\\rangle}",1],pop: ["{\\text{pop}\\,(#1,#2)}",2,""], overarc : ["{\\stackrel{\\frown}{#1}}",1], textregistered : ["\\enclose{circle}{\\text{R}}"],  pounds: '{\\it\\unicode{xA3}}'},
	  extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js", "enclose.js","cancel.js"]
      }
  });
</script>


<!--<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_CHTML">
</script>-->
<script async src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_CHTML"></script>
<!--<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>-->

{% block head %} {% endblock %}

</head>

<body>



  <nav class="navbar navbar-expand-sm navbar-custom bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Random Contest Problems</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
	{% if user.is_authenticated %}
	<p class="navbar-text">Hello, {{user.username}}!&nbsp;&nbsp;&nbsp;</p>

	{% if request.user.userprofile.students.count > 0 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
	    {% for student in request.user.userprofile.students.all %}
            <a class="dropdown-item" href="/randomtest/student/{{student.username}}/">{{student.username}}</a>
            {% endfor %}
	  </div>
        </li>
	{% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu dropdown-menu-right">
	    <a class="dropdown-item" href="{% url 'my_activity' %}">My Activity</a>
{% if user.userprofile.user_type_new.name == "super" or user.userprofile.user_type_new.name == "contestmanager" or user.userprofile.user_type_new.name == "sitemanager" or user.userprofile.user_type_new.name == "manager" or user.userprofile.user_type_new.name == "teacher" or user.userprofile.user_type_new.name == "contestmod" or user.userprofile.user_type_new.name == "student" %}
	    <a class="dropdown-item" href="{% url 'solution_stats' %}">My Solution Stats</a>
	    <a class="dropdown-item" href="{% url 'manage_collaborators' %}">Manage Collaborators</a>
{% endif %}
	    <a class="dropdown-item" href="{% url 'changetimezoneview' %}">Change Time Zone</a>
            <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
	{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
      </div>
    </div>
  </nav>


{% if user.is_authenticated %}
<div class="navig">
  <ul class="nav nav-tabs">
    {% if request.user.userprofile.userclasses.count > 0 %}
    <li class="nav-item"><a class="nav-link {% if nbar == 'student' %}active{% endif %}" href="/student/">My Enrolled Classes</a></li>
    {% endif %}
    {% if request.user.userprofile.user_type_new.name == 'contestmanager' or request.user.userprofile.user_type_new.name == 'super' or request.user.userprofile.user_type_new.name == 'contestmod' %}
    <li class="nav-item"><a class="nav-link {% if nbar == 'teacher' %}active{% endif %}" href="/teacher/">Teacher Tools</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link {% if nbar == 'viewmytests' %}active{% endif %}" href="/randomtest/">View My Tests</a></li>
    <li class="nav-item"><a class="nav-link {% if nbar == 'problemeditor' %}active{% endif %}" href="/problemeditor/">Problem Editor</a></li>
    <li class="nav-item"><a class="nav-link {% if nbar == 'search' %}active{% endif %}" href="/search/">Search</a></li>
    <li class="nav-item"><a class="nav-link {% if nbar == 'contestcollection' %}active{% endif %}" href="/contestcollections/">Contest Collection</a></li>
{% if request.user.userprofile.mock_tests.count > 0%}    <li class="nav-item"><a class="nav-link {% if nbar == 'mocktests' %}active{% endif %}" href="/mocktests/">Mock Tests</a></li>{% endif %}
    <li class="nav-item"><a class="nav-link {% if nbar == 'groups' %}active{% endif %}" href="/problemgroups/">Problem Groups</a></li>
    <li class="nav-item"><a class="nav-link {% if nbar == 'asy' %}active{% endif %}" href="/problemeditor/asy/">Asymptotr</a></li>
</ul>
</div>
{% endif %}
{% block breadcrumbs %}

{% endblock %}

<div class="content">
  {% block content %}
    
  {% endblock %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script>
$(".head-link").on('click',function() {
window.location = '/';
})
</script>
</body>
</html>
