{% extends "./base.html" %}


{% block content %}

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>

<h2>Edit Test: {{test.name}}</h2>
<p>
Drag around problems to reorder them, and then click "Save" to save changes.
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
      <form action="." method="POST" id="problems">
	{% csrf_token %}
	<div id="probList" class="list-group">
	  {% for p in sortableproblems %}
	  <div class="list-group-item">
	    <input type="hidden" name="probleminput" value="problem_{{p.pk}}">
	    <div class="row">
	      <div class="col-sm-1 col-md-1 col-lg-1">
		{{forloop.counter}}.
	      </div>
	      <div class="col-sm-10 col-md-10 col-lg-10">
		{% if p.problem.question_type_new.question_type == "multiple choice" %}
		<p>{% autoescape off %}{{p.problem.display_mc_problem_text|linebreaks}} {% endautoescape %}  [{{p.problem.readable_label}}]</p>
		{% else %}
		<p>{% autoescape off %}{{p.problem.display_problem_text|linebreaks}} {% endautoescape %}  [{{p.problem.readable_label}}]</p>
		{% endif %}
	      </div>
	      <div class="col-sm-1 col-md-1 col-lg-1">
		<div class="js-remove"><span style="color:red; cursor:pointer">✖</span></div>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>
	
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addproblems">Add New Problems</button>
	<button type="submit" class="save btn btn-primary" name="save">Save</button>
      </form>
    </div>
  </div>
</div>


  <div class="modal fade" id="addproblems" role="dialog">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form method="post" action=".">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title">Add Problems</h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}

	    <div class="row">
	      <div class="form-group col-lg-12">
		<label for="keywords">Keywords:</label>
		<input type="text" name="keywords" class="form-control">
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label for="testtype" class="control-label">Problem Type:</label>
		<select name="testtype" class="form-control">
		  {% for typ in types %}
		  <option value="{{typ.type}}">{{typ.label}} Problems</option>
		  {% endfor %}
		</select>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label for="tag" class="control-label">Desired Tag (<a href="/tagcounts/">Tag Counts</a>):</label>
		
		<select name="tag" class="form-control">
		  <option value="">Unspecified</option>
		  {% for t in tags %}
		  <option value="{{t.tag}}">{{t.tag}}</option>
		  {% endfor %}
		</select>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label for="numproblems" class="control-label">Number of Problems:</label>
		<input type="number" name="numproblems" id="numproblems" class="form-control" style="width:75px;">
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label for="probbegin" class="control-label">Range of Problem Numbers (for all problems, leave this blank):</label>
		<div class="form-inline">
		  <input type="number" name="probbegin" style="width: 75px;" class="form-control"> to <input type="number" name="probend" style="width: 75px;" class="form-control">
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12 form-inline">
		<label for="yearbegin" class="control-label">Year Range (for all years, leave this blank):</label>
		<div class="form-inline">
		  <input type="number" name="yearbegin" style="width: 105px;" class="form-control"> to <input type="number" name="yearend" style="width: 105px;" class="form-control">
		</div>
	      </div>
	    </div>
	   

          </div>
          <div class="modal-footer">
            <button type="submit" name="addproblems" class="btn btn-primary">Add Problems</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>

<script type="text/javascript">
var editableList = Sortable.create(probList, {
  filter: '.js-remove',
  onFilter: function (evt) {
    var el = editableList.closest(evt.item); // get dragged item
    el && el.parentNode.removeChild(el);
  }
});

</script>
{% endblock %}
