{% extends "./base.html" %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/randomtest/">My Tests</a></li>
    <li class="breadcrumb-item"><a href="/randomtest/createtest/">New Test</a></li>
    <li class=" breadcrumb-item active">Readme</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>How to Create a Test</h2>
      <p>To create a test, select the categories from which you wish to draw problems. If desired, you can specify the range of problem numbers, say "10 to 15" (if you don't do this, it will draw from all possible problem numbers).</p>
      
      <h2>Initializing the Test</h2>
      <ul>
	<li>Tags and their counts can be viewed by pressing the link on the test creation page.</li>
	<li>To draw problems with a particular tag, select that tag into the "Desired Tag" field.</li>
	<li>If the "Desired Tag" field is left as "Unspecified", it will draw from all problems in the specified test categories.</li>
      </ul>
      <p>If desired, specify the number of problems. If this field is left blank, then the test creator will simply select 10 random problems (or as many as it can if fewer than 10 problems match the specified tags).</p>
      
      <h2>Sharing the Test</h2>
      <p>This site generates the LaTeX code to the random test, should you wish to create a printer-friendly version. This requires use of the LaTeX typesetting system (and the Asymptote vector graphics language if the problems have images). To create the actual pdf, one can use <a href="https://www.overleaf.com">Overleaf</a>. Once you have an account, you can create a new document and copy the code from the Test Creator into the document. If it has errors compiling, this may be due to images. You may need to add the files <a href="https://math.berkeley.edu/~monks/images/olympiad.asy">olympiad.asy</a> and <a href="http://www.mit.edu/~evanchen/handouts/cse5.asy">cse5.asy</a> to the Overleaf project (if you don't see "Add files..." in the upper left hand corner of Overleaf, then click on "Project" and it should appear). The test should display to the right, and you can download the pdf by clicking "pdf" at the top of the screen.
      </p>
    </div>
  </div>
</div>
{% endblock %}
