{% extends './base.html' %}

{% block title %}Solutions: {{problem.readable_label}}{% endblock %}

{% block content %}
{% if username %}
<ol class="breadcrumb">
  <li><a href="/randomtest/">My Tests & Students</a></li>
  <li><a href="../../">{{username}}'s Tests</a></li>
  <li><a href="../">{{testname}}</a></li>
  <li class="active">Solutions to {{problem.readable_label}}</li>
</ol>
{% else %}
<ol class="breadcrumb">
  <li><a href="/randomtest/">My Tests</a></li>
  <li><a href="/randomtest/test/{{testpk}}/">{{testname}}</a></li>
  <li class="active">Solutions to {{problem.readable_label}}</li>
</ol>
{% endif %}
    <h2>Solutions to {{problem.readable_label}}</h2>
<div class="form-group">
<label>Problem Text:</label>
{% if problem.question_type_new.question_type == 'short answer' or problem.question_type_new.question_type == 'proof' %}
<p>{% autoescape off %}{{problem.display_problem_text|linebreaks}} {% endautoescape %}  [{{problem.readable_label}}]</p>
{% else %}
<p>{% autoescape off %}{{problem.display_mc_problem_text|linebreaks}} {% endautoescape %}  [{{problem.readable_label}}]</p>
{% endif %}
</div>
{% if problem.solutions.count > 0 %}
        {% for solution in problem.solutions.all %}
          <h3>Solution {{forloop.counter}}</h3>
	 {% autoescape off %} {{solution.display_solution_text|linebreaks}} {% endautoescape %}<br><br>
        {% endfor %}
{% else %}
No current solutions.
{% endif %}
{% endblock %}
