{% extends "./base.html" %}

{% block head %}
<script type="text/javascript" language="JavaScript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/randomtest/">My Tests</a></li>
  <li class="active">New Test</li>
</ol>
<div class="container">
<div class="row">
<h2>New Test</h2>
<p>Select a tag below, and press the button to get a customized test (Default = 10 problems/max # of problems with tag). To get uncategorized problems, simply leave the tag field unspecified. Submit your answers when you are ready.</p>
<p>For more information, see the <a href="readme">Readme</a>.</p>
</div>
<div class="row">
<form action="." method="post">
  {% csrf_token %}
  <input type="hidden" name="startform" value="start">
  <div class="row">
    <div class="form-group col-lg-3">
      <label for="testname" class="control-label"> Test Name:</label>
      <input type="text" class="form-control" id="testname" name="testname" value="New Test">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-3">
      <label for="testtype" class="control-label">Problem Type:</label>
      {% for typ in types %}
      {% if forloop.counter == 1 %}
      <div class="radio">
	<label>
	  <input type="radio" id="testtype{{forloop.counter}}" name="testtype" value="{{typ.type}}" checked="checked">
	  {{typ.label}} Problems
	</label>
      </div>
      {% else %}
      <div class="radio">
	<label>
	  <input type="radio" id="testtype{{forloop.counter}}" name="testtype" value="{{typ.type}}">
	  {{typ.label}} Problems
	</label>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-lg-5" id="taglist">
      <label for="tag" class="control-label">Desired Tag (<a href="/randomtest/tagcounts/">Tag Counts</a>):</label>
      <select name="tag" class="form-control">
	<option value="">Unspecified</option>
	{% for t in tags %}
	<option value="{{t.tag}}">{{t.tag}}</option>
	{% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-5">
      <label for="numproblems" class="control-label">Number of Problems:</label>
      <input type="number" name="numproblems" id="numproblems" class="form-control" style="width:75px;"> 
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-5">
      <label for="probbegin" class="control-label">Range of Problem Numbers (for all problems, leave this blank):</label>
      <div class="form-inline">
	<input type="number" name="probbegin" style="width: 75px;" class="form-control"> to <input type="number" name="probend" style="width: 75px;" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-5 form-inline">
      <label for="yearbegin" class="control-label">Year Range (for all years, leave this blank):</label>
      <div class="form-inline">
	<input type="number" name="yearbegin" style="width: 105px;" class="form-control"> to <input type="number" name="yearend" style="width: 105px;" class="form-control">
      </div>
    </div>
  </div>
  {% if usertests|length > 0 %}
  <div class="row">
    <div class="form-group">
      <a href="javascript:ReverseDisplay('excludetestlist')">
	Exclude Tests (Click to Show):
      </a>
    
      <div id="excludetestlist" style="display:none">
	
	{% for ut in usertests %}
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="excludetests" value="{{ut.test.pk}}">{{ut.test.name}}<br>
	  </label>
	</div>
	{% endfor %}
	
      </div>
    </div>
  </div>
  {% endif %}
  <button type="submit" class="btn btn-primary" value="New Test">New Test</button>
</form>
</div>
</div>
{% endblock %}
