{% extends "./base.html" %}

{% block head %}
<script language="javascript">
function drawprogressbar(percent,color,barwidth) {
var numpixels=barwidth*percent/100;
document.write("<div style=\"position: relative;line-height: 1em;border: 1px solid black; width: "+barwidth.toString()+"px; height=10px;\">");
document.write("<div style=\"height: 1.5em; width: "+ numpixels.toString()+"px; background-color: "+color+";\"></div>");
document.write("</div>");
}
</script>
{% endblock %}

{% block content %}


{% if username %}
<ol class="breadcrumb">
  <li><a href="/">My Tests & Students</a></li>
  <li class="active">{{username}}'s Tests</li>
</ol>
  <h2>{{username}}'s Tests</h2>
  <div class="col-md-9">
    {% if testcount == 0 %}
    {{username}} has no tests.
    {% endif %}
    {% if currusertests|length > 0 %}

<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add test from my library <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% for cut in currusertests %}
    <li><a href="addtest/{{cut.pk}}">{{cut.name}}</a></li>
    {% endfor %}

  </ul>
</div>
    {% endif %}
{% else %}
  <h2>My Tests</h2>
  <div class="col-md-9">
    {% if testcount == 0 %}
    You don't have any tests. Start by creating a new test <a href="/createtest/">here</a>.
    {% endif  %}
{% endif %}

{% if testcount > 0 %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Types</th>
	<th>Number of Correct Answers</th>
        <th>Number of Problems</th>
	<th>Progress</th>
	<th>Date Added</th>
	<th>Options</th>
      </tr>
    </thead>
    <tbody>
      {% for ut in usertests %}
      <tr>
        <td><a href="{% if username %}{% else %}test/{% endif %}{{ut.pk}}/">{{ut.test.name}}</a></td>
        <td> {% for type in ut.test.types.all %}
	       {{type}}{% if not forloop.last%},{% endif %}
	     {% endfor %}
	</td>
	<td>{{ut.num_correct}}</td>
        <td>{{ut.num_probs}}</td>
	<td><div style="font-size:30%"><script language="javascript">drawprogressbar({{ut.num_correct}}*100/{{ut.num_probs}},{% if ut.num_correct == ut.num_probs %} '#339966'{% else %}'#63cb97'{% endif %},50)</script></div></td>
<!--'#C1E0D1'-->
        <td>{{ut.test.created_date}}</td>
<!--	<td>
	  <form action="edittest/{{tpk}}/" method="post">
	    {% csrf_token %}
	    <button type="submit" name="Edit" value="Edit" class="btn-link">Edit</button>
	  </form>
	</td>-->
	<td>
	  <a href="{% if username %}../../{% else %}{% endif %}viewlatex/{{ut.test.pk}}/">View LaTeX</a>
	</td>
<!--	<td>
	  <a href="delete/{{tpk}}/">Delete</a>
	</td>-->
	<td>
	  <a href="{% if username %}../../{% else %}{% endif %}pdftest/{{ut.test.pk}}/">View PDF</a>
	</td>
<!--	<td>
	  <a href="archive/{{tpk}}/">Archive</a>
	</td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!--
<h2>Archived Tests</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Types</th>
	<th>Number of Correct Answers</th>
        <th>Number of Problems</th>
	<th>Progress</th>
	<th>Date Created</th>
	<th>Options</th>
      </tr>
    </thead>
    <tbody>
      {% for tpk,name,types,num_problems_correct,problems_count,created_date,progress in arows %}
      <tr>
        <td><a href="test/{{tpk}}/">{{name}}</a></td>
        <td> {% for type in types %}
	       {{type}}{% if not forloop.last%},{% endif %}
	     {% endfor %}
	</td>
	<td>{{num_problems_correct}}</td>
        <td>{{problems_count}}</td>
	<td><div style="font-size:30%"><script language="javascript">drawprogressbar({{progress}},{% if num_problems_correct == problems_count %} '#339966'{% else %}'#63cb97'{% endif %},50)</script></div></td>
        <td>{{created_date}}</td>
	<td>
	  <form action="edittest/{{tpk}}/" method="post">
	    {% csrf_token %}
	    <button type="submit" name="Edit" value="Edit" class="btn-link">Edit</button>
	  </form>
	</td>
	<td>
	  <a href="viewlatex/{{tpk}}/">View LaTeX</a>
	</td>
	<td>
	  <a href="delete/{{tpk}}/">Delete</a>
	</td>
	<td>
	  <a href="pdftest/{{tpk}}/">View PDF</a>
	</td>
	<td>
	  <a href="unarchive/{{tpk}}/">Unarchive</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
-->
</div>

<div class="col-md-3">
<table class="table table-bordered centered">
<thead>
<tr>
<th colspan="3">
Number of Problems Solved Today:
</th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="3">
<p style="text-align:center;font-size:40px">{{todaycorrect}}</p>
</td>
</tr>
<tr>
<th colspan="3">
Number of Points Earned Today:
</th>
</tr>
<tr>
<td colspan="3">
<p style="text-align:center;font-size:40px">{{pointtoday}}</p>
</td>
</tr>

<tr>
<td colspan="3"><b>Previous days:</b></td>
</tr>
{% for day,num,point in weekcorrect %} <tr><td>{{day}}</td><td>{{num}}</td><td>{{point}}</td></tr>{% endfor %}
<tr><td colspan="3"><a href="/highscores{% if username %}/{{username}}/{% endif %}">High Scores</a></td></tr>
</tbody>
</table>


{% if frows|length > 0 %}
<table class="table">
<thead>
<tr>
<th>Section</th>
<th>Progress</th>
</tr>
</thead>
<tbody>
{% for section,prog,cor,tot in frows %}
<tr>
<td>
{{section}}
</td>
<td>
<div style="font-size:30%"><script language="javascript">drawprogressbar({{prog}},{% if prog == 100 %} '#339966'{% else %}'#63cb97'{% endif %},125)</script></div>
{{cor}}/{{tot}} ({{prog}}%)
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}


<table class="table table-striped">
    <thead>
      <tr>
        <th>Stickied Problems</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for sticky in stickies %}
      <tr>
        <td><small><a href="{% if username %}{% else %}test/{% endif %}{{sticky.test_pk}}/#{{sticky.problem_label}}">{{sticky.test_label}}</a>: {{sticky.problem_label}}</small></td>
	<td>
	  <small>{{sticky.sticky_date}}</small>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Recent Responses</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for resp in responselog %}
      <tr>
        <td><small><a href="{% if username %}{% else %}test/{% endif %}{{resp.test_pk}}/#{{resp.problem_label}}">{{resp.test_label}}</a>: {{resp.problem_label}}: {% if resp.correct == 1 %} <p style="color:green">{% else %}<p style="color:red">{% endif %}{{resp.response}}</p></small></td>
	<td>
	  <small>{{resp.modified_date}}</small>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
