{% extends "./base.html" %}


{% block content %}
{% load tz %}


{% if username %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/randomtest/">My Tests & Students</a></li>
    <li class="breadcrumb-item active">{{username}}'s Tests</li>
  </ol>
</nav>
{% else %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">My Tests</li>
  </ol>
</nav>
{% endif %}
<div class="container">
  {% if username %}
  <h2>{{username}}'s Tests</h2>
  <div class="row mb-3">
    <div class="col-lg-9">
      {% if testcount == 0 %}
      {{username}} has no tests.
      {% endif %}
      {% if currusertests|length > 0 %}

      <!-- Single button -->
      <div class="dropdown">
	<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Add test from my library
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	  {% for cut in currusertests %}
	  <a class="dropdown-item" href="/randomtest/addtest/{{cut.pk}}">{{cut.name}}</a>
	  {% endfor %}
	</div>
      </div>
      {% endif %}
    </div>
  </div>
  {% else %}
  <h2>My Tests</h2>
  <div class="row mb-3">
    <div class="col-lg-9">
      {% if testcount == 0 %}
      <p>You don't have any tests. Start by creating a new test <a href="/randomtest/createtest/">here</a>.</p>
      {% else %}
      <p><a class="btn btn-primary" href="/randomtest/createtest/">Create a New Test</a></p>
      {% endif  %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-9">
      {% if testcount > 0 %}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Test Name</th>
            <th>Types</th>
	    <th>Progress</th>
	    <th>Date Added</th>
	    <th>Options</th>
	  </tr>
	</thead>
	<tbody>
	  {% for ut in usertests %}
	  <tr id="test-{{ut.pk}}">
            <td><a href="{% if username %}{% else %}test/{% endif %}{{ut.pk}}/"><span id="name-{{ut.pk}}">{{ut.test.name}}</span></a></td>
            <td> {% for type in ut.test.types.all %}
	      {{type}}{% if not forloop.last%},{% endif %}
	      {% endfor %}
	    </td>
	    <td style="text-align:right;width:100px;">
{{ut.num_correct}}/{{ut.num_probs}} 

<div class="progress">
<script>document.write("<div class='progress-bar{% if ut.num_correct != ut.num_probs %} progress-bar-striped{% endif %} bg-success' role='progressbar' style='width:"+Math.round({{ut.num_correct}}*100/Math.max({{ut.num_probs}},1)).toString()+"%' aria-valuenow='"+Math.round({{ut.num_correct}}*100/Math.max({{ut.num_probs}},1)).toString()+"' aria-valuemin='0' aria-valuemax='100'>"+"</div>");</script>
</div>

	    </td>
	    <!--'#C1E0D1'-->
            <td>{{ut.test.created_date|timezone:request.user.userprofile.time_zone|date:"m/d/y h:i a"}}</td>
	    <td>
	      <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
		<div class="btn-group btn-group-sm" role="group">
		  <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Options
		  </button>
		  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
		    <a class="dropdown-item" href="{% if username %}../../{% else %}{% endif %}pdftest/{{ut.test.pk}}/">View PDF</a>
		    <a class="dropdown-item" href="viewlatex/{{ut.test.pk}}/">View LaTeX</a>
		    <a class="dropdown-item" href="{% if username %}../../{% else %}{% endif %}pdfsoltest/{{ut.test.pk}}/">View Solution PDF</a>
		    <a class="dropdown-item" href="viewlatexsol/{{ut.test.pk}}/">View Solution LaTeX</a>
		  </div>
		</div>
		<button type="button" class="btn btn-danger delete-test" id="delete_btn-{{ut.pk}}"><span class="fa fa-remove"></span></button>
	      </div>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <table class="table table-bordered centered">
	<thead>
	  <tr>
	    <th colspan="3">
	      Number of Problems Solved Today:
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td colspan="3">
	      <p style="text-align:center;font-size:40px">{{todaycorrect}}</p>
	    </td>
	  </tr>
	  <tr>
	    <th colspan="3">
	      Number of Points Earned Today:
	    </th>
	  </tr>
	  <tr>
	    <td colspan="3">
	      <p style="text-align:center;font-size:40px">{{pointtoday}}</p>
	    </td>
	  </tr>
	  
	  <tr>
	    <td colspan="3"><b>Previous days:</b></td>
	  </tr>
	  {% for day,num,point in weekcorrect %} <tr><td>{{day}}</td><td>{{num}}</td><td>{{point}}</td></tr>{% endfor %}
	  <tr><td colspan="3"><a href="/randomtest/highscores{% if username %}/{{username}}/{% endif %}">High Scores</a></td></tr>
	</tbody>
      </table>


      {% if frows|length > 0 %}
      <table class="table">
	<thead>
	  <tr>
	    <th>Section</th>
	    <th>Progress</th>
	  </tr>
	</thead>
	<tbody>
	  {% for section,prog,cor,tot in frows %}
	  <tr>
	    <td>
	      {{section}}
	    </td>
	    <td style="width:125px;">
	      <div class="progress">
		<script>document.write("<div class='progress-bar{% if prog != 100 %} progress-bar-striped{% endif %} bg-success' role='progressbar' style='width:"+{{prog}}+"%' aria-valuenow='"+{{prog}}+"' aria-valuemin='0' aria-valuemax='100'>"+"</div>");</script>
	      </div>
	      {{cor}}/{{tot}} ({{prog}}%)
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
      
      
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Stickied Problems</th>
            <th>Date</th>
	  </tr>
	</thead>
	<tbody>
	  {% for sticky in stickies %}
	  <tr>
            <td><small><a href="{% if username %}{% else %}test/{% endif %}{{sticky.test_pk}}/#{{sticky.problem_label}}">{{sticky.test_label}}</a>: {{sticky.problem_label}}</small></td>
	    <td>
	      <small>{{sticky.sticky_date}}</small>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Recent Responses</th>
            <th>Date</th>
	  </tr>
	</thead>
	<tbody>
	  {% for resp in responselog %}
	  <tr>
            <td>
	      {% if resp.usertest %}
	      <small><a href="{% if username %}{% else %}test/{% endif %}{{resp.test_pk}}/#{{resp.problem_label}}">{{resp.test_label}}</a>: {{resp.problem_label}}: {% if resp.correct == 1 %} <p style="color:green">{% else %}<p style="color:red">{% endif %}{{resp.response}}</p></small>
	      {% else %}
	      <small><span style="color:red;">{{resp.test_label}}</span>: {{resp.problem_label}}:{% if resp.correct == 1 %} <p style="color:green">{% else %}<p style="color:red">{% endif %}{{resp.response}}</p></small>
	      {% endif %}
	    </td>
	    <td>
	      <small>{{resp.modified_date}}</small>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

  <div class="modal fade" id="confirm-delete-modal" role="dialog">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form method="post" action="." id="delete-test-form">

          <div class="modal-header">
            <h5 class="modal-title">Delete test?</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
	    Are you sure you want to delete the test "<span id='delete-title'></span>"?
            <input type="hidden" name="test-pk" id="test-pk">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" name="deletetest" class="btn btn-primary">Delete</button>
          </div>
        </form>
      </div>

    </div>
  </div>

<script>
$(document).on('click',".delete-test",function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('-')[1];
  $("#delete-title").text($("#name-"+pk).text());
  $("#test-pk").val(pk);
  $("#confirm-delete-modal").modal("show");

});
$(document).on('submit',"#delete-test-form",function(e) {
  e.preventDefault();
  $("#confirm-delete-modal").hide();
  $("[data-dismiss=modal]").trigger({ type: "click" });
  $.ajax({
    type: 'POST',
    url: '/randomtest/ajax/deletetest/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(data) {
      console.log('hi')
      if (data['s'] == 1) {
console.log('test-'+data['pk']);
        $("#test-"+data['pk']).fadeOut();
      }
    }
  });
});

</script>
{% endblock %}
    
