{% extends "./base.html" %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/randomtest/">My Tests</a></li>
    <li class="breadcrumb-item"><a href="/randomtest/createtest/">New Test</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tag Counts</li>
  </ol>
</nav>
<div class="container">
<h2>Tag Counts</h2>
<div class="row">
<div class="col">
<table class="table" style="width:70%">
<thead>
 <tr>
  {% for type in typeheaders %}
    <th>{{type}}</th>
  {% endfor %}
 </tr>
</thead>
<tbody>
{% for tagrow in tagrows %}
 <tr>
   {% for type in tagrow %}
    <td>
      {% for ent in type %}
       {{ent}}
      {% endfor %}
    </td>
   {% endfor %}
 </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
