{% extends "./base.html" %}

{% block content %}
<h2>{{name}}</h2>
<p><b>Note:</b> To save starred problems, please click "Submit Answers."</p>
<form action="." method="POST">
{% csrf_token %}
<input type="hidden" name="startform" value="{{pk}}">
<table>
{% for label,answer,response,qt,ppk,solnum,att,moddate,stickied in rows %}
<tr>
<td>
<a name="{{label}}"></a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem {{forloop.counter}}</h3>
  </div>
  <div class="panel-body">
<!--    Panel content-->
<img src="{{dropboxpath}}{{label}}j.jpg"/>

  </div>
</div>

<p>
{% if qt.question_type == 'short answer' %}
<!--Answer to Problem {{forloop.counter}}: <input type="text" name="answer{{label}}" value="{{response}}"> -->
<div class="col-lg-3">
  <div class="form-group">
    <label for="usr">Answer to Problem {{forloop.counter}}:</label>
    <input type="text" class="form-control" name="answer{{label}}" value="{{response}}">
  </div>
</div>
{% if att %}
{% if answer == response %}
<img id="cuteAnswer{{label}}" src="{{dropboxpath}}Green.png"/> {% if solnum > 0 %}(<a href="{{ppk}}">Solution</a>){% endif %}
{% else %}
<img id="cuteAnswer{{label}}" src="{{dropboxpath}}Red.png"/>
{% endif %}
Last Attempted: {{moddate}}
{% endif %}
{% endif %}

{% if qt.question_type == 'multiple choice' %}
Answer to Problem {{forloop.counter}}: 
<input type="radio" name="answer{{label}}" value="A" {% if response == "A" %}checked="checked"{% endif %}> A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{label}}" value="B" {% if response == "B" %}checked="checked"{% endif %}> B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{label}}" value="C" {% if response == "C" %}checked="checked"{% endif %}> C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{label}}" value="D" {% if response == "D" %}checked="checked"{% endif %}> D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{label}}" value="E" {% if response == "E" %}checked="checked"{% endif %}> E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if att %}
{% if answer == response %}
<img id="cuteAnswer{{label}}" src="{{dropboxpath}}Green.png"/> {% if solnum > 0 %}(<a href="{{ppk}}">Solution</a>){% endif %}
{% else %}
<img id="cuteAnswer{{label}}" src="{{dropboxpath}}Red.png"/>
{% endif %}
Last Attempted: {{moddate}}
{% endif %}
{% endif %}
</p>



</td>
<td valign="top"><br>
&nbsp;<input type="checkbox" class="glyphicon glyphicon-star-empty" {% if stickied == 1 %}checked{% endif %} name="sticky{{label}}" >
</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Submit Answers" />
</form>
{% endblock %}
