{% extends "./base.html" %}

{% block content %}
<ol class="breadcrumb">
{% if username %}
  <li><a href="/">My Tests & Students</a></li>
  <li><a href="../">{{username}}'s Tests</a></li>
{% else %}
  <li><a href="/">My Tests</a></li>
{% endif %}
  <li class="active">{{name}}</li>
</ol>
<h2>{{name}}</h2>

{% if username %}
{% else %}
<p><b>Note:</b> To save starred problems, please click "Submit Answers."</p>
{% endif %}

{% if username %}{% else %}
<form action="." method="POST">
{% csrf_token %}
<input type="hidden" name="startform" value="{{pk}}">
{% endif %}
<table>
{% for resp in rows %}
<tr>
<td>
<a name="{{resp.problem.label}}"></a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem {{forloop.counter}}</h3>
  </div>
  <div class="panel-body">
{% if resp.problem.question_type_new.question_type == 'short answer' or resp.problem.question_type_new.question_type == 'proof' or resp.problem.question_type_new.question_type == 'multiple choice short answer' %}
{% autoescape off %}{{resp.problem.display_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{resp.problem.readable_label}}]</span><br>
{% else %}
{% autoescape off %}{{resp.problem.display_mc_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{resp.problem.readable_label}}]</span><br>
{% endif %}

  </div>
</div>

<p>
{% if resp.problem.question_type_new.question_type == 'short answer' %}
<div class="col-lg-3">
  <div class="form-group">
    <label for="usr">Answer to Problem {{forloop.counter}}:</label>
    <input type="text" class="form-control" name="answer{{resp.problem.label}}" value="{{resp.response}}" {% if username %}disabled{% else %}{% if resp.problem.answer == resp.response %}disabled{% endif %}{% endif %}>{% if username %} (Correct answer: {{resp.problem.answer}}){% endif %}
  </div>
</div>
{% if resp.attempted %}
{% if resp.problem.answer == resp.response %}
<img id="cuteAnswer{{resp.problem.label}}" src="/media/Green.png"/> {% if username %}{% else %}
({% if resp.problem.solutions.count > 0 %}<a data-target="#solution-placeholder" class="solution-link" id="solution-link" href="load_sol/{{resp.problem.pk}}/">Solution</a>{% else %}<span style="color:red">Solution</span>{% endif %})
{% endif %}
{% else %}
<img id="cuteAnswer{{resp.problem.label}}" src="/media/Red.png"/>
{% endif %}
Last Attempted: {{resp.modified_date}}
{% endif %}
{% endif %}

{% if resp.problem.question_type_new.question_type == 'multiple choice' %}
Answer to Problem {{forloop.counter}}: 
<input type="radio" name="answer{{resp.problem.label}}" value="A" {% if resp.response == "A" %}checked="checked"{% endif %} {% if username %}disabled{% endif %}> A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{resp.problem.label}}" value="B" {% if resp.response == "B" %}checked="checked"{% endif %} {% if username %}disabled{% endif %}> B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{resp.problem.label}}" value="C" {% if resp.response == "C" %}checked="checked"{% endif %} {% if username %}disabled{% endif %}> C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{resp.problem.label}}" value="D" {% if resp.response == "D" %}checked="checked"{% endif %} {% if username %}disabled{% endif %}> D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="answer{{resp.problem.label}}" value="E" {% if resp.response == "E" %}checked="checked"{% endif %} {% if username %}disabled{% endif %}> E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if username %} (Correct answer: {{resp.problem.answer}}){% endif %}
{% if resp.attempted  %}
{% if resp.problem.answer == resp.response %}
<img id="cuteAnswer{{resp.problem.label}}" src="/media/Green.png"/> {% if username %}{% else %}({% if resp.problem.solutions.count > 0 %}<a data-target="#solution-placeholder" class="solution-link" id="solution-link" href="load_sol/{{resp.problem.pk}}/">Solution</a>{% else %}<span style="color:red">Solution</span>{% endif %})
{% endif %}
{% else %}
<img id="cuteAnswer{{resp.problem.label}}" src="/media/Red.png"/>
{% endif %}
Last Attempted: {{resp.modified_date}}
{% endif %}
{% endif %}

{% if username %}

({% if resp.problem.solutions.count > 0 %}<a data-target="#solution-placeholder" class="solution-link" id="solution-link" href="load_sol/{{resp.problem.pk}}/">Solution</a>{% else %}<span style="color:red">Solution</span>{% endif %})
{% endif %}
</p>



</td>
<td valign="top"><br>
&nbsp;<input type="checkbox" class="glyphicon glyphicon-star-empty" {% if resp.stickied == 1 %}checked{% endif %} name="sticky{{resp.problem.label}}" {% if username %}disabled{% endif %}>
</td>
</tr>
{% endfor %}
</table>
{% if username %}{% else %}<button type="submit" class="btn btn-primary" value="Submit Answers" />Submit Answers</button>
</form>
{% endif %}

<div id="solution-placeholder" class="modal fade" role="dialog">

</div>
<script>
$(".solution-link").click(function(event) {
    event.preventDefault();
    var target = $(this).attr("href");


    $("#solution-placeholder").load(target, function() {
         MathJax.Hub.Queue(["Typeset",MathJax.Hub,"solution-placeholder"]);
         $("#solution-placeholder").modal("show");
    });
});
</script>

{% endblock %}
