{% extends "./base.html" %}

{% block content %}
<h2>{% if name %}{{name}}{% else %}Temporary Test{% endif %}</h2>



<table>
{% for texcode,readablelabel in rows %}
<tr>
<td>
<a name="{{label}}"></a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem {{forloop.counter}}</h3>
  </div>
  <div class="panel-body">
{% autoescape off %}{{texcode|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{readablelabel}}]</span><br>
  </div>
</div>


</td>
</tr>
{% endfor %}
</table>
{% endblock %}
