{% if sharing_type == 'own' %}
          <tr>
            <td><a href="{{pg.pk}}/">{{pg.name}}</a></td>
            <td>{{pg.problems.count}}</td>
            <td>{{pg.created_date}}</td>
            <td style="text-align:center"><button class="edit-sharing btn btn-sm btn-secondary" id="sharing-{{pg.pk}}"><span class="fa fa-users"></span> Owner</button></td>
            <td style="text-align:right"><a href="{{pg.pk}}/delete/"><span class="fa fa-remove" style="color:#ff0000"></span></a></td>
          </tr>
{% endif %}
{% if sharing_type == 'coown' %}
          <tr>
            <td><a href="{{pg.pk}}/">{{pg.name}}</a></td>
            <td>{{pg.problems.count}}</td>
            <td>{{pg.created_date}}</td>
            <td style="text-align:center"><button class="edit-sharing btn btn-sm btn-secondary" id="sharing-{{pg.pk}}"><span class="fa fa-users"></span> Owner</button></td>
            <td style="text-align:right"><a href="{{pg.pk}}/remove/"><span class="fa fa-remove" style="color:#ff0000"></span></a></td>
          </tr>
{% endif %}
{% if sharing_type == 'edit' %}
          <tr>
            <td><a href="{{pg.pk}}/">{{pg.name}}</a></td>
            <td>{{pg.problems.count}}</td>
            <td>{{pg.created_date}}</td>
            <td style="text-align:center"><button class="edit-sharing btn btn-sm btn-secondary" id="sharing-{{pg.pk}}"><span class="fa fa-users"></span> Editor</button></td>
            <td style="text-align:right"><a href="{{pg.pk}}/remove/"><span class="fa fa-remove" style="color:#ff0000"></span></a></td>
          </tr>
{% endif %}
{% if sharing_type == 'read' %}
          <tr>
            <td><a href="{{pg.pk}}/">{{pg.name}}</a></td>
            <td>{{pg.problems.count}}</td>
            <td>{{pg.created_date}}</td>
            <td style="text-align:center">Viewer</td>
            <td style="text-align:right"><a href="{{pg.pk}}/remove/"><span class="fa fa-remove" style="color:#ff0000"></span></a></td>
          </tr>
{% endif %}
