  <div class="row">
    <div class="col-12">
      <div id="problemList" class="list-group">
        {% for prob_obj in rows %}
	{% with prob=prob_obj.problem %}
	{% if rows.start_index %}
	{% include 'problemeditor/problem-snippets/paginated-list-item.html' with forcount=forloop.counter|add:rows.start_index|add:-1 %}
	{% else %}
	{% include 'problemeditor/problem-snippets/paginated-list-item.html' with forcount=forloop.counter %}
	{% endif %}
	{% endwith %}
        {% endfor %}
      </div><!--list-group-->
    </div>
  </div>


  <div class="row">
    <div class="col">
      {% if rows.has_other_pages %}
      <nav aria-label="Search result pages">
        <ul class="pagination">
          {% if rows.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.previous_page_number }}{% if exacttag %}&exact=true{% endif %}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in rows.paginator.page_range %}
          {% if rows.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
{% if rows.number|add:-3 < i and rows.number|add:3 > i %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}{% if exacttag %}&exact=true{% endif %}">{{ i }}</a></li>
{% elif forloop.last %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}{% if exacttag %}&exact=true{% endif %}</a></li>
{% elif forloop.first %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}{% if exacttag %}&exact=true{% endif %}</a></li>
{% elif i == 2 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% elif i == rows.paginator.page_range|length|add:-1 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% endif %}
          {% endif %}
          {% endfor %}


          {% if rows.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.next_page_number }}{% if exacttag %}&exact=true{% endif %}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>


  {% include 'problemeditor/problem-snippets/modals/modal-placeholders.html' %}

