{% with prob=po.problem %}
          <div class="list-group-item problem-object" id="problem-object_{{po.pk}}">
            <div class="row mb-1">
              <div class="col-12 float-right">

                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Problem options">
                  <button type="button" class="btn btn-sm btn-secondary view-sol-link mr-1" id="view-sol_{{prob.pk}}" title="View Solutions">Solutions ({{prob.solutions.count}})</button>
                  <button type="button" class="btn btn-sm  btn-secondary copy-latex-link" id="copylatex_{{prob.pk}}"><span class="fa fa-copy"></span></button>
                  <button type="button" class="btn btn-sm btn-secondary fullscreen-disp-link" id="fs_{% if prob.question_type_new.question_type == "multiple choice" %}mc{% else %}sa{% endif %}_{{prob.pk}}"><span class="fa fa-desktop"></span></button>


		<div class="btn-group btn-group-sm float-right" role="group" aria-label="Problem sorting options">
		  <button type="button" class="btn btn-sm btn-secondary push-up-link ml-1" id="push-up_{{po.pk}}" title="Push problem to top"><span class="fa fa-long-arrow-up"></span></button>
		  <button type="button" class="btn btn-sm btn-secondary push-up-5-link" id="push-up-5_{{po.pk}}" title="Push problem five spots up"><span class="fa fa-arrow-up"></span></button>
		  <button type="button" class="btn btn-sm btn-secondary push-up-1-link" id="push-up-1_{{po.pk}}" title="Push problem one spot up"><span class="fa fa-angle-up"></span></button>
		  <button type="button" class="btn btn-sm btn-secondary push-down-1-link" id="push-down-1_{{po.pk}}" title="Push problem one spot down"><span class="fa fa-angle-down"></span></button>
		  <button type="button" class="btn btn-sm btn-secondary push-down-5-link" id="push-down-5_{{po.pk}}" title="Push problem five spots down"><span class="fa fa-arrow-down"></span></button>
		  <button type="button" class="btn btn-sm btn-secondary push-down-link mr-1" id="push-down_{{po.pk}}" title="Push problem to bottom"><span class="fa fa-long-arrow-down"></span></button>
		</div>


{% if can_delete %}
                  <button type="button" class="btn btn-sm btn-danger delete-problem-link"><span class="fa fa-remove"></span></button>
{% endif %}
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-1">
                {{forcount}}.<br>
                <input type="checkbox" name="chk" value="{{prob.label}}" onclick="fixchecks()" checked>
                <input type="hidden" name="probs" value="{{prob.label}}">
              </div>
              <div class="col-11">
                {% if prob.question_type_new.question_type == 'multiple choice' %}
                <div id="mc_prob_text_{{prob.pk}}">{% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}</div>  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
                <div class="answer" style="display:none">Answer: {{prob.mc_answer}}</div>
                <textarea id="latex_{{prob.pk}}" style="display:none">{{prob.mc_problem_text}}<br><br>{{prob.answers}}</textarea>
                {% else %}
                <div id="sa_prob_text_{{prob.pk}}">{% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}</div>  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
                {% if prob.question_type_new.question_type != "proof" %}
                <div class="answer" style="display:none">Answer: ${{prob.sa_answer}}$</div>
                {% endif %}
                <textarea id="latex_{{prob.pk}}" style="display:none">{{prob.problem_text}}</textarea>
                {% endif %}
              </div>
            </div>
          </div>
{% endwith %}
