{% extends "randomtest/base.html" %}

{% block title %}
Problem Group: {{prob_group.name}}
{% endblock %}

{% block content %}
<script type="text/javascript">
function togglemarked() {
    var y=document.getElementById("problems");
    lang=y.elements.length;

    check=0;
    for (i=0;i< lang;i++) {
        if (y.elements[i].name == "chk" && y.elements[i].checked==false) {
            check=1;
        }
    }
    if (check==1) {
        for (i=0;i < lang;i++) {
            y.elements[i].checked=true;
        }
    } else {
        for (i=0;i < lang;i++) {
            y.elements[i].checked=false;
        }
    }
}
function fixchecks() {
    var y=document.getElementById("problems");
    lang=y.elements.length;

    allchecked=1;
    allunchecked=1;
    for (i=0;i < lang;i++) {
        if (y.elements[i].name == "chk") {
            if (y.elements[i].checked==false) {
                allchecked=0;
            } else {
                allunchecked=0;
            }
        }
    }
    z=document.getElementById("toggler");
    if (allchecked==1) {
        z.checked=true;
        z.indeterminate=false;
    } else if (allunchecked==1) {
        z.checked=false;
        z.indeterminate=false;
    } else {
	z.indeterminate=true;
    }
}
</script>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemgroups/">My Problem Groups</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{prob_group.name}}</li>
  </ol>
</nav>

<div class="container">
  <h2>Problem Group: {{prob_group.name}}</h2>
  <div class="row">
    <div class="col-10">
      <p>There are {{prob_group.problems.count}} problems in this group.</p>
      {% if can_delete %}
      <p>If you remove problems, you must click "Save" for your changes to be saved.</p>
      {% endif %}
    </div>
    <div class="col-2" style="text-align:right">
      <p><button class="btn btn-primary mb-1" id="view-PDF">View as PDF</button></p>
      <p><button class="btn btn-primary" id="view-latex">View LaTeX</button></p>
    </div>
    
  </div>
  <div class="row">
    <div class="col-10">
      {% if prob_group.problems.count > 0 %}
	<form action="." method="POST" id="problems">
	{% csrf_token %}
	<p class="ml-4"><input type="checkbox" id="toggler" onclick="togglemarked()" checked> Select/Deselect All</p>
	<input type="hidden" name="startform" value="{{prob_group.pk}}">
	<div class="list-group mb-3">	  
	  {% for prob in prob_group.problems.all %}
	  <div class="list-group-item">
	    <div class="row">
	      <div class="col-1">
		{{forloop.counter}}.<br>
		<input type="checkbox" name="chk" value="{{prob.label}}" onclick="fixchecks()" checked>
		<input type="hidden" name="probs" value="{{prob.label}}">
	      </div>
	      <div class="col-10">
		{% if prob.question_type_new.question_type == 'multiple choice' %}
		{% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
		<textarea id="latex_{{prob.pk}}" style="display:none">{{prob.mc_problem_text}}<br><br>{{prob.answers}}</textarea>
		{% else %}
                {% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
		<textarea id="latex_{{prob.pk}}" style="display:none">{{prob.problem_text}}</textarea>
		{% endif %}
	      </div>
	      {% if can_delete %}
	      <div class="col-1" style="text-align:right">
		<div class="btn-group btn-group-sm float-right" role="group" aria-label="Solution options">
		  <button type="button" class="btn btn-sm  btn-secondary copy-latex-link" id="copylatex_{{prob.pk}}"><span class="fa fa-copy"></span></button>
		  <button type="button" class="btn btn-sm btn-danger delete-problem-link"><span class="fa fa-remove"></span></button>
		</div>
	      </div>
	      {% endif %}
	    </div>
	  </div>
	  {% endfor %}
	</div>
	{% if can_delete %}	
	<div id="save-message" class="alert alert-success" style="display:none;" role="alert">Save successful!</div>
	<span><button type="submit" class="btn btn-primary" id="save-prob-group" name="save" value="save">Save</button></span><span class="float-right"><button class="btn btn-danger" id="delete-selected-problems">Delete Selected Problems</button></span>
	{% endif %}
        </form>
      {% else %}
    <p>There are no problems currently in this group. Use the <a href="/search/">Search</a> tab to add problems.</p>
    {% endif %}
    <h2>Add Selected Problems to Other Problem Group</h2>
    

    <form action="." method="post" class="js-problem-group-form mb-3">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request}}">
      <!--                <label for="add_to_problemgroup">Add to Problem Group:</label>-->
      <select name="add_to_problemgroup" class="js-problem-group-select form-control">
        <option value="" disabled selected>Select a Group</option>
        {% for pg in prob_groups %}
        <option value="{{pg.pk}}">{{pg.name}}
        </option>
        {% endfor %}
      </select>
      <div id="adding-status" class="js-adding-status">
	
      </div>
    </form>





    <h2>Create a Test from Selected Problems</h2>
    <form action="." method="POST" id="new-test-form">
      {% csrf_token %}
      <p>
	<label for="testname">Name of test:</label>
	<input type="text" name="testname" value="New Test" class="form-control">
      </p>
      <div id="error-message" style="display:none">
	<div class="alert alert-danger">
	  No problems checked!
	</div>
      </div>
      <p><button type="submit" class="btn btn-primary" name="newtest" value="newtest">Create Test</button><span class="fa fa-spinner fa-spin fa-3x fa-fw" style="display:none" id="loading"></span></p>
    </form>
  </div>
</div>
</div>  


<div id="unsaved-message" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-warning">
    You have unsaved changes! Please click "Save" before navigating away.
  </div>
</div>


<div class="modal fade" id="PDF-options" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="get" action="pdf/" id="PDF-form">
        <div class="modal-header">
          <h5 class="modal-title">View Problem Group as PDF</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
	  <div class="container">
	    <div class="row">
	      <div class="col">
		Select Options
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="include-acs" name="include-acs" checked>
		  <label class="form-check-label" for="include-acs">
		    Include Answer Choices
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="include-pls" name="include-pls" checked>
		  <label class="form-check-label" for="include-pls">
		    Include Problem Labels
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="include-tags" name="include-tags">
		  <label class="form-check-label" for="include-tags">
		    Include Tags
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="include-sols" name="include-sols">
		  <label class="form-check-label" for="include-sols">
		    Include Solutions
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="include-ans" name="include-ans">
		  <label class="form-check-label" for="include-ans">
		    Include Answers
		  </label>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="download-PDF" class="btn btn-primary" value="pdf">Download PDF</button>
        </div>
      </form>
    </div>
    
  </div>
</div>

<div class="modal fade" id="latex-options" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="get" action="latex/" id="latex-form">
        <div class="modal-header">
          <h5 class="modal-title">View Problem Group LaTeX</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
	  <div class="container">
	    <div class="row">
	      <div class="col">
		Select Options
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="l-include-acs" name="include-acs" checked>
		  <label class="form-check-label" for="l-include-acs">
		    Include Answer Choices
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="l-include-pls" name="include-pls" checked>
		  <label class="form-check-label" for="l-include-pls">
		    Include Problem Labels
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="l-include-sols" name="include-sols">
		  <label class="form-check-label" for="l-include-sols">
		    Include Solutions
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="l-include-ans" name="include-ans">
		  <label class="form-check-label" for="l-include-ans">
		    Include Answers
		  </label>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit"  name="view-latex" class="btn btn-primary" value="latex">View LaTeX</button>
        </div>
      </form>
    </div>
  </div>

</div>




<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			    break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});


$(document).on('click',".delete-problem-link", function(e) {
  $(this).closest('.list-group-item').remove();
  fixchecks();
  $("#save-message").hide();
  $("#unsaved-message").show();
});

$(document).on('submit',"#problems",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "/problemgroups/ajax/savegroup/",
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {
      $("#unsaved-message").hide();
      $("#save-message").show();
      setTimeout(function() {
        $("#save-message").fadeOut();
      },5000);
    }
  });
  return false;
});

$(document).on('submit',"#new-test-form",function(e) {
  e.preventDefault();
$("#loading").show();
  $.ajax({
    type: 'POST',
    url: "/problemgroups/ajax/create-test/",
    data: $("#problems").serialize()+'&'+$("#new-test-form").serialize(),
    dataType: 'json',
    success: function(result) {
      if ('error-message' in result) {
$("#loading").hide();
        $("#error-message").show();
        setTimeout(function() {
          $("#error-message").fadeOut();
        },5000);
      } else {
        if ('url' in result) {
          window.location.href = result['url'];
        }
      }
    }
  });
  return false;
});

$(document).on('click','#view-PDF',function(e) {
  e.preventDefault();
  $("#PDF-options").modal("show");
});

$(document).on('submit','#PDF-form',function(e) {
    e.preventDefault();
    var form = this;
    form.submit();
    $("#PDF-options").modal('hide');

    return false;
});

$(document).on('click','#view-latex',function(e) {
  e.preventDefault();
  $("#latex-options").modal("show");
});

$(document).on('submit','#latex-form',function(e) {
    e.preventDefault();
    var form = this;
    form.submit();
    $("#latex-options").modal('hide');

    return false;
});


$(document).on('change', "select.js-problem-group-select",function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '/problemgroups/ajax/add-to-group/',
        data: form.serialize()+"&"+$("#problems").serialize(),
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 2) {
$("#adding-status").html("<div class='alert alert-success' role='alert'>Problems have been added to group "+data['name']+".</div>");
$("#adding-status").show();
$(".js-problem-group-select").val("");
setTimeout(function() {
$("#adding-status").fadeOut().empty();
},5000);
            } else if (data['status'] == 1) {
$("#adding-status").html("<div class='alert alert-warning' role='alert'>No problems selected.</div>");
$("#adding-status").show();
$(".js-problem-group-select").val("");
setTimeout(function() {
$("#adding-status").fadeOut().empty();
},5000);

            } else {
$("#adding-status").html("<div class='alert alert-warning' role='alert'>All selected problems are already in group "+data['name']+".</div>");
$("#adding-status").show();
$(".js-problem-group-select").val("");
setTimeout(function() {
$("#adding-status").fadeOut().empty();
},5000);
            }

        }
    });
    return false;
});
$(document).on('click',"#delete-selected-problems",function(e) {
  e.preventDefault();
  var work = 0;
  $("#problems input:checkbox:checked").each(function() {
    work = 1;
    $(this).closest('.list-group-item').remove();
  });
  if (work == 1) {
    fixchecks();
    $("#save-message").hide();
    $("#unsaved-message").show();
  }
});

$(document).on('click',".copy-latex-link",function(e) {
  var prob_id = $(this).attr('id').split('_')[1];
  var prob_text = $("textarea#latex_"+prob_id).val().replace('<br>','\n\r').replace('<br>','\n\r');
  var aux = document.createElement("textarea");
  aux.innerHTML =  prob_text;
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);
});
</script>
{% endblock %}
  
