{% extends "randomtest/base.html" %}

{% block title %}Random Contest Search Results{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemgroups/">My Problem Groups</a></li>
    <li class="breadcrumb-item"><a href="/problemgroups/{{prob_group.pk}}/">{{prob_group.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search Results</li>
  </ol>
</nav>


<div class="container">
<div class="row">
<div class="col-lg-9">
  <h2>Search results</h2>
<p>Keywords: "{{searchterm}}"</p>
{% if testtypes %}
<p>
{% if testtypes|length > 1 %}
Types:<br>
{% else %}
Type:<br>
{% endif %}
<ul class="list-group-horizontal">
{% for t in testtypes %}
<li class="list-group-item list-group-item-info">
{{t}}
</li>
{% endfor %}
</ul>
</p>
{% endif %}
{% if tag_list %}
<p>
{% if tag_list|length > 1%}
Tags:<br>
{% else %}
Tag:<br>
{% endif %}
<ul class="list-group">
{% for t in tag_list %}
<li class="list-group-item list-group-item-info">
{{t}}
</li>
{% endfor %}
</ul>
</p>
{% endif %}

  <p>{% if matchnums == 0 %}No problems match the query.{% else %}Viewing results {{rows.start_index}}-{{rows.end_index}} of {{matchnums}}.{% endif %}</p>

  <p>{% if matchnums == 0 %}{% else %}<button class='btn btn-primary' id='add-all-problems'>Add All Problems to Group</button>{% endif %}
    <div id="all-status" class="js-tagging-status">
      
    </div>


</div>
</div>

  <div class="row">
    <div class="col-lg-9">
      <div class="float-right">
      {% if rows.has_other_pages %}
      <nav aria-label="Search result pages">
        <ul class="pagination">
          {% if rows.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.previous_page_number }}&{{current_url}}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in rows.paginator.page_range %}
          {% if rows.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
{% if rows.number|add:-3 < i and rows.number|add:3 > i %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif forloop.last %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif forloop.first %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif i == 2 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% elif i == rows.paginator.page_range|length|add:-1 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% endif %}
          {% endif %}
          {% endfor %}


          {% if rows.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.next_page_number }}&{{current_url}}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-lg-9 list-group">
      {% for prob in rows %}
      <div class="list-group-item" id="lg-prob-{{prob.pk}}">
	<div class="row mb-1">
	  <div class="col" style="text-align:right">
            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Solution options">
	      {% if prob.question_type_new.question_type != 'proof' %}
              <button type="button" class="btn btn-sm btn-secondary view-answer-link mr-1" id="view-ans_{{prob.pk}}" title="View Answer"><span class="fa fa-check-circle"></span></button>
              {% endif %}
	      <button type="button" class="btn btn-sm btn-secondary view-sol-link mr-1" id="view-sol_{{prob.pk}}" title="View Solutions">Solutions ({{prob.solutions.count}})</button>
              <button type="button" class="btn btn-sm  btn-secondary copy-latex-link" id="copylatex_{{prob.pk}}" title="Copy"><span class="fa fa-copy"></span></button>
              <button type="button" class="btn btn-sm btn-secondary fullscreen-disp-link" id="fs_{% if prob.question_type_new.question_type == "multiple choice" %}mc{% else %}sa{% endif %}_{{prob.pk}}" title="Fullscreen Display"><span class="fa fa-desktop"></span></button>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-1">
	    {{ forloop.counter|add:rows.start_index|add:-1 }}.
	  </div>
	  <div class="col-11">
	    {% if prob.question_type_new.question_type == 'multiple choice' %}
	    	    <div id="mc_prob_text_{{prob.pk}}">{% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}</div>  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
	    <div class="answer" style="display:none" id="answer_{{prob.pk}}">Answer: {{prob.mc_answer}}</div>
	    <textarea id="latex_{{prob.pk}}" style="display:none">{{prob.mc_problem_text}}<br><br>{{prob.answers}}</textarea>
	    {% else %}
	    
	    <div id="sa_prob_text_{{prob.pk}}">{% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}</div>  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]<br>
	    {% if prob.question_type_new.question_type != "proof" %}
            <div class="answer" style="display:none" id="answer_{{prob.pk}}">Answer: ${{prob.sa_answer}}$</div>
            {% endif %}
	    <textarea id="latex_{{prob.pk}}" style="display:none">{{prob.problem_text}}</textarea>
	    {% endif %}
	    
	    <form action="{% url 'delete_tag' %}" method="post" class="js-tag-delete-form">
	      {% csrf_token %}
	      <div class="col-xs-8" id="problem-tags-{{prob.pk}}">
		{% include "problemeditor/problem-snippets/components/tag_snippet.html" %}
	      </div>
	    </form>
	    <div class="row">
	      <div class="col-md-6">
		<form action="{% url 'add_tag' %}" method="post" class="js-tag-form">
		  {% csrf_token %}
		  <input type="hidden" name="next" value="{{ request}}">
		  <label for="addtag_{{prob.pk}}">Add Tag:</label>
		  <select name="addtag_{{prob.pk}}" id="addtag_{{prob.pk}}" class="js-add-tag-select">
		    <option value="" disabled selected>Select a Tag</option>
                    {% for tagg in tags %}
                    <option value="{{tagg.pk}}" title="{{tagg.description}}">{{tagg}}==={{tagg.description}}</option>
                    {% endfor %}
                  </select>
                  <script>
                    $('#addtag_{{prob.pk}}').selectize({
			create: false,
			sortField: 'text',
			render: {
                            option: function (item, escape) {
				var label = item.text.split('===');
				return '<div class="option" title="' + label[1] + '">' +
                                    '<span class="">' + escape(label[0]) + '</span>' +
                                    '</div>';
                            },
			    item: function (item, escape) {
				var label = item.text.split('===');
				return '<div class="option" title="' + label[1] + '">' +
                                    '<span class="">' + escape(label[0]) + '</span>' +
                                    '</div>';
                            }
			}
                    });
                    </script>
		  <div id="tagging-status-{{prob.pk}}" class="js-tagging-status">
		    
		  </div>
		</form>
	      </div>
	      
	      <div class="col-md-6">
		<form action="{% url 'add_to_group' %}" method="post" class="js-problem-group-form">
		  {% csrf_token %}
		  <input type="hidden" name="next" value="{{ request}}">
		  <label for="problemgroup_{{prob.pk}}">Add to Problem Group:</label>
		  <select name="problemgroup_{{prob.pk}}" class="js-problem-group-select form-control">
		    <option value="" disabled selected>Select a Group</option>
		    {% for pg in probgroups %}
		    <option value="{{pg.pk}}">{{pg.name}}
		    </option>
		    {% endfor %}
		  </select>
		  <div id="adding-status-{{prob.pk}}" class="js-adding-status">
		  
		  </div>
		</form>
	      </div>
	      <div class="col-md-6">
		<button class="js-this-problem-group-button btn btn-primary" id="addtothisproblemgroup_{{prob.pk}}">Add to this Group</button>
		<div id="pg-adding-status-{{prob.pk}}" class="js-adding-status">
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if rows.has_other_pages %}
      <nav aria-label="Search result pages">
        <ul class="pagination">
          {% if rows.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.previous_page_number }}&{{current_url}}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in rows.paginator.page_range %}
          {% if rows.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
{% if rows.number|add:-3 < i and rows.number|add:3 > i %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif forloop.last %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif forloop.first %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
{% elif i == 2 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% elif i == rows.paginator.page_range|length|add:-1 %}
<li class="page-item disabled"><span class="page-link">...</span></li>
{% endif %}
          {% endif %}
          {% endfor %}


          {% if rows.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ rows.next_page_number }}&{{current_url}}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="fullscreen-problem-modal" role="dialog">
  {% include "problemeditor/problem-snippets/modals/modal-fullscreen-problem-display.html" %}
</div>
<div class="modal fade" id="sol-placeholder" role="dialog"></div>




<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?                                                            
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection                                                                       
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});

$("select.js-problem-group-select").change(function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'add_to_group' %}',
        data: form.serialize(),
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 0) {
$("#adding-status-"+data['prob_pk']).html("<div class='alert alert-success' role='alert'>Problem has been added to group.</div>");
$("#adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            } else {
$("#adding-status-"+data['prob_pk']).html("<div class='alert alert-warning' role='alert'>Problem is  already in group.</div>");
$("#adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            }

        }
    });
    return false;
});


  $(document).on('click',"button.js-this-problem-group-button",function(event) {
      event.preventDefault();
      var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'POST',
        url: '{% url 'add_to_this_group' pk=prob_group.id %}',
        data: "&problem_id="+prob_id,
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 0) {
$("#pg-adding-status-"+data['prob_pk']).html("<div class='alert alert-success' role='alert'>Problem has been added to group.</div>");
$("#pg-adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#pg-adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            } else {
$("#pg-adding-status-"+data['prob_pk']).html("<div class='alert alert-warning' role='alert'>Problem is  already in group.</div>");
$("#pg-adding-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#pg-adding-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            }

        }
    });
    return false;
});

$("select.js-add-tag-select").change(function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'add_tag' %}',
        data: form.serialize(),
        dataType: 'json',
        success: function(data) {
            if (data['status'] == 0) {
$("#tagging-status-"+data['prob_pk']).html("<div class='alert alert-success' role='alert'>Tag has been added to problem.</div>");
$("#tagging-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#tagging-status-"+data['prob_pk']).fadeOut().empty();
},5000);
$("#problem-tags-"+data['prob_pk']).html(data['tag_list']);

            } else {
$("#tagging-status-"+data['prob_pk']).html("<div class='alert alert-warning' role='alert'>Problem already has tag.</div>");
$("#tagging-status-"+data['prob_pk']).show();
setTimeout(function() {
$("#tagging-status-"+data['prob_pk']).fadeOut().empty();
},5000);
            }

        }
    });
    return false;
});



$(document).on('click',".delete-tag-link",function(event) {
    event.preventDefault();
    var form = $(this).closest("form");
    $.ajax({
        type: 'POST',
        url: '{% url 'delete_tag' %}',
        data: form.serialize()+"&problem_tag_id="+$(this).attr('id'),
        dataType: 'json',
        success: function(data) {
           $("#problem-tags-"+data['prob_pk']).html(data['tag_list']);

        }
    });
    return false;
});


$(document).on('click',".copy-latex-link",function(e) {
  var prob_id = $(this).attr('id').split('_')[1];
  var prob_text = $("textarea#latex_"+prob_id).val().replace('<br>','\n\r').replace('<br>','\n\r');
  var aux = document.createElement("textarea");
  aux.innerHTML =  prob_text;
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);
});

$(document).on('click',".fullscreen-disp-link",function(event) {
    event.preventDefault();
    var qt = $(this).attr('id').split('_')[1];
    var pk = $(this).attr('id').split('_')[2];
    if (qt == "mc") {
      $("#fullscreen-modal-problem-text").html($("#mc_prob_text_"+pk).html());
    } else {
      $("#fullscreen-modal-problem-text").html($("#sa_prob_text_"+pk).html());
    }
    $("#fullscreen-problem-modal").modal("show");
//Can probably show readable label and give options.
});
$(document).on('click',".view-sol-link",function(e) {
  var prob_id = $(this).attr('id').split('_')[1];
    $.ajax({
        type: 'GET',
        url: '/search/ajax/load_sol/'+prob_id + '/',
        dataType: 'json',
        success: function(result) {
           $("#sol-placeholder").html(result['modal-html']);
           MathJax.Hub.Queue(["Typeset",MathJax.Hub,"sol-placeholder"]);
           $("#sol-placeholder").modal("show");
        }
    });
});
$(document).on('click',".view-answer-link",function(e) {
  var prob_id = $(this).attr('id').split('_')[1];
    $("#answer_"+prob_id).toggle();
});

$(document).on('click',"#add-all-problems",function(e) {
    var currentarg = JSON.stringify(window.location.href).split('?');
    $.ajax({
        type: 'GET',
        url: 'add-all-problems/?'+currentarg,
        dataType: 'json',
	success: function(data) {
	    $("#all-status").html("<div class='alert alert-success' role='alert'>All problems added to group.</div>");
	    $("#all-status").show();
	    setTimeout(function() {
		$("#all-status").fadeOut().empty();
	    },5000);
	    
        }
    });
});

</script>

{% endblock %}
