{% extends "randomtest/base.html" %}

{% block title %}My Problem Groups{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Problem Groups</li>
  </ol>
</nav>
<div class="container">
  <h2>My Problem Groups</h2>
  <div class="row">
    <div class="col-12 col-lg-9">
      <div id="empty-message">
	{% if probgroups.count == 0 %}
	You don't have any problem groups yet.
	{% endif  %}
      </div>
      {% if archived %}
      <button class="btn btn-primary" id="view-unarchived">Non-Archived Problem Groups</button>
      {% else %}
      <button class="btn btn-primary" id="view-archived">Archived Problem Groups</button>
      {% endif %}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Group Name</th>
            <th>Number of Problems</th>
	    <th>Date Added</th>
	    <th>Sharing</th>
	    <th>Remove</th>
	  </tr>
	</thead>
	<tbody id="group-row-table">
	  {% for pg in owned_pgs %}
	  {% include 'groups/grouptablerow.html' with sharing_type='own' %}
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <div id="shared-pgs"{% if editor_pgs.count == 0 and readonly_pgs.count == 0 and co_owned_pgs.count == 0 %} style="display:none;"{% endif %}>
    <h2>Problem Groups Shared with Me</h2>
    <div class="row">
      <div class="col-12 col-lg-9">
	<table class="table table-striped">
	  <thead>
	    <tr>
              <th>Group Name (Owner)</th>
              <th>Number of Problems</th>
	      <th>Date Added</th>
	      <th>Sharing</th>
	      <th>Remove</th>
	    </tr>
	  </thead>
	  <tbody id="group-row-table">
	    {% for pg in co_owned_pgs %}
	    {% include 'groups/grouptablerow.html' with sharing_type='coown' %}
	    {% endfor %}
	    {% for pg in editor_pgs %}
	    {% include 'groups/grouptablerow.html' with sharing_type='edit' %}
	    {% endfor %}
	  {% for pg in readonly_pgs %}
	    {% include 'groups/grouptablerow.html' with sharing_type='read' %}
	    {% endfor %}
	  </tbody>
	</table>
	
      </div>
    </div>
  </div>
  {% if not archived %}
  <div class="row">
    <div class="col-12">
<h2>Start a New Problem Group</h2>
      <form action="." method="post" id="new-group-form">
	{% csrf_token %}
	<p>{{form}}</p>
	<p><button type="submit" class="btn btn-primary" value="New Group">New Group</button></p>
      </form>
      <p><a href="tags" class="btn btn-primary">View Tags as Problem Groups</a></p>
    </div>
  </div>
  {% endif %}
</div>

<div class="modal fade" id="edit-sharing-placeholder" role="dialog">
</div>


<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
                    }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});

  {% if not archived %}  
$(document).on('submit',"#new-group-form",function(event) {
  event.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/new-problemgroup/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(data) {
      $("#group-row-table").append(data['group-row']);
      $("#id_name").val("");
      $("#empty-message").empty();
    }
  });
  return false;
});
  {% endif %}

$(document).on('click',".edit-sharing",function(e) {
  e.preventDefault();
  pk = $(this).attr('id').split('-')[1];
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/edit-sharing/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#edit-sharing-placeholder").html(result['modal-html']);
      $("#edit-sharing-placeholder").modal("show");
    }
  });
  return false;
});

$(document).on('submit',"#share-problem-group-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/share-with-user/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {
      if (result['sharing_type'] == 'read') {
        $("#reader-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#readers").show();
      }
      if (result['sharing_type'] == 'edit') {
        $("#editor-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#editors").show();
      }
      if (result['sharing_type'] == 'own') {
        $("#owner-list").append(result['user-row']);
        $("#collaborator option[value='"+result['col']+"']").remove();
        $("#owners").show();
      }
	$("#pg-row_"+result['pk']).replaceWith(result['group-row']);
    }
  });
  return false;
});

$(document).on('change',".change-permission", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('-')[1];
  var sharing_type = $(this).val();
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/change-permission/',
    data: "&pk="+pk+"&sharing_type="+sharing_type+"&problemgrouppk="+$("#problemgrouppk").val(),
    dataType: 'json',
    success: function(result) {
      $("#permission_row-"+pk).remove();
      if (result['sharing_type'] == 'read') {
        $("#reader-list").append(result['user-row']);
        $("#readers").show();
      }
      if (result['sharing_type'] == 'edit') {
        $("#editor-list").append(result['user-row']);
        $("#editors").show();
      }
      if (result['sharing_type'] == 'own') {
        $("#owner-list").append(result['user-row']);
        $("#owners").show();
      }
      if ($('#reader-list li').length == 0) {
        $("#readers").hide();
      }
      if ($('#owner-list li').length == 0) {
        $("#owners").hide();
      }
      if ($('#editor-list li').length == 0) {
        $("#editors").hide();
      }
	$("#pg-row_"+result['pk']).replaceWith(result['group-row']);
    }
  });
  return false;
});

$(document).on("click", ".delete-group-link", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('_')[1];
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/delete-group/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#pg-row_"+pk).remove();
    }
  });
  return false;
});
$(document).on("click", ".remove-group-link", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('_')[1];
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/remove-group/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#pg-row_"+pk).remove();
    }
  });
  return false;
});

$(document).on("click", ".archive-group-link", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('_')[1];
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/archive-group/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#pg-row_"+pk).remove();
    }
  });
  return false;
});

$(document).on("click", ".unarchive-group-link", function(e) {
  e.preventDefault();
  var pk = $(this).attr('id').split('_')[1];
  $.ajax({
    type: 'POST',
    url: '/problemgroups/ajax/unarchive-group/',
    data: "&pk="+pk,
    dataType: 'json',
    success: function(result) {
      $("#pg-row_"+pk).remove();
    }
  });
  return false;
});

  $(document).on("click","#view-archived", function(e) {
      window.location.href='archived/';
  });
  $(document).on("click","#view-unarchived", function(e) {
      window.location.href='../';
  });
</script>
{% endblock %}
