<div class="modal-dialog modal-lg">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Solutions to {{object.readable_label}}</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      {% with object as prob %}
      {% include "problemeditor/snippetprobtextans.html" %}
      {% endwith %}
      
      {% if object.solutions.count > 0 %}
      {% for solution in object.solutions.all %}
      <div id="sol_{{solution.pk}}">
	<label>Solution {{forloop.counter}}:</label>{% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "sitemanager" or request.user.userprofile.user_type_new.name == "contestmanager" %}
	<span class="delete-sol-link" id="deletesol_{{object.pk}}_{{solution.pk}}" style="cursor:pointer;color:red;"><span class="fa fa-remove"></span></span> <span class="edit-sol-link" id="editsol_{{object.pk}}_{{solution.pk}}" style="cursor:pointer;color:blue"><span class="fa fa-pencil"></span></span>
	{% endif %}
	<div id="soltext_{{solution.pk}}">
          {% include 'problemeditor/problem-snippets/modals/soltext.html' %}
	</div>
      </div>
      <div id="editsolplaceholder_{{solution.pk}}">

      </div>
      {% endfor %}
      {% else %}
      No current solutions.
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>
