<div class="modal-dialog modal-lg">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Solutions to {{object.readable_label}}</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      {% with object as prob %}
      {% include "problemeditor/snippetprobtextans.html" %}
      {% endwith %}
      {% if object.solutions.count > 0 %}
      <div id="all_solutions">
      {% for solution in object.solutions.all %}

      <div id="sol_{{solution.pk}}">
	<hr>
	<div class="d-flex flex-row">
	  <div class="p-2 mr-auto">
	<label>Solution {{forloop.counter}}:</label>
	  </div>
	  
	  {% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "sitemanager" or request.user.userprofile.user_type_new.name == "contestmanager" or request.user.userprofile.user_type_new.name == "contestmod" %}
	  <textarea  id="latex_{{solution.pk}}" style="display:none">{{solution.solution_text}}</textarea>
	  <div class="p-2">
	    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Solution options">
	      <button type="button" class="btn btn-secondary edit-sol-link" id="editsol_{{object.pk}}_{{solution.pk}}"><span class="fa fa-pencil"></span></button>
	      <button type="button" class="btn btn-secondary copy-sol-link" id="copysol_{{solution.pk}}"><span class="fa fa-copy"></span></button>
	      <button type="button" class="btn btn-danger pre-delete-sol-link" id="predeletesol_{{object.pk}}_{{solution.pk}}"><span class="fa fa-remove"></span></button>
	    </div>
	  </div>
	</div>
	
	<div class="alert alert-danger" role="alert" style="display:none" id="confirmdelete_{{solution.pk}}">
	  <div class="d-flex flex-row">
	    <div class="p-2 mr-auto">
	      Are you sure you want to delete this solution?
	    </div>
	    <div class="p-2">
	      <div class="btn-group btn-group-sm" role="group" aria-label="Solution options" style="margin-bottom 20px">
		<button type="button" class="btn btn-danger delete-sol-link" id="deletesol_{{object.pk}}_{{solution.pk}}">Yes</button>
		<button type="button" class="btn btn-secondary no-delete-sol-link" id="nodeletesol_{{object.pk}}_{{solution.pk}}">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}

	<div id="soltext_{{solution.pk}}">
          {% include 'problemeditor/problem-snippets/modals/soltext.html' %}
	</div>
	<div id="editsolplaceholder_{{solution.pk}}">

	</div>
      </div>
      {% endfor %}
      </div>
      {% endif %}
      <div id="no-solutions" {% if object.solutions.count > 0%}style="display:none"{% endif %}>
	No current solutions.
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>
