{% load randomtest_extras %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View LaTeX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
	<div class="container">	
	  <div class="row">
	    <div class="col">
	      <div class="card pl-2" style="background-color:#dddddd">
		<div class="card-body">
		  <pre style="white-space: pre-wrap"><code>
{% if prob.question_type_new.question_type == "multiple choice" %}{{prob.mc_problem_text|linebreaks}}{% else %}{{prob.problem_text|linebreaks}}{% endif %} [{{prob.readable_label|poundsafe}}]

{% if prob.question_type_new.question_type == "multiple choice" %}
{{prob.answers|linebreaks}}
{% endif %}
		    </code>
		  </pre>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      
      <div class="modal-footer">
        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" >
      </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

