<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form id="edit_latex_form" method='get' action='.'>
      <div class="modal-header">
        <h5 class="modal-title">Edit LaTeX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
	
	
	{% include  "problemeditor/snippetprobtext.html" with prob=form.instance %}
	<input type="hidden" id="pt_qt" name="pt_qt" value="{{qt}}">
	<input type="hidden" id="pt_prob_pk" name="pt_prob_pk" value="{{form.instance.pk}}">
        {{ form.non_field_errors }}
        <div class="form-group">
          {% for field in form %}
          <div class="form-group">
            {% if field.errors %}
            <ul class="form-errors">
              {% for error in field.errors %}
              <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
              {% endfor %}
            </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="modal-footer">
        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" >
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

