{% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %}
  <div class="modal fade" id="duplicate-modal" role="dialog">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form method="post" action="." class="add-linked-problem-form">

          <div class="modal-header">
            <h5 class="modal-title">Add Link to Duplicate Problem</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="original-prob_pk" id="original-prob_pk">
            <div class="form-group">
              <label for="linked_problem_label" class="control-label">Label of Linked Problem</label>
              <input type="text" class="form-control" name="linked_problem_label" id="linked_problem_label" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="addlink" class="btn btn-primary">Add Linked Problem</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="modal fade" id="edit-answer-modal" role="dialog">

  </div> 
  <div class="modal fade" id="edit-latex-modal" role="dialog">

  </div>
 {% endif %} 
  <div class="modal fade" id="fullscreen-problem-modal" role="dialog">
{% include "problemeditor/problem-snippets/modals/modal-fullscreen-problem-display.html" %}
  </div>

  <div class="modal fade" id="view-latex-modal" role="dialog">

  </div>
  <div class="modal fade" id="solution-placeholder" role="dialog">

  </div>
  <div class="modal fade" id="new-solution-placeholder" role="dialog">

  </div>
  <div class="modal fade" id="log-modal" role="dialog">

  </div>
  <div class="modal fade" id="new-accepted-answer-placeholder" role="dialog">

  </div>
  <div class="modal fade" id="edit-accepted-answer-placeholder" role="dialog">

  </div>
  <div class="modal fade" id="comment-modal" role="dialog">

  </div>
