{% extends "randomtest/base.html" %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Problem Editor</a></li>
    <li class="breadcrumb-item active">New {{typ}} Contest</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
  <h2>New {{typ}} Contest</h2>
      <form action="." method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit" class="btn btn-primary" value="Save Contest">Save Contest</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
