{% extends "randomtest/base.html" %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Problem Editor</a></li>
    <li class="breadcrumb-item active">New {{typ}} Contest</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>New {{typ}} Contest</h2>
      <form action="." method="post" id="new-contest-form">
	{% csrf_token %}
        <input type="hidden" id="question-type" value="{% if mc %}multiple choice{% else %}{% endif %}">
	{{form.as_p}}
      {% if custom_labels %}
      <div id="error-message" style="display:none">
	<div class="alert alert-danger">
	  Two problems cannot have the same custom label!
	</div>
      </div>
      {% endif %}
	<button type="submit" class="btn btn-primary" value="Save Contest">Save Contest</button>
	<button class="btn btn-secondary" id="primitive-preview-link">Primitive Preview</button>
      </form>
    </div>
  </div>
</div>

<script>

{% if custom_labels %}

$(document).on('submit',"#new-contest-form",function(e) {
    var cust_labs = {};
    var dist = 1;
    $('[id^=id_custom_label]').each(function(index) {
      if (cust_labs[$(this).val()] != 1) {
        cust_labs[ $(this).val()] = 1;
      } else {
        dist = 0;
        return false;
      }
    });
    if (dist == 0) {
      e.preventDefault();
      $("#error-message").show();
      setTimeout(function() {
        $("#error-message").fadeOut();
      },5000);
      return false;
    } else {
      return true;
    }
});

{% endif %}
$(document).on('click',"#primitive-preview-link", function(e) {
  e.preventDefault();
  $('.preview-latex').each(function(index) {
    $(this).remove();
  });
  $('[id=codetext]').each(function(index) {
    var p_num = $(this).attr('name');
    p_num = p_num.substring(12,p_num.length);


    p_text = $(this).val().trim();

    p_text = '<p>'+p_text.replace(/</g,' < ').replace(/(?:\r\n|\r|\n)/g,'<br/>')+'</p>';

    p_text = replace_images(p_text,'void_');
    p_text = replace_enumitem(p_text);
    p_text = replace_center(p_text);
    if ($("#question-type").val() == "multiple choice") {
      p_text = p_text + "$\\textbf{(A) }"+$("#new-contest-form input[name=answer_A"+p_num+"]").val()+"\\qquad\\textbf{(B) }"+$("#new-contest-form input[name=answer_B"+p_num+"]").val()+"\\qquad\\textbf{(C) }"+$("#new-contest-form input[name=answer_C"+p_num+"]").val()+"\\qquad\\textbf{(D) }"+$("#new-contest-form input[name=answer_D"+p_num+"]").val()+"\\qquad\\textbf{(E) }"+$("#new-contest-form input[name=answer_E"+p_num+"]").val()+"$<br>";
    }
    $(this).before("<div class='preview-latex mt-1 mb-3'>"+p_text+"</div>");
  });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,".preview-latex"]);
});

</script>
{% endblock %}
