{% extends 'randomtest/base.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block title %}Add New Problem{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Change Question Type</li>
</ol>
    <h2>Change Question Type</h2>
<p> Step {{wizard.steps.step1}} of 2</p>
<br>
    <form method="POST" class="post-form">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}

    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}

{% else %}


<div class="form-group">
  <label for="{{wizard.form.mc_problem_text.id}}">Problem LaTeX</label>
  <p>{{wizard.form.mc_problem_text}}</p>
  {% if wizard.form.mc_problem_text.errors %}
  <p class="help-block">    Please enter a problem.</p>
  {% endif %}
</div>
<div class="form-group">
  <label for="{{wizard.form.answer_A.id}}">Answer Choices</label>
  <p>Please use LaTeX (No dollar signs necessary)</p>
  <p>Choice A: {{wizard.form.answer_A}}</p>
  <p>Choice B: {{wizard.form.answer_B}}</p>
  <p>Choice C: {{wizard.form.answer_C}}</p>
  <p>Choice D: {{wizard.form.answer_D}}</p>
  <p>Choice E: {{wizard.form.answer_E}}</p>
  {% if wizard.form.answer_A.errors or wizard.form.answer_B.errors or wizard.form.answer_C.errors or wizard.form.answer_D.errors or wizard.form.answer_E.errors %}
  <p class="help-block">    Please enter five answer choices.</p>
  {% endif %}
</div>

<div class="form-group">
  <label for="{{wizard.form.mc_answer.id}}">Correct Answer</label>
  <p>{{wizard.form.mc_answer}}</p>
  {% if wizard.form.mc_answer.errors %}
  <p class="help-block">    Please enter the correct answer.</p>
  {% endif %}
</div>

{% endif %}
</table>
{% if wizard.steps.prev %}

<button name="wizard_goto_step" type="submit" class="btn btn-default" value="{{ wizard.steps.prev }}">{% trans "Previous step" %}</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans "Submit" %}"/>
</form>
{% endblock %}
