{% extends './base.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block title %}Add New Problem{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Change Question Type</li>
</ol>
    <h2>Change Question Type</h2>
<p> Step {{wizard.steps.step1}} of 2</p>
<br>
    <form method="POST" class="post-form">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}

    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}

{% else %}

<div class="form-group">
  <label for="{{wizard.form.problem_text.id}}">Problem LaTeX</label>
  <p>{{wizard.form.problem_text}}</p>
  {% if wizard.form.problem_text.errors %}
  <p class="help-block">    Please enter a problem.</p>
  {% endif %}
</div>

<div class="form-group">
  <label for="{{wizard.form.correct_answer.id}}">Correct Answer</label>
  <p>{{wizard.form.sa_answer}}</p>
  {% if wizard.form.sa_answer.errors %}
  <p class="help-block">    Please enter an answer.</p>
  {% endif %}
</div>

{% endif %}
</table>
{% if wizard.steps.prev %}

<!--<button name="wizard_goto_step" type="submit" class="btn btn-default" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>-->
<button name="wizard_goto_step" type="submit" class="btn btn-default" value="{{ wizard.steps.prev }}">{% trans "Previous step" %}</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans "Submit" %}"/>
</form>
{% endblock %}
