
{% extends "randomtest/base.html" %}
{% block title %}Choose a Problem{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../">{{typelabel}}</a></li>
  <li class="active">{{tag}}</li>
</ol>
<h2>Problem Editor</h2>
Please select a problem
<div class="content">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Label</th>
	<th>Current Tags</th>
	<th>Number of Solutions</th>
	<th>Edit</th>
	<th>Approvals</th>
      </tr>
    </thead>
    <tbody>
      {% for prob in rows %}
      <tr>
        <td>{{prob}}</td>
        <td>{% for tagg in prob.newtags.all %}<span class="label label-default">{{tagg}}</span> {% endfor %}</td>
        <td>{{prob.solutions.count}}</td>
	<td><a href="{{prob.pk}}">Edit</a></td>
        <td>
          {% for app in prob.approvals.all %}
          {% if app.approval_status == "AP" %}
          <span class="glyphicon glyphicon-ok-sign"></span>
          {% elif app.approval_status == "MN" %}
          <span class="glyphicon glyphicon-edit"></span>
          {% elif app.approval_status == "MJ" %}
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {% elif app.approval_status == "DE" %}
          <span class="glyphicon glyphicon-remove-sign"></span>
          {% endif %}
          {% endfor %}
          {% if apps.count == 0 %}
          N/A
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if rows.has_other_pages %}
<ul class="pagination">
        {% if rows.has_previous %}
            <li><a href="?page={{ rows.previous_page_number }}">&laquo;</a></li>
            {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in rows.paginator.page_range %}
          {% if rows.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}


        {% if rows.has_next %}
        <li><a href="?page={{ rows.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
</ul>
{% endif %}
{% endblock %}
