{% extends './base.html' %}


{% block title %}Problem: {{readablelabel}}{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/custjquery.init.js"></script>
<script type="text/javascript" src="/static/js/custcore.js"></script>
<script type="text/javascript" src="/static/js/custSelectBox.js"></script>
<script type="text/javascript" src="/static/js/custSelectFilter2.js"></script>
<script type="text/javascript" src="/static/js/custjsi18n.js"></script>
<link href="/static/css/widgets2.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">{{readablelabel}}</li>
</ol>
    <h1>{{readablelabel}}</h1>
<form method="POST" class="post-form">{% csrf_token %}
<div class="form-group">
{% if mc %}
<label>Problem Text:</label>
{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]
{% endif %}
{% if sa or pf %}
<label>Problem Text:</label>
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]
{% endif %}
{% if mcsa %}
<label>Problem Text (Multiple Choice):</label>
<p>{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
<label>Problem Text (Short Answer):</label>
<p>{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
{% endif %}
{% if request.user.is_superuser %}<p><a href="edittext/">Edit LaTeX Code{% if mc%} (including answer choices){% endif %}</a></p>{% endif %}
</div>
{% if form.instance.author_name != '' %}<p>Author: {{form.instance.author_name}}</p>{% endif %}

{% if mc %}
<label>Answer:</label>
<p>{{form.mc_answer}}</p>
{% endif %}
{% if sa %}
<label>Answer:</label>
<p>{{form.sa_answer}}</p>
{% endif %}
{% if mcsa %}
<p><label>Answer (Multiple Choice):</label>
{{form.mc_answer}}</p>
<p><label>Answer (Short Answer):</label></p>
<p>{{form.sa_answer}}</p>
{% endif %}


<label>Current Question Type:</label>
<p>
{{form.instance.question_type_new.question_type}} <small>(<a href="change_question_type">Change</a>)</small>
</p>

<label>Difficulty:</label>
<p>
{{form.difficulty}}
</p>

<label>Solutions</label><br>
{% for solution,spk in rows %}
<label>Solution {{forloop.counter}}:</label>
  <p><small>(<a href="editsolution/{{spk}}/">Edit</a>)</small> {% if request.user.is_superuser %}<small>(<a href="deletesolution/{{spk}}/">Delete</a>)</small>{% endif %}</p>
{% autoescape off %}  {{solution|linebreaks}} {% endautoescape %}
  {% endfor %}
  {% if rows|length == 0 %}<p>No Solutions Yet</p>{% endif %}
  <button type="button" class="save btn btn-default" onclick="location.href='newsolution/'">New Solution</button>
  <br><br>

<div class="form-group">
  <label for="tags">Tags:</label>
  <p id="tags">
    {{form.tags}}
  </p>
</div>
<div class="form-group">
<p>
  <label>Approvals:</label>
</p>
<p>
{% if arows|length != 0 %}
<ul>
{% for aname,app,apk in arows %}
<li>{{aname}}: {{app}} <small>(<a href="editreview/{{apk}}/">Edit</a>)</small></li>
{% endfor %}
</ul>
{% else %}
No one has reviewed this problem for approval yet.<br>
{% endif %}
</p>
<p>
<button type="button" class="save btn btn-default" onclick="location.href='newreview/'">New Review</button>
</p>
</div>
    <label>Comments:</label>
<div class="comments-list">
        {% for name,date,comment,cpk in crows %}
<div class="media">
<p class="pull-right"><small>{{date}}</small></p>
<div class="media-body">
<h3 class="media-heading user_name">{{name}}</h3>
	  <p>{{comment|linebreaks}}</p>
{% if request.user.is_superuser %}<p><small>(<a href="deletecomment/{{cpk}}/">Delete</a>)</small></p>{% endif %}

</div>
</div>
        {% endfor %}
</div>
	{% if crows|length == 0 %}<p>No Comments Yet</p>{% endif %}

	<button type="button" class="save btn btn-default" onclick="location.href='newcomment'">New Comment</button>
	<br><br>
<button type="submit" class="save btn btn-primary">Save</button>
</form>
{% endblock %}
