{% extends './base.html' %}


{% block title %}Problem: {{readablelabel}}{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/js/core.js"></script>
<script type="text/javascript" src="/static/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/js/jsi18n.js"></script>
<link href="/static/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">{{readablelabel}}</li>
</ol>
    <h2>{{readablelabel}}</h2>
<form method="POST" class="post-form">{% csrf_token %}
<p>{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
{% if request.user.is_superuser %}<p><a href="edittext/">Edit LaTeX Code</a></p>{% endif %}
{% if form.instance.author_name != '' %}<p>Author: {{form.instance.author_name}}</p>{% endif %}
<br>
    <p>Answer: <br>{{form.answer}}</p>
    <p>LaTeX Answer: <br>{{form.latexanswer}}</p>
    <p>Difficulty: <br>{{form.difficulty}}</p>
    <p>Question Type: <br>{{form.question_type}}</p>
    <h2>Solutions</h2>
        {% for solution,spk in rows %}
          <h3>Solution {{forloop.counter}}</h3>
	  <p>(<a href="editsolution/{{spk}}/">Edit</a>) {% if request.user.is_superuser %}(<a href="deletesolution/{{spk}}/">Delete</a>){% endif %}</p>
	  <p>{{solution|linebreaks}}</p>
        {% endfor %}
	{% if rows|length == 0 %}<p>No Solutions Yet</p>{% endif %}
	<button type="button" class="save btn btn-default" onclick="location.href='newsolution/'">New Solution</button>
	</br></br>
    <p>Tags:<br>
{{form.tags}}</p>
	<p>Approved: {{form.approval_status}}</p>
    <h2>Comments</h2>
<div class="comments-list">
        {% for name,date,comment,cpk in crows %}
<div class="media">
<p class="pull-right"><small>{{date}}</small></p>
<div class="media-body">
<h4 class="media-heading user_name">{{name}}</h4>
<!--          <h3>{{name}} ({{date}})</h3>-->
	  <p>{{comment|linebreaks}}</p>
{% if request.user.is_superuser %}<p><small>(<a href="deletecomment/{{cpk}}/">Delete</a>)</small></p>{% endif %}

</div>
</div>
        {% endfor %}
</div>
	{% if crows|length == 0 %}<p>No Comments Yet</p>{% endif %}
	<button type="button" class="save btn btn-default" onclick="location.href='newcomment'">New Comment</button>
	</br></br>

<!--{{form.as_p}}-->
<button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}
