{% extends 'randomtest/base.html' %}

{% block title %}Edit Answer: {{prob.readable_label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit Answer</li>
</ol>
    <h2>Edit Answer to {{prob.readable_label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}
      <input type="hidden" name="qt" value="{{prob.question_type_new.question_type}}">
{% include "problemeditor/snippetprobtext.html" %}
      Current Answer: {{answer}}<br>
          <h3>New Answer</h3>
          {{ form }} <br>
        <input type="submit" class="save btn btn-default" name="save" value="Save">
    </form>
{% endblock %}
