        <div class="list-group-item" id="typerow_{{type.pk}}">
          <div class="row">
            <div class="col-9">
              <p>{{type.label}} (<button class="btn btn-sm btn-link edit-type" id="edit-type_{{type.pk}}">Edit</button>)</p>
              <p>
                <ul id="rounds-{{type.pk}}">
                  {% for round in type.rounds.all %}
                  <li>{{round.name}}</li>
                  {% endfor %}
                </ul>
              </p>
            </div>
            <div class="col-3" style="text-align:right">
              <button class="btn btn-sm btn-secondary new-round" id="new_round-{{type.pk}}">Add Round</button>
            </div>
          </div>
        </div>
