{% extends 'randomtest/base.html' %}

{% block title %}Edit Review: {{prob.readable_label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit Review</li>
</ol>
    <h2>Edit Review to {{prob.readable_label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}
{% include "problemeditor/snippetprobtext.html" %}
          <h3>Review</h3>
{{form.as_p}}
        <input type="submit" class="save btn btn-default" name="save" value="Save">
    </form>
{% endblock %}
