{% extends 'randomtest/base.html' %}

{% block title %}Problem: {{form.instance.readable_label}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit LaTeX</li>
</ol>
    <h2>Edit Problem</h2>
    <form method="POST" class="post-form">{% csrf_token %}
<div class="form-group">


{% if form.instance.question_type_new.question_type == 'multiple choice' %}
    <label>Problem Text:</label>
    <p>{% autoescape off %}{{form.instance.display_mc_problem_text|linebreaks}} {% endautoescape %}  [{{form.instance.readable_label}}]</p>
    </p>
  {% endif %}
  {% if form.instance.question_type_new.question_type == 'short answer' or form.instance.question_type_new.question_type == 'proof' %}
    <label>Problem Text:</label>
    <p>{% autoescape off %}{{form.instance.display_problem_text|linebreaks}} {% endautoescape %}  [{{form.instance.readable_label}}]</p>
    {% if form.instance.question_type_new.question_type == 'short answer' %}
    {% endif %}
  {% endif %}
  {% if form.instance.question_type_new.question_type == 'multiple choice short answer' %}
  <label>Problem Text (Multiple Choice):</label>
  <p>{% autoescape off %}{{form.instance.display_mc_problem_text|linebreaks}} {% endautoescape %}  [{{form.instance.readable_label}}]</p>
<label>Problem Text (Short Answer):</label>
<p>{% autoescape off %}{{form.instance.display_problem_text|linebreaks}} {% endautoescape %}  [{{form.instance.readable_label}}]</p>
{% endif %}

</div>

{% if form.instance.author_name != '' %}<p>Author: {{form.instance.author_name}}</p>{% endif %}


{% if form.instance.question_type_new.question_type == 'multiple choice' or form.instance.question_type_new.question_type == 'multiple choice short answer' %}
<div class="form-group">
  <label for="{{form.mc_problem_text.id}}">Multiple Choice Problem LaTeX</label>
  <p>{{form.mc_problem_text}}</p>
  {% if form.mc_problem_text.errors %}
  <p class="help-block">    Please enter a problem.</p>
  {% endif %}
</div>
<div class="form-group">
  <label for="{{form.answer_A.id}}">Answer Choices</label>
  <p>Please use LaTeX (No dollar signs necessary)</p>
  <p>Choice A: {{form.answer_A}}</p>
  <p>Choice B: {{form.answer_B}}</p>
  <p>Choice C: {{form.answer_C}}</p>
  <p>Choice D: {{form.answer_D}}</p>
  <p>Choice E: {{form.answer_E}}</p>
  {% if form.answer_A.errors or form.answer_B.errors or form.answer_C.errors or form.answer_D.errors or form.answer_E.errors %}
  <p class="help-block">    Please enter five answer choices.</p>
  {% endif %}
</div>
{% endif %}

{% if form.instance.question_type_new.question_type == 'multiple choice short answer' or form.instance.question_type_new.question_type == 'short answer' or form.instance.question_type_new.question_type == 'proof' %}
<div class="form-group">
  <label for="{{form.mc_problem_text.id}}">Problem LaTeX</label>
  <p>{{form.problem_text}}</p>
  {% if form.problem_text.errors %}
  <p class="help-block">    Please enter a problem.</p>
  {% endif %}
</div>
{% endif %}


<p>
        <button type="submit" class="save btn btn-default">Save</button>
</p>
    </form>
{% endblock %}
