{% extends './base.html' %}

{% block title %}Problem: {{form.instance.readable_label}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit LaTeX</li>
</ol>
    <h2>Edit Problem</h2>
    <form method="POST" class="post-form">{% csrf_token %}
<!--      <img src="{{dropboxpath}}{{ form.instance.label }}j.jpg" /> <br>-->
      {% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %} [{{readablelabel}}]
        {{ form.as_p }}
<p>
        <button type="submit" class="save btn btn-default">Save</button>
</p>
    </form>
{% endblock %}
