{% extends 'randomtest/base.html' %}

{% block title %}Solutions: {{prob.readable_label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit Solution</li>
</ol>
    <h2>Edit Solution to {{prob.readable_label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}

{% include "problemeditor/snippetprobtextans.html" %}
          <h3>Solution</h3>
	  {% autoescape off %}{{form.instance.display_solution_text|linebreaks}} {% endautoescape %}
          {{ form.solution_text }} <br>
        <input type="submit" class="save btn btn-default" name="save" value="Save">
    </form>
{% endblock %}
