{% extends './base.html' %}

{% block title %}Solutions: {{readablelabel}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">Edit Solution</li>
</ol>
    <h2>Edit Solution to {{readablelabel}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br><br>
      Answer: {{answer}}<br>
          <h3>Solution</h3>
	  {% autoescape off %}{{solution_text|linebreaks}} {% endautoescape %}
          {{ form.solution_text }} <br>
        <input type="submit" class="save btn btn-default" name="save" value="Save">
    </form>
{% endblock %}
