{% extends "randomtest/base.html" %}
{% block title %}{{typelabel}} Matrix{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Select Type</a></li>
    <li class="breadcrumb-item"><a href="../">{{typelabel}}</a></li>
    <li class="breadcrumb-item active">Problem Matrix</li>
  </ol>
</nav>
<div class="container">
  <h2>{{typelabel}} Problem Matrix</h2>
  <div class="row">
    <div class="col">

{% if type.rounds.count > 0 %}
<b>Rounds</b>
<p>
<div class="list-group">
{% for r in type.rounds.all %}
<a href="?round={{r.pk}}" class="list-group-item">{{r.name}}</a>
{% endfor %}
</div>
</p>
{% endif %}
      <p>Please select a problem. The entry in the matrix shows the number of solutions, as well as whether it has been tagged or not.</p>
<p>
<b>Total Progress:</b> <script>document.write((Math.round({{total_sol_count}}*100/Math.max({{num_probs}},1)*100)/100).toString())</script>&#37;
<div class="progress">
<script>document.write("<div class='progress-bar{% if num_probs != total_sol_count %} progress-bar-striped{% endif %} bg-success' role='progressbar' style='width:"+Math.round({{total_sol_count}}*100/Math.max({{num_probs}},1)).toString()+"%' aria-valuenow='"+Math.round({{total_sol_count}}*100/Math.max({{num_probs}},1)).toString()+"' aria-valuemin='0' aria-valuemax='100'>"+"</div>");</script>
</div>

</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Test</th>
	    {% for num in numbers %}
	    <th>{{num}}</th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% for testlabel,problems,sol_complete in rows2 %}
	  
	  <tr>
            <td><a href="../{{testlabel}}">{{testlabel}}</a></td>
	    {% for p in problems %}
            <td class="{% if p.solutions.count == 0 %}cell-danger{% else %}cell-{% if sol_complete %}super-{%endif%}success{% endif %}"><a href="../{{testlabel}}/{{p.label}}/">{{p.solutions.count}}</a> {% if p.newtags.count > 0 %}<span class="fa fa-check" style="color:green"></span>{% else %}<span class="fa fa-remove" style="color:red"></span>{% endif %}</td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
