
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <form method="post" action="." id="form-add-sourced-problem">
        <div class="modal-header">
          <h5 class="modal-title">Add Problem</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
	  <input type="hidden" name="source-type" id="input-source-type" value="{{source_type}}">
          <div class="form-group">
            <label for="question-type" class="control-label">Question Type</label>
            <select name="question-type" id="question-type" class="form-control">
              <option value="" disabled selected>Select a Question Type</option>
              <option value="multiple choice">Multiple Choice</option>
              <option value="short answer">Short Answer</option>
              <option value="proof">Proof</option>
            </select>
          </div>
          <div id="question-fields">

          </div>
	  <div id="add-problem-error-message" style="display:none;" class="alert alert-danger" role="alert">
	  </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="add-sourced-problem-button" disabled>Add Problem</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
