{% extends './base.html' %}

{% block title %}Review: {{label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">New Review</li>
</ol>
    <h2>New Review to {{label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p}} <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
