{% extends 'randomtest/base.html' %}

{% block title %}Solutions: {{prob.readable_label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
{% for breadurl,breadlabel in breadcrumbs %}
  <li><a href="{{breadurl}}">{{breadlabel}}</a></li>
{% endfor %}
  <li class="active">New Solution</li>
</ol>
    <h2>New Solution to {{prob.readable_label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}

{% include "problemeditor/snippetprobtextans.html" %}
          <h3>Solution</h3>
          {{ form.solution_text }} <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
