  <div class="row">
    <div class="col-12">
      <div id="problemList" class="list-group">
        {% for prob in rows %}
{% include "problemeditor/paginatedproblemobject.html" %}
        {% endfor %}
      </div><!--list-group-->
    </div>
  </div>

  {% if rows.has_other_pages %}
  <ul class="pagination">
    {% if rows.has_previous %}
    <li><a href="?page={{ rows.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in rows.paginator.page_range %}
    {% if rows.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    

    {% if rows.has_next %}
    <li><a href="?page={{ rows.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

  {% if request.user.is_superuser %}
  <div class="modal fade" id="duplicate-modal" role="dialog">
    <div class="modal-dialog" role="document">
      
      <div class="modal-content">
	<form method="post" action="." class="add-linked-problem-form">
	  
          <div class="modal-header">
            <h5 class="modal-title">Add Link to Duplicate Problem</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
	  <div class="modal-body">
            {% csrf_token %}
	    <input type="hidden" name="original-prob_pk" id="original-prob_pk">
            <div class="form-group">
              <label for="linked_problem_label" class="control-label">Label of Linked Problem</label>
              <input type="text" class="form-control" name="linked_problem_label" id="linked_problem_label" required>
            </div>
	  </div>
	  <div class="modal-footer">
            <button type="submit" name="addlink" class="btn btn-primary">Add Linked Problem</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  </div>
	</form>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="edit-answer-modal" role="dialog">
    
  </div>
  <div class="modal fade" id="edit-latex-modal" role="dialog">
    
  </div>
  {% endif %}
  <div class="modal fade" id="solution-placeholder" role="dialog">
    
  </div>
  <div class="modal fade" id="new-solution-placeholder" role="dialog">

  </div>


