  <div class="row">
    <div class="col-xs-12">
      <div id="problemList" class="list-group">
        {% for prob in rows %}
        <div class="list-group-item" id="problem_{{prob.pk}}">
	  <div class="row">
	    <div class="col-xs-1">
	      {% if rows.start_index %}{{ forloop.counter|add:rows.start_index|add:-1 }}.{% else %}{{forloop.counter}}.{% endif %}

	    </div>
	    <div class="col-xs-11">
	      <p>
		{% include "problemeditor/snippets/problemtext.html" %}
		[{{prob.readable_label}}] (<a href="/problemeditor/contest/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/">Edit Tags/Solutions</a>)
	      </p>
	      
	      {% if prob.question_type_new.question_type == 'multiple choice' %}
	      <p>Answer: <span id="mc_answer_{{prob.pk}}">{{prob.mc_answer}}</span>{% if request.user.userprofile.user_type_new.name == "super" %} (<a class="edit-mc-answer" href="{{prob.pk}}">Edit Answer</a>){% endif %}</p>
	      {% elif prob.question_type_new.question_type == 'short answer' %}
	      <p>Answer: <span id="sa_answer_{{prob.pk}}">{{prob.sa_answer}}</span>{% if request.user.userprofile.user_type_new.name == "super" %} (<a class="edit-sa-answer" href="{{prob.pk}}">Edit Answer</a>){% endif %}</p>
	      {% elif prob.question_type_new.question_type == 'multiple choice short answer' %}
	      <p>Answer: <span id="mc_answer_{{prob.pk}}">{{prob.mc_answer}}</span>{% if request.user.userprofile.user_type_new.name == "super" %} (<a class="edit-mc-answer" href="{{prob.pk}}">Edit Answer</a>){% endif %}</p>
	      
	      <p>Answer: <span id="sa_answer_{{prob.pk}}">{{prob.sa_answer}}</span>{% if request.user.userprofile.user_type_new.name == "super" %} (<a class="edit-sa-answer" href="{{prob.pk}}">Edit Answer</a>){% endif %}</p>
	      {% endif %}
	      
	      
	      
	      
	      {% if request.user.is_superuser %}
	      <p>
		{% if prob.question_type_new.question_type == 'multiple choice' or prob.question_type_new.question_type == 'multiple choice short answer' %}
		<a class="edit-mc-latex" href="{{prob.pk}}">Edit LaTeX Code{% if prob.question_type_new.question_type == 'multiple choice short answer' %} (Multiple Choice){% endif %}</a>
		{% endif %}
		{% if prob.question_type_new.question_type != 'multiple choice' %}
		<a class="edit-latex" href="{{prob.pk}}">Edit LaTeX Code{% if prob.question_type_new.question_type == 'multiple choice short answer' %} (Short Answer){% endif %}</a>
		{% endif %}
	      </p>
	      {% endif %}
	      
	      
	      
	      <div id="duplicate_problems_{{prob.pk}}">
		{% include "problemeditor/duplicate_problems.html" %}
	      </div>
	      
	      {% if request.user.is_superuser %}
	      <p>
		<a class="btn btn-default add-linked-problem" href="{{prob.pk}}" data-toggle="modal">Link to Duplicate Problem</a>
	      </p>
	      <div id="duplicate-status-{{prob.pk}}"></div>
	      {% endif %}
	      
	      
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-1"></div>
	    <div class="col-xs-6" id="problem-tags-{{prob.pk}}">
	      <form action="." method="post" class="js-tag-delete-form">
		{% csrf_token %}
		{% if prob.newtags.count > 0 %}
		<label for="tag-list-{{prob.pk}}">Current Tags</label>
		<ul id="tag-list-{{prob.pk}}">
		  {% for tagg in prob.newtags.all %}
		  <li>
		    <span class="label label-default">{{tagg}}</span>  <span class="delete-tag-link" id="deletetag_{{prob.pk}}_{{tagg.pk}}" style="cursor:pointer;color:red;">&#10006;</span>
		  </li>
		  {% endfor %}
		</ul>
		{% endif %}
	      </form>
	      
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-1"></div>
	    <div class="col-xs-6">
	      <form action="." method="post" class="js-tag-form">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ request}}">
		<label for="addtag_{{prob.pk}}">Add Tag:</label>
		<select name="addtag_{{prob.pk}}" class="js-add-tag-select form-control">
		  <option value="" disabled selected>Select a Tag</option>
		  {% for tagg in tags %}
		  <option value="{{tagg.pk}}">{{tagg}}
		  </option>
		  {% endfor %}
		</select>
		<div id="tagging-status-{{prob.pk}}" class="js-tagging-status">
		  
		</div>
	      </form>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-1"></div>
	    <div class="col-xs-11">
	      <label>Solutions:</label>
	      <div>
		<button class="btn btn-default solution-link" id="solution-link_{{prob.pk}}">View Solutions ({{prob.solutions.count}})</button>
		<bytton class="btn btn-default new-sol" id="new-sol_{{prob.pk}}">New Solution</button>
	      </div>
	    </div>
	  </div>
        </div>
        {% endfor %}
      </div><!--list-group-->
    </div>
  </div>

  {% if rows.has_other_pages %}
  <ul class="pagination">
    {% if rows.has_previous %}
    <li><a href="?page={{ rows.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in rows.paginator.page_range %}
    {% if rows.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    

    {% if rows.has_next %}
    <li><a href="?page={{ rows.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

  {% if request.user.is_superuser %}
  <div class="modal fade" id="duplicate-modal" role="dialog">
    <div class="modal-dialog" role="document">
      
      <div class="modal-content">
	<form method="post" action="." class="add-linked-problem-form">
	  
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Link to Duplicate Problem</h4>
	  </div>
	  <div class="modal-body">
            {% csrf_token %}
	    <input type="hidden" name="original-prob_pk" id="original-prob_pk">
            <div class="form-group">
              <label for="linked_problem_label" class="control-label">Label of Linked Problem</label>
              <input type="text" class="form-control" name="linked_problem_label" id="linked_problem_label" required>
            </div>
	  </div>
	  <div class="modal-footer">
            <button type="submit" name="addlink" class="btn btn-primary">Add Linked Problem</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</form>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="edit-answer-modal" role="dialog">
    
  </div>
  <div class="modal fade" id="edit-latex-modal" role="dialog">
    
  </div>
  {% endif %}
  <div class="modal fade" id="solution-placeholder" role="dialog">
    
  </div>
  <div class="modal fade" id="new-solution-placeholder" role="dialog">

  </div>


