{% extends "randomtest/base.html" %}

{% block title %}Relay Problems{% endblock %}



{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Select Relay</li>
  </ol>
</nav>
<div class="container">
  <h2>Relay Problems</h2>
  <div class="row">
    <div class="col-10">
      <p>Please select a relay.</p>
    </div>

  </div>
  <div class="row">
    <div class="col">
      {% if relay_problems|length > 0 %}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Edit Relay</th>
	    <th>Approachable Backwards?</th>
	    <th>View PDF</th>
	    <th>Individual PNGs</th>
	  </tr>
	</thead>
	<tbody>
	  {% for relay in relay_problems %}
      
	  <tr>
            <td><a href="{{relay.label}}">{{relay.readable_label}}</a></td>
            <td>{% if relay.is_backwards %}Yes{% else %}No{% endif %}</td>
	    <td><a href="{{relay.label}}/pdf/">View PDF</a></td>
	    <td><a href="{{relay.label}}/zip/">Individual PNGs</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
      <a class="btn btn-primary" href="addrelayform/">Add a new relay</a>
    </div>
  </div>
</div>

{% endblock %}
