{% extends './base.html' %}

{% block title %}Solutions: {{label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../../../">{{typelabel}}</a></li>
  <li><a href="../../">{{tag}}</a></li>
  <li class="active">Solutions to {{readablelabel}}</li>
</ol>
    <h2>Solutions to {{readablelabel}}</h2>
<!--      <img src="{{dropboxpath}}{{label }}j.jpg" /> <br>-->
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br><br>
      Answer: {{answer}}<br>
        {% for solution,spk in rows %}
          <h3>Solution {{forloop.counter}}</h3>
	  (<a href="edit/{{spk}}/">Edit</a>) {% if request.user.is_superuser %}(<a href="delete/{{spk}}/">Delete</a>){% endif %}<br><br>
	  {{solution|linebreaks}}<br><br>
        {% endfor %}
	<button type="button" class="save btn btn-default" onclick="location.href='./new'">New Solution</button>
{% endblock %}
