{% extends 'randomtest/base.html' %}

{% block title %}Solutions: {{label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../../../">{{typelabel}}</a></li>
  <li><a href="../../">{{tag}}</a></li>
  <li class="active">Solutions to {{readablelabel}}</li>
</ol>
<h2>Solutions to {{readablelabel}}</h2>
<div class="form-group">
  {% if mc %}
    <label>Problem Text:</label>
    <p>{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
    <p>Answer: {{mc_answer}}{% if request.user.userprofile.user_type_new.name == "super" %} (<a href="editanswer/">Edit Answer</a>){% endif %}
    </p>
  {% endif %}
  {% if sa or pf %}
    <label>Problem Text:</label>
    <p>{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
    {% if sa %}<p>Answer: {{sa_answer}}{% if request.user.userprofile.user_type_new.name == "super" %} (<a href="editanswer/">Edit Answer</a>){% endif %}</p>
    {% endif %}
  {% endif %}
  {% if mcsa %}
  <label>Problem Text (Multiple Choice):</label>
  <p>{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
<p>Answer: {{mc_answer}}</p>
<label>Problem Text (Short Answer):</label>
<p>{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
<p>Answer: {{sa_answer}}</p>
{% endif %}

{% if duplicate_problems.count > 0 %}
<label>Duplicate Problems:</label>
<ul>
{% for dp in duplicate_problems.all %}
<li>{{dp.label}}: (<a href="/problemeditor/bytest/{{dp.type_new.type}}/{{dp.test_label}}/{{dp.label}}/">Tags</a>) (<a href="/problemeditor/bytest/{{dp.type_new.type}}/{{dp.test_label}}/{{dp.label}}/solutions/">Solutions</a>)</li>
{% endfor %}
</ul>
{% endif %}

</div>

<!--{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br><br>-->
        {% for solution,spk in rows %}
          <h3>Solution {{forloop.counter}}</h3>
	  (<a href="edit/{{spk}}/">Edit</a>) {% if request.user.is_superuser %}(<a href="delete/{{spk}}/">Delete</a>){% endif %}<br><br>
	 {% autoescape off %} {{solution|linebreaks}} {% endautoescape %}<br><br>
        {% endfor %}
	<button type="button" class="save btn btn-default" onclick="location.href='./new'">New Solution</button>
{% endblock %}
