{% extends 'randomtest/base.html' %}

{% block title %}Problems with tag: {{tag.tag}}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Problem Editor</a></li>
    <li class="breadcrumb-item"><a href="/problemeditor/tags/">Edit Tags</a></li>
    <li class="breadcrumb-item active">{{tag.tag}}</li>
  </ol>
</div>
<div class="container">
<h2>Problems with tag: {{tag.tag}}</h2>


  {% include 'problemeditor/problem-snippets/paginatedproblemlist.html' with rows=page_obj %}
</div>

{% include 'problemeditor/problem-snippets/scripts/problemscripts.html' %}

{% endblock %}
