
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Info for Tag: {{tag}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
	{% if tag.description %}
	<div class="row">
	  <div class="col-12">
	    <label for="desc">Description:</label>
	    <div>{{tag.description}}</div>
	  </div>
	</div>
	{% endif %}
	<div class="row">
	  <div class="col-12">
	    <table class="table">
	      <thead>
		<tr>
		  <th>
		    Category
		  </th>
		  <th>
		    Number of Problems
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for typ,count in rows %}
		<tr>
		  <td>
		    {{typ}}
		  </td>
		  <td>
		    {{count}}
		  </td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" />
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
