{% extends 'randomtest/base.html' %}

{% block title %}Problems with tag: {{tag.tag}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/problemeditor/">Problem Editor</a></li>
  <li><a href="/problemeditor/tags/">Edit Tags</a></li>
  <li class="active">{{tag.tag}}</li>
</ol>
<h2>Problems with tag: {{tag.tag}}</h2>
<table class="table">
{% for prob in object_list %}
<tr>
<td>
{{forloop.counter|add:page_obj.start_index|add:-1 }}.
</td>
<td>
{% if prob.question_type_new.question_type == 'multiple choice' %}
{% autoescape off %}
<p>{{prob.display_mc_problem_text}}</p>
<p>{{prob.readable_label}} (<a href="/problemeditor/redirectproblem/{{prob.pk}}">Edit Tags/Solutions</a>)</p>
{% endautoescape %}
{% else %}
{% autoescape off %}
<p>{{prob.display_problem_text}}</p>
<p>[{{prob.readable_label}}] (<a href="/problemeditor/redirectproblem/{{prob.pk}}">Edit Tags/Solutions</a>)</p>
{% endautoescape %}
{% endif %}
</td>
</tr>
{% endfor %}
</table>


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}  

{% endblock %}
