{% extends "randomtest/base.html" %}
{% block title %}{{typelabel}} Problems by Tag{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Select Type</a></li>
    <li class="breadcrumb-item active">{{typelabel}}</li>
  </ol>
</nav>

<div class="container">
  <h2>Problem Editor</h2>
  <div class="row">
    <div class="col-12">
      <p>Tag the <a href="untagged/">{{num_untagged}} untagged problems</a>.</p>
      <p>Click on a box to expand a tag.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% for rows2,urltag,tag,unsolution,num,unsolution_specific,num_specific in rows1 %}
      <div class="list-group list-group-root card mb-2">
        <div data-target="#tag_{{tag.pk}}" class="list-group-item" data-toggle="collapse" style="background-color:#bbbbbb">
          <div class="row">
            <div class="col-6">
	      {% if num > num_specific %}
              <i class="fa fa-chevron-right glg"></i>
	      {% else %}
	      <i class="fa fa-asterisk"></i>
	      {% endif %}
              <a class="inner-link" href="{{tag.pk}}/">{{tag}}</a>
	      <span class="fa fa-info-circle tag-info" style="color:green;cursor:pointer;" id="info_tag/{{tag.pk}}/"></span> ({{num}} matches, {{num_specific}} {% if num_specific > 0 %}<a class="inner-link" href="{{tag.pk}}?exact=true">exact</a>{% else %}exact{% endif %} matches)
            </div>
            <div class="col-6">
	      # problems with no solution: {{unsolution}} ({{unsolution_specific}} for problems matching specific tag)
            </div>
          </div>
	</div>
        <div class="collapse" id="tag_{{tag.pk}}">
	  <div class="list-group">
            {% for rows3,urltag2,tag2,unsolution2,num2,unsolution_specific2,num_specific2 in rows2 %}
            <div data-target="#subtag_{{tag2.pk}}" class="list-group-item" {% if num2 > num_specific2 %}data-toggle="collapse"{% endif %} style="background-color:lightgray">
              <div class="row">
		<div class="col-6">
		  {% if num2 > num_specific2 %}
                  <i class="fa fa-chevron-right glg pl-2"></i>
		  {% else %}
		  <i class="fa fa-asterisk pl-2"></i>
		  {% endif %}
		  <a class="inner-link" href="{{tag2.pk}}/">{{tag2}}</a>
		  <span class="fa fa-info-circle tag-info" style="color:green;cursor:pointer;" id="info_tag/{{tag2.pk}}/"></span> ({{num2}} matches, {{num_specific2}}  {% if num_specific > 0 %}<a class="inner-link" href="{{tag2.pk}}?exact=true">exact</a>{% else %}exact{% endif %} matches)
		</div>
		<div class="col-6">
		  # problems with no solution: {{unsolution2}} ({{unsolution_specific2}} for problems matching specific tag)
		</div>
              </div>
            </div>
	    <div class="collapse" id="subtag_{{tag2.pk}}">
	      <div class="list-group">
		{% for urltag3,tag3,unsolution3,num3 in rows3 %}
		<div class="list-group-item">
		  <div class="row">
		    <div class="col-6">
		      <i class="fa fa-asterisk pl-4"></i> 
                      <a href="{{tag3.pk}}/">{{tag3}}</a> <span class="fa fa-info-circle tag-info" style="color:green;cursor:pointer;" id="info_tag/{{tag3.pk}}/"></span> ({{num3}} matches)
		    </div>
		    <div class="col-6">
		      # problems with no solution: {{unsolution3}}
		    </div>
		  </div>
		</div>
		{% endfor %}
	      </div>
            </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="modal fade" id="tag-info-placeholder" role="dialog">

</div>
<script>
$(".inner-link").on('click',function(e) {
    e.stopPropagation();
});



$(document).on('click',".tag-info",function(e) {
    e.stopPropagation();
    var target = "/problemeditor/tags/"+$(this).attr("id");

    $("#tag-info-placeholder").load(target, function() {
         $("#tag-info-placeholder").modal("show");
    });

});

$(document).on('click', ".list-group-item",function(e) {
    $('.glg', this)
      .toggleClass('fa-chevron-right')
      .toggleClass('fa-chevron-down');
});


</script>

{% endblock %}
