{% extends "randomtest/base.html" %}
{% block title %}Choose a Test{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Select Type</a></li>
    <li class="breadcrumb-item active">{{typelabel}}</li>
  </ol>
</nav>
<div class="container">
  <h2>Problem Editor</h2>
  <div class="row">
    <div class="col">
      <p>Tag the <a href="untagged/">{{num_untagged}} untagged problems</a>.</p>
      <p>Please select a test.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Test</th>
	    <th>Number of Untagged Problems</th>
	    <th>Number of Problems with no Solution</th>
	    <th>Total Number of Problems</th>
	  </tr>
	</thead>
	<tbody>
	  {% for testlabel,untag,unsolution,num in rows2 %}
	  
	  <tr>
            <td><a href="{{testlabel}}">{{testlabel}}</a></td>
            <td>{{untag}}</td>
            <td>{{unsolution}}</td>
            <td>{{num}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
