{% extends "randomtest/base.html" %}
{% block title %}{{tag}}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/problemeditor/">Select Type</a></li>
{% if is_sourced %}
{% if is_chapter %}
    <li class="breadcrumb-item"><a href="../../../">{{typelabel}}</a></li>
    <li class="breadcrumb-item"><a href="../">Book: {{source.title}}</a></li>
{% else %}
    <li class="breadcrumb-item"><a href="../../">{{typelabel}}</a></li>
{% endif %}
{% else %}
    <li class="breadcrumb-item"><a href="../">{{typelabel}}</a></li>
{% endif %}
    <li class="breadcrumb-item active">{{tag}}</li>
  </ol>
</nav>
<div class="container">
  <h2>Problem Editor: {{tag}}</h2>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
	<tr>
	  <td>
	    Problem
	  </td>
	  {% for prob in rows %}
	  <td style="text-align:center">
	    <a href="#problem_{{prob.pk}}">{% if rows.start_index %}{{ forloop.counter|add:rows.start_index|add:-1 }}{% else %}{{forloop.counter}}{% endif %}</a>
	  </td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>
	    # Solutions
	  </td>
	  {% for prob in rows %}
	  <td style="text-align:center">
	    <span id="num_solutions-{{prob.pk}}">
	      {{prob.solutions.count}}
	    </span>
	  </td>
	  {% endfor%}
	</tr>
	<tr>
	  <td>
	    Tagged
	  </td>
	  {% for prob in rows %}
	  <td style="text-align:center">
	    <span id="tagged-{{prob.pk}}">
	      {% if prob.newtags.count > 0 %}
	      <span class="fa fa-check" style="color:green"></span>
	      {% else %}
	      -
	      {% endif %}
	    </span>
	  </td>
	  {% endfor%}
	</tr>
	{% if show_mc_answer %}
	<tr style="display:none" id="mc_answers">
	  <td>
	    Answer
	  </td>
	  {% for prob in rows %}
	  <td>
	    {{prob.mc_answer}}
	  </td>
	  {% endfor %}
	</tr>
	{% endif %}
      </table>
    </div>
  </div>
{% if show_mc_answer %}
<div class="row">
<div class="col">
<button class="btn btn-secondary mb-3" id="toggle_answers">Show/Hide Answers</button>
</div>
</div>
{% endif %}
    
    {% include 'problemeditor/problem-snippets/paginatedproblemlist.html' %}
  {% if is_sourced %}
  <div class="row">
    <div class="col">
      <button class="btn btn-primary add-sourced-problem" id="add_source-{{source.source_type}}">Add a Problem</button>
    </div>
  </div>
{% endif %}
</div>
{% if is_sourced %}
<div class="modal fade" id="add-problem" role="dialog">
</div>
{% endif %}
{% include 'problemeditor/problem-snippets/scripts/problemscripts.html' %}
<script>
$(document).on('click','#toggle_answers', function(e) {
$("#mc_answers").toggle();
});
</script>
{% endblock %}


