{% extends "randomtest/base.html" %}

{% block title %}Choose a Category{% endblock %}



{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Select Type</li>
  </ol>
</nav>
<div class="container">
  <h2>Problem Editor</h2>
  <div class="row">
    <div class="col-10">
      <p>Please select a test category.</p>
    </div>
    <div class="col-2" style="text-align:right">
      <p><a href="tags" class="btn btn-primary">Tags</a></p>
    </div>

  </div>
  <div class="row">
    <div class="col">
      {% if rows|length > 0 %}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>View Tests</th>
	    <th>View by Tag</th>
            <th># Untagged</th>
	    <th># with no Solution</th>
	    {% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %}
	    <th>Add Test</th>
	    {% endif %}
	  </tr>
	</thead>
	<tbody>
      {% for type,untagged,unsolution in rows %}
      
      <tr>
        <td>{% if type.is_contest == 1 %}<a href="contest/bycontest/{{type.type}}">{{type.label}}</a>{% if type.is_contest == 1 %} ({{type.min_year}}-{{type.max_year}}){% endif %}</td>{% elif type.is_sourced == 0 %}<a href="CM/bytopic/{{type.type}}">{{type.label}}</a>{% else %}<a href="sources/">Sourced Problems</a>{% endif %}

        <td>{% if type.is_contest == 1 %}<a href="contest/bytag/{{type.type}}">View by Tag</a>{% elif type.is_sourced == 0 %}<a href="CM/bytag/{{type.type}}">View by Tag</a>{% endif %}</td>
        <td>{{untagged}}/{{type.problems.count}}</td>
        <td>{{unsolution}}/{{type.problems.count}}</td>
	    {% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %}
	    <td>{% if type.is_contest %}<button class="btn btn-secondary btn-sm add-test mr-2" id="addtest__{{type.label}}__{{type.type}}">Add Test</button><button class="btn btn-secondary btn-sm upload-test" id="uploadtest__{{type.type}}">Upload Test</button>{% endif %}</td>
	    {% endif %}
      </tr>
      {% endfor %}
	</tbody>
      </table>
      {% endif %}
      {% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "sitemanager" %}
      <a class="btn btn-primary" href="addproblemform/">Add a CleverMath problem</a>
      {% endif %}
      
    </div>
  </div>
</div>
{% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %}
  <div class="modal fade" id="add-test-modal" role="dialog">
    <div class="modal-dialog" role="document">

      <div class="modal-content">
        <form method="get" action="." id="add-test-form">

          <div class="modal-header">
            <h5 class="modal-title">Add Test to <span id="type-label"></span></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
	    <input type="hidden" id="type-type" value="">
	    <label for="num-problems">Number of Problems</label>
	    <input type="number" class="form-control" id="num-problems" required>
	    <label for="custom-labels">Custom Labels</label>
	    <select class="form-control" id="custom-labels">
	      <option value="0">No</option>
	      <option value="1">Yes</option>
	    </select>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="addtest" class="btn btn-primary">Start Adding Problems</button>
          </div>
        </form>
      </div>

    </div>
  </div>
<script>
$(document).on('click',".add-test", function(e) {
    e.preventDefault();
    var type_label = $(this).attr("id").split('__')[1];
    var type_type = $(this).attr("id").split('__')[2];
    $("#type-label").html(type_label);
    $("#type-type").val(type_type);
    $("#add-test-modal").modal("show");
});
$(document).on('click',".upload-test", function(e) {
    e.preventDefault();
    var type_type = $(this).attr("id").split('__')[1];
    window.location='uploadcontest/'+type_type+'/';
});
$(document).on('submit',"#add-test-form",function(e) {
    e.preventDefault();
    var cust_lab = ''
    if ($("#custom-labels").val() == "1") {cust_lab = "?custom_labels";}
    window.location='addcontest/' + $("#type-type").val()+'/'+$("#num-problems").val()+'/'+cust_lab;
});
</script>
{% endif %}

{% endblock %}
