{% extends "randomtest/base.html" %}

{% block title %}Upload Preview{% endblock %}

{% block content %}
<div class="container">
<h1>Preview Upload for {{name}}</h1>
  <div class="row">
    <div class="col">
<p class="text-muted">
Close this tab to return to the upload page, where you can save the test.
</p>
      <div class="list-group">
	{% for a,b in rows %}
	<div class="list-group-item">
	  {% autoescape off %}{{a|linebreaks}} {% endautoescape %}
	  <p>[{{b}}]</p>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
