{% extends './base.html' %}

<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
{% block title %}Problem: {{form.instance.label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../../">{{typelabel}}</a></li>
  <li><a href="../">{{tag}}</a></li>
  <li class="active">{{label}}</li>
</ol>
    <h2>Edit Problem</h2>
    <form method="POST" class="post-form">{% csrf_token %}
      <img src="{{dropboxpath}}{{ form.instance.label }}j.jpg" /> <br>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
