{% extends 'randomtest/base.html' %}

{% block title %}Problem: {{form.instance.label}}{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/custjquery.init.js"></script>
<script type="text/javascript" src="/static/js/custcore.js"></script>
<script type="text/javascript" src="/static/js/custSelectBox.js"></script>
<script type="text/javascript" src="/static/js/custSelectFilter2.js"></script>
<script type="text/javascript" src="/static/js/custjsi18n.js"></script>
<link href="/static/css/widgets2.css" type="text/css" media="all" rel="stylesheet" />



{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../../">{{typelabel}}</a></li>
  <li><a href="../">{{tag}}</a></li>
  <li class="active">{{form.instance.readable_label}}</li>
</ol>
    <h2>Edit Problem</h2>
    <form method="POST" class="post-form">{% csrf_token %}

{% include "problemeditor/snippetprobtextans.html" %}



{% if form.instance.author_name != '' %}<p>Author: {{form.instance.author_name}}</p>{% endif %}

      {% if request.user.is_superuser %}<a href="edittext/">Edit LaTeX Code</a><br>{% endif %}<br>
{% if form.instance.duplicate_problems.count > 0 %}
<label>Duplicate Problems:</label>
<ul>
{% for dp in form.instance.duplicate_problems.all %}
<li>{{dp.label}}: (<a href="/problemeditor/contest/bytest/{{dp.type_new.type}}/{{dp.test_label}}/{{dp.label}}/">Tags/Solutions</a>)</li>
{% endfor %}
</ul>
{% endif %}


<label>Solutions</label><br>
{% for solution in rows %}
  <label>Solution {{forloop.counter}}:</label>
      <p><small>(<a href="editsolution/{{solution.pk}}/">Edit</a>)</small> {% if request.user.is_superuser %}<small>(<a href="deletesolution/{{solution.pk}}/">Delete</a>)</small>{% endif %}</p>
      {% autoescape off %}  {{solution.display_solution_text|linebreaks}} {% endautoescape %}
{% endfor %}
{% if rows|length == 0 %}<p>No Solutions Yet</p>{% endif %}
<button type="button" class="save btn btn-default" onclick="location.href='newsolution/'">New Solution</button>
<br><br>
      

        {{ form.as_p }}
<p>
        <button type="submit" class="save btn btn-primary">Save</button>

</p>
    </form>
{% endblock %}
