{% extends './base.html' %}

{% block title %}Problem: {{form.instance.label}}{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/js/core.js"></script>
<script type="text/javascript" src="/static/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/js/jsi18n.js"></script>
<link href="/static/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
<!--{{ form.media }}-->



{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/problemeditor/">Select Type</a></li>
  <li><a href="../../">{{typelabel}}</a></li>
  <li><a href="../">{{tag}}</a></li>
  <li class="active">{{readablelabel}}</li>
</ol>
    <h2>Edit Problem</h2>
    <form method="POST" class="post-form">{% csrf_token %}
<!--      <img src="{{dropboxpath}}{{ form.instance.label }}j.jpg" /> <br>-->

<div class="form-group">
{% if mc %}
<label>Problem Text:</label>
{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]
{% endif %}
{% if sa or pf %}
<label>Problem Text:</label>
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]
{% endif %}
{% if mcsa %}
<label>Problem Text (Multiple Choice):</label>
<p>{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
<label>Problem Text (Short Answer):</label>
<p>{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]</p>
{% endif %}
</div>
{% if form.instance.author_name != '' %}<p>Author: {{form.instance.author_name}}</p>{% endif %}

<!--{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br><br>-->
      {% if request.user.is_superuser %}<a href="edittext/">Edit LaTeX Code</a><br>{% endif %}<br>
        {{ form.as_p }}
<p>
        <button type="submit" class="save btn btn-default">Save</button>
</p>
    </form>
{% endblock %}
