<div class="modal-dialog modal-lg">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Solutions to {{object.readable_label}}</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <h3>Problem</h3>

          <div class="col-12">
            {% if object.question_type.question_type == "multiple choice" %}
            {% autoescape off %}{{object.display_mc_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{object.readable_label}}]</span>
            {% else %}
            {% autoescape off %}{{object.display_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{object.readable_label}}]</span>
            {% endif %}
          </div>
	  <div class="col-12 mt-1 mb-1">
	    Correct Answer: ${{object.sa_answer}}$
	  </div>
          <div class="col-12 pt-3">
            {% if object.solutions.count > 0 %}
            <div class="list-group">
              {% for sol_obj in object.solutions.all %}
	            <div class="list-group-item">
                <h3>Solution {{forloop.counter}}</h3>
                {% autoescape off %} {{sol_obj.display_solution_text|linebreaks}} {% endautoescape %}
              </div>
              {% endfor %}
            </div>
            {% else %}
            No solutions in database.
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>
