{% extends "./base.html" %}

{% block content %}
<h2>Search results for "{{searchterm}}"</h2>
There are {{matchnums}} matching problems in the database.
<br>
<table class="table">
{% for label,qt,pk,prob_latex,readablelabel,mc_prob_latex,num in rows %}
<tr>
<td valign="top"><br>
{{num}}.
</td>
<td>
{% if qt.question_type == 'multiple choice' %}
{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br>
{% else %}
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  [{{readablelabel}}]<br>
{% endif %}

</td>
</tr>
{% endfor %}
</table>
{% if rows.has_other_pages %}
<ul class="pagination">
        {% if rows.has_previous %}
            <li><a href="?page={{ rows.previous_page_number }}&{{current_url}}">&laquo;</a></li>
            {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in rows.paginator.page_range %}
          {% if rows.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}&{{current_url}}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}


        {% if rows.has_next %}
        <li><a href="?page={{ rows.next_page_number }}&{{current_url}}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
</ul>
{% endif %}

{% endblock %}
