{% extends "randomtest/base.html" %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

<div class="container">
  <h2>Search</h2>
  <div class="row">
    <div class="col">
      <p>Enter a search term, and select more specific options if desired. This will search for problems with text matching the keywords.</p>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <form action="results/" method="get">
	<input type="hidden" name="searchform" value="start">
	<div class="row">
	  <div class="form-group col-lg-3">
	    <label for="keywords">Keywords:</label>
	    <input type="text" name="keywords" class="form-control">
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-3">
	    <label for="testtype" class="control-label">Problem Type:</label>
	    <select name="testtype" class="form-control">
	      {% for typ in types %}
	      <option value="T_{{typ.pk}}">{{typ.label}} Problems</option>
{% for round in typ.rounds.all %}
<option value="R_{{round.pk}}">&nbsp;&nbsp;&nbsp;-{{round.name}} Problems</option>
{% endfor %}
	  {% endfor %}
	    </select>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-5">
	    <label for="tag" class="control-label">Desired Tag (<a href="/randomtest/tagcounts/">Tag Counts</a>):</label>
	    
	    <select name="tag" class="form-control">
	      <option value="">Unspecified</option>
	      {% for t in tags %}
	      <option value="{{t.tag}}">{{t.tag}}</option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-5">
	    <label for="probbegin" class="control-label">Range of Problem Numbers (for all problems, leave this blank):</label>
	    <div class="form-inline">
	      <input type="number" name="probbegin" style="width: 75px;" class="form-control">&nbsp;to&nbsp;<input type="number" name="probend" style="width: 75px;" class="form-control">
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-5">
	    <label for="yearbegin" class="control-label">Year Range (for all years, leave this blank):</label>
	    <div class="form-inline">
	      <input type="number" name="yearbegin" style="width: 105px;" class="form-control">&nbsp;to&nbsp;<input type="number" name="yearend" style="width: 105px;" class="form-control">
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-5">
	    <div class="form-check">
	      <label class="form-check-label">
		<input class="form-check-input" type="checkbox" name="solutionsearch" value="">
		Search Solutions
	      </label>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group col-lg-5">
            <label for="sol_opts" class="control-label">Solution Options</label>

            <select name="sol_opts" class="form-control">
              <option value="all">Search All Problems</option>
              <option value="sols">Search Only Problems With Solutions</option>
              <option value="nosols">Search Only Problems With No Solutions</option>
            </select>
	  </div>
	</div>
	<button type="submit" value="Search" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
