

            <a name="{{prob_label}}"></a>
	    <div class="panel panel-default">
	      <div class="panel-heading"><!--heading-->
		<h3 class="panel-title">Problem {{forloop.counter}} ({{resp.point_value}} Points)<span class="js-star-toggle pull-right" style="color:#FFD700" id="star_{{resp.pk}}">{% if resp.stickied == 1 %}<span class="glyphicon glyphicon-star"></span>{% else %}<span class="glyphicon glyphicon-star-empty"></span>{% endif %}</span></h3>
	      </div><!--end heading-->

	      <div class="panel-body"><!--body-->
                {% autoescape off %}{{problem_display|linebreaks}} {% endautoescape %}{% if readable_label %} <span class="pull-right"> [{{readable_label}}]</span>{% endif %}<br>		
	      </div><!--endbody-->

	      <div class="panel-footer"><!--footer-->
		{% if question_type == 'short answer' or question_type == 'multiple choice' %}
		<div class="row">

		  <div class="col-xs-6" id="answer-input-{{prob_label}}"><!--Answer Input-->
		    {% if question_type == 'short answer' %}
		    {% if resp.attempted %}
		    {% if answer == response %}
		    <div class="form-group has-success has-feedback">
		      <input type="text" class="form-control" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}}" disabled>
		      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
		    </div>
		    {% else %}
		    <div class="form-group has-error has-feedback">
		      <input type="text" class="form-control" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}}">
		      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
		    </div>
		    {% endif %}
		    {% else %}
		    <input type="text" class="form-control" name="answer{{prob_label}}" name="id{{prob_label}}">
		    {% endif %}
		    
		    {% elif question_type == 'multiple choice' %}
		    <div class="form-group" name="answers_{{prob_label}}"><!--mc_answer_choices-->
		      <label class="radio-inline{% if response == answer %} disabled{% endif %} answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="A" {% if response == "A" %}checked="checked"{% endif %} {% if response == answer %} disabled{% endif %}> A
		      </label>
		      <label class="radio-inline{% if username or response == resp.problem.mc_answer %} disabled{% endif %} answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="B" {% if response == "B" %}checked="checked"{% endif %} {% if response == answer %} disabled{% endif %}> B
		      </label>
		      <label class="radio-inline{% if username or response == resp.problem.mc_answer %} disabled{% endif %} answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="C" {% if response == "C" %}checked="checked"{% endif %} {% if response == answer %} disabled{% endif %}> C
		      </label>
		      <label class="radio-inline{% if username or response == resp.problem.mc_answer %} disabled{% endif %} answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="D" {% if response == "D" %}checked="checked"{% endif %} {% if response == answer %} disabled{% endif %}> D
		      </label>
		      <label class="radio-inline{% if username or response == resp.problem.mc_answer %} disabled{% endif %} answer_{{prob_label}}">
			<input type="radio" name="answer{{prob_label}}" value="E" {% if response == "E" %}checked="checked"{% endif %} {% if response == answer %} disabled{% endif %}> E
			
		      </label>
		      <span id="answerstatus_{{prob_label}}">
			{% if resp.attempted %}
			{% if response == answer %}
			<span class="glyphicon glyphicon-ok" style="color:green"></span>
			{% else %}
			<span class="glyphicon glyphicon-remove" style="color:red"></span>
			{% endif %}
			{% endif %}
		      </span>
		    </div><!--end mc_answer_choices-->
		    {% endif %}
		  </div><!--Answer input-->
		  <div class="col-xs-6" id="check-button-{{prob_label}}" align="right"><!--button div-->
		    


                {% if question_type == 'multiple choice' %}
                {% if resp.attempted == 0 or answer != response %}
                <button type="submit" class="btn btn-primary js-check-mc-answer" id="check-answer-{{prob_label}}">Check Answer</button>
                {% endif %}
                {% elif question_type == 'short answer' %}
                {% if resp.attempted == 0 or answer != response %}
                <button type="submit" class="btn btn-primary js-check-answer" id="check-answer-{{prob_label}}">Check Answer</button>
                {% endif %}
                {% endif %}



		    
		    {% if answer == response %}
		    {% if resp.problem_object.isProblem == 1 and resp.problem_object.problem.solutions.count > 0 %}
		    <button data-target="#solution-placeholder" class="btn btn-default solution-link" id="solution-link" href="load_sol/{{resp.problem_object.pk}}/">Solution</button>
		    {% else %}
		    <button class="btn btn-default" disabled data-toggle="tooltip" title="We haven't written a solution to this problem yet"><span style="color:red">Solution</span></button>
		    {% endif %}
		    {% endif %}
		    
		  </div><!--button div-->
		  <div class="col-xs-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div><!--row-->
		{% endif %}
		{% if question_type == "proof" %}
		<div class="row">
		  <div class="col-xs-12" id="proof-text-div-{{prob_label}}">
		    {% include "student/proof-response-snippet.html" %}
		  </div>
		  <div class="col-xs-12" id="edit-proof-button-{{prob_label}}" align="right"><!--button div-->
                    <button class="btn btn-primary js-edit-proof" id="edit-proof-{{resp.pk}}"{% if resp.graded %} disabled{% endif%}>Edit Response</button>
		  </div>
		  <div class="col-xs-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div>
		{% endif %}
	      </div><!--panel footer-->
	    </div><!--panel-->

