{% extends "randomtest/base.html" %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../">My Classes</a></li>
    <li class="breadcrumb-item"><a href="../../#cl_{{test.userunitobject.user_unit.user_class.pk}}">{{slides.userunitobject.user_unit.user_class.published_class.name}}</a></li>
    <li class="breadcrumb-item"><a href="../../#un_{{test.userunitobject.user_unit.pk}}">{{slides.userunitobject.user_unit.published_unit.name}}</a></li>
    <li class="breadcrumb-item active">{{test.published_test.name}}</li>
  </ol>
</nav>

{% load tz %}
<div class="container">
  <h2>{{test.published_test.name}}</h2>
  {% if too_early %}
  <div class="row">
    <p class="col-12">
      This test is not available yet. Please try again during the testing period (beginning {{test.published_test.start_date|timezone:request.user.userprofile.time_zone}}).
    </p>
  </div>
  {% else %}

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
	{% for response_row,start_index in response_rows %}
	{% if not forloop.first %}
	<tr>
	  <td style="border-left: 0px solid;{% if not forloop.last %}border-right: 0px solid{% endif %}" colspan="{{response_row|length|add:1}}"></td>
	</tr>
	{% endif %}
	<tr>
	  <td>
	    Problem
	  </td>
	  {% for resp in response_row %}
	  <td style="text-align:center">
	    <a href="#{{resp.publishedproblem_object.pk}}">{{forloop.counter|add:start_index}}</a>
	  </td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>
	    Status
	  </td>
	  {% for resp in response_row %}
	  <td style="text-align:center">
	    <span id="table-problem-status-{{resp.publishedproblem_object.pk}}">
	      {% if not_graded %}
               {% if resp.attempted %}
                <span class="fa fa-save" style="color:blue"></span>
               {% else %}
                -
               {% endif %}
              {% else %}
	      {% if resp.attempted %}
	       {% if resp.publishedproblem_object.question_type.question_type == "multiple choice" %}
	        {% if resp.publishedproblem_object.isProblem == 0 %}
	         {% if resp.response == resp.publishedproblem_object.mc_answer %}
	          <span class="fa fa-check" style="color:green"></span>
	         {% else %}
	          <span class="fa fa-remove" style="color:red"></span>
	         {% endif %}
	        {% else %}
	         {% if resp.response == resp.publishedproblem_object.problem.mc_answer %}
	          <span class="fa fa-check" style="color:green"></span>
	         {% else %}
	          <span class="fa fa-remove" style="color:red"></span>
	         {% endif %}
	        {% endif %}
	       {% elif resp.publishedproblem_object.question_type.question_type == "short answer" %}
	        {% if resp.publishedproblem_object.isProblem == 0 %}
	         {% if resp.response == resp.publishedproblem_object.sa_answer %}
	          <span class="fa fa-check" style="color:green"></span>
	         {% else %}
	          <span class="fa fa-remove" style="color:red"></span>
	         {% endif %}
	        {% else %}
	         {% if resp.response == resp.publishedproblem_object.problem.sa_answer %}
	          <span class="fa fa-check" style="color:green"></span>
	         {% else %}
	          <span class="fa fa-remove" style="color:red"></span>
	         {% endif %}
	        {% endif %}
               {% elif resp.publishedproblem_object.question_type.question_type == "proof" %}
                {% if resp.is_graded %}
	  	  {{resp.points}}/{{resp.point_value}}
                {% else %}
	          <span class="fa fa-hourglass" style="color:orange"></span>
                {% endif %}
	       {% endif %}
	      {% else %}
	      -
	      {% endif %}
              {% endif %}
	    </span>
	    <span id="table-star-status-{{resp.publishedproblem_object.pk}}">
	      {% if resp.stickied %}
	       (<span class="fa fa-star" style="color:#FFD700"></span>)
	      {% endif %}
	    </span>
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
  {% if test.is_in_progress %}
  <div class="row">
    <div class="col-6">
      <p><b>Start Time:</b> {{test.start_time|timezone:request.user.userprofile.time_zone}}</p>
    </div>
    <div class="col-6">
      <p><b>End Time:</b> {{test.end_time|timezone:request.user.userprofile.time_zone}}</p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      {% csrf_token %}
      <input type="hidden" name="startform" value="{{pk}}">
      <table>
	{% for resp in rows %}
	{% if resp.publishedproblem_object.isProblem %}
	{% if resp.publishedproblem_object.question_type.question_type == "multiple choice" %}
	
	{% include "student/test/test-panel.html" with question_type=resp.publishedproblem_object.question_type.question_type prob_label=resp.publishedproblem_object.pk response=resp.response resp=resp problem_display=resp.publishedproblem_object.problem.display_mc_problem_text readable_label=resp.publishedproblem_object.problem.readable_label answer=resp.publishedproblem_object.problem.mc_answer %}
	
	{% else %}
	
	{% include "student/test/test-panel.html" with question_type=resp.publishedproblem_object.question_type.question_type prob_label=resp.publishedproblem_object.pk response=resp.response resp=resp problem_display=resp.publishedproblem_object.problem.display_problem_text readable_label=resp.publishedproblem_object.problem.readable_label answer=resp.publishedproblem_object.problem.sa_answer %}
	
	{% endif %}
	{% else %}
	
	{% if resp.publishedproblem_object.question_type.question_type == "multiple choice" %}
	{% include "student/test/test-panel.html" with question_type=resp.publishedproblem_object.question_type.question_type prob_label=resp.publishedproblem_object.pk response=resp.response resp=resp problem_display=resp.publishedproblem_object.problem_display answer=resp.publishedproblem_object.mc_answer %}
	
	{% elif resp.publishedproblem_object.question_type.question_type == "short answer" %}
	{% include "student/test/test-panel.html" with question_type=resp.publishedproblem_object.question_type.question_type prob_label=resp.publishedproblem_object.pk response=resp.response resp=resp problem_display=resp.publishedproblem_object.problem_display answer=resp.publishedproblem_object.sa_answer %}

	
	{% else %}
	{% include "student/test/test-panel.html" with question_type=resp.publishedproblem_object.question_type.question_type prob_label=resp.publishedproblem_object.pk response=resp.response resp=resp problem_display=resp.publishedproblem_object.problem_display %}

	{% endif %}
	{% endif %}
	{% endfor %}
      </table>
{% if not past_due %}
      <button type="submit" class="btn btn-primary" id="submit-all" value="Submit Answers">Save Answers</button>
      {% else %}
      {% if test.published_test.student_gradeable %}
      {% if not test.is_graded %}
      <button type="submit" class="btn btn-primary" id="grade-me" value="Grade Test">Grade Test</button>
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
  </div>
  <div id="solution-placeholder" class="modal fade" role="dialog">
  </div>

  <div class="modal fade" id="edit-response-modal" role="dialog">
  </div>
{% endif %}



</div>
{% if not too_early %}

<script>

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});
$(document).on('click',".solution-link",function(event) {
    event.preventDefault();
    var target = $(this).attr("href");


    $("#solution-placeholder").load(target, function() {
         MathJax.Hub.Queue(["Typeset",MathJax.Hub,"solution-placeholder"]);
         $("#solution-placeholder").modal("show");
    });
});

$(document).on('click touch',".js-star-toggle",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: 'toggle_star/',
        data: "&star_id="+$(this).attr('id')+"&data_type=ut&pk={{test.pk}}",
        dataType: 'json',
        success: function(data) {
            $("#star_"+data['response_pk']).html(data['response_code']);
            if (data['is_stickied']=='true') {
                $("#table-star-status-"+data['problem_label']).html("(<span class='fa fa-star' style='color:#FFD700'></span>)");
            } else {
                $("#table-star-status-"+data['problem_label']).html("");
            }
        }
    });
    return false;
});

$(document).on('click',".js-save-mc-response",function(event) {
    event.preventDefault();
    var problem_label=$(this).attr('id').split('-')[2];<!--//problem_label...resp.problem_object.pk-->
    $.ajax({
        type: 'POST',
        url: '{% url 'student_save_response' pk %}',
        data: "&response_id="+$(this).attr('id')+"&answer="+$('input[name=answer'+problem_label+']:checked').val(),
        dataType: 'json',
        success: function(data) {
            if ('error' in data) {

            } else {
            if (data['newly_blank']) {
                $("#attempted-date-"+problem_label).html(data['mod-date']);
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("-");
            } else if (data['no_change']) {
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("<span class='fa fa-save' style='color:blue'></span>");
            } else {
                $("#attempted-date-"+problem_label).html(data['mod-date']);
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("<span class='fa fa-save' style='color:blue'></span>");
            }
            }
        }
    });
    return false;
});

$(document).on('click',".js-save-sa-response",function(event) {
    event.preventDefault();
    var problem_label=$(this).attr('id').split('-')[2];
    var answer = $('input[name=answer'+problem_label+']').val();
    $.ajax({
        type: 'POST',
        url: '{% url 'student_save_response' pk %}',
        data: "&response_id="+$(this).attr('id')+"&answer="+answer,
        dataType: 'json',
        success: function(data) {
            if ('error' in data) {

            } else {
            if (data['newly_blank']) {
                $("#attempted-date-"+problem_label).html(data['mod-date']);
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("-");
            } else if (data['no_change']) {
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("<span class='fa fa-save' style='color:blue'></span>");
            } else {
                $("#attempted-date-"+problem_label).html(data['mod-date']);
                $("#answerstatus_"+problem_label).html("(Saved)");
                $("#table-problem-status-"+problem_label).html("<span class='fa fa-save' style='color:blue'></span>");
            }
            }
        }
    });
    return false;
});

$(document).on('click',".js-edit-proof",function(event) {
    event.preventDefault();
    var resp_pk = $(this).attr('id').split('-')[2];
    $.ajax({
        type: 'GET',
        url: '/student/ajax/load-proof-response/',
        data: "&resp_pk="+resp_pk,
        dataType: 'json',
        success: function(data) {
            $("#edit-response-modal").html(data['modal-html']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"edit-response-modal"]);
            $("#edit-response-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit-response-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/student/ajax/save-proof-response/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data) {
            $("#proof-text-div-"+data['po_pk']).html(data['display_response']);
            $("#table-problem-status-"+data['po_pk']).html("<span class='fa fa-save' style='color:blue'></span>");
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"proof-text-div-"+data['po_pk']]);
	    $("#attempted-date-"+data['po_pk']).html(data['mod-date']);
	    $("#edit-response-modal").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    });
    return false;
});

$(document).on('click',"#submit-all",function(event) {
    event.preventDefault();
    var answer_data="";
    $(".prob-panel").each(function() {
        answer_data=answer_data+'&'+$(this).serialize();
    });
    $.ajax({
        type: 'POST',
        url: '.',
        data: answer_data,
        dataType: 'html',
        success: function(data) {
            location.reload();
        }
    });

    return false;
});

$(document).on('input',".answer-input", function(event) {
    problem_label = $(this).attr('name').replace('answer','');
    $("#answerstatus_"+problem_label).html("(Unsaved)");
});
$(document).on('click',"#grade-me",function(event) {
    event.preventDefault();

    $.ajax({
        type: 'POST',
        url: 'grade_test/',
        dataType: 'json',
        success: function(data) {
           if (data['error']){

           } else {
               location.reload();
           }
        }
    });

    return false;
});
</script>
{% endif %}

{% endblock %}
