{% extends "randomtest/base.html" %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% include 'teacher/sidebar.html' with activenav="myproblemgroups" %}
    </div>
    <div class="col-sm-9 col-md-10 main">

      <h2>My Problem Groups</h2>
      {% if probgroups.count == 0 %}
      You don't have any problem groups yet.
      {% endif  %}

      {% if probgroups.count > 0 %}
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Group Name</th>
            <th>Number of Problems</th>
	    <th>Date Added</th>
	    <th>Remove</th>
	  </tr>
	</thead>
	<tbody>
	  {% for pg in probgroups %}
	  <tr>
            <td><a href="{{pg.pk}}/">{{pg.name}}</a></td>
            <td>{{pg.problems.count}}</td>
            <td>{{pg.created_date}}</td>
	    <td><a href="{{pg.pk}}/delete/"><span class="glyphicon glyphicon-remove" style="color:#ff0000"></span></a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
      {% endif %}
      <p>Start a new problem group.</p>
      <form action="." method="post">
	{% csrf_token %}
	<p>{{form}}</p>
	<p><button type="submit" class="btn btn-primary" value="New Group">New Group</button></p>
      </form>
      
    </div>
  </div>
</div>



{% endblock %}
