{% extends "randomtest/base.html" %}


{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">My Problem Groups</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      {% include 'teacher/sidebar.html' with activenav="myproblemgroups" %}
    </div>
    <div class="col-sm-9 main">
      <h2>My Problem Groups</h2>
      <div id="empty-message">
      {% if probgroups.count == 0 %}
      You don't have any problem groups yet.
      {% endif  %}
      </div>
      
      <table class="table table-striped">
	<thead>
	  <tr>
            <th>Group Name</th>
            <th>Number of Problems</th>
	    <th>Date Added</th>
	    <th>Remove</th>
	  </tr>
	</thead>
	<tbody id="group-row-table">
	  {% for pg in probgroups %}
	  {% include 'teacher/problemgroups/grouptablerow.html' %}
	  {% endfor %}
	</tbody>
      </table>

      <h2>Start a New Problem Group</h2>
      <form action="." method="post" id="new-group-form">
	{% csrf_token %}
	<p>{{form}}</p>
	<p><button type="submit" class="btn btn-primary" value="New Group">New Group</button></p>
      </form>
      
    </div>
  </div>
</div>

<script>
$(document).on('submit',"#new-group-form",function(event) {
  event.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/new-problemgroup/',
    data: $(this).serialize(),
    dataType: 'json',
    success: function(data) {
      $("#group-row-table").append(data['group-row']);
      $("#id_name").val("");
      $("#empty-message").empty();
    }
  });
  return false;
});
</script>


{% endblock %}
