                    {% if resp.attempted %}
                    <ul class="list-group">
                      <label for="proof-text-{{prob_label}}">Your Response<span id="grading-status-{{prob_label}}">{% if not not_graded %} ({{resp.points}}/{{resp.point_value}} Points){% else %} (Ungraded){% endif %}</span>:</label>
                      <li class="list-group-item" id="proof-text-{{prob_label}}">{% autoescape off %}{{resp.display_response}}{% endautoescape %}</li>
                    </ul>
                    {% endif %}
