

            <a name="{{prob_label}}"></a>
	    <div class="card mb-3">
<form class="prob-panel" id="prob-panel-{{prob_label}}">
	      <div class="card-header"><!--heading-->
		<h3 class="panel-title">Problem {{forloop.counter}} ({{resp.point_value}} Points)<span class="js-star-toggle pull-right" style="color:#FFD700" id="star_{{resp.pk}}">{% if resp.stickied == 1 %}<span class="fa fa-star"></span>{% else %}<span class="fa fa-star-o"></span>{% endif %}</span></h3>
	      </div><!--end heading-->

	      <div class="card-body"><!--body-->
                {% autoescape off %}{{problem_display|linebreaks}} {% endautoescape %}{% if readable_label %} <span class="pull-right"> [{{readable_label}}]</span>{% endif %}<br>		
	      </div><!--endbody-->

	      <div class="card-footer"><!--footer-->
		{% if question_type == 'short answer' or question_type == 'multiple choice' %}
		<div class="row">
		  <div class="col-6" id="answer-input-{{prob_label}}"><!--Answer Input-->
		    {% if question_type == 'short answer' %}
                      {% if not_graded %}
                        {% if past_due %}
                          <input type="text" class="form-control answer-input" name="answer{{prob_label}}" name="id{{prob_label}}" value="{% if resp.attempted %}{{response}}{% endif %}" disabled>
                        {% else %}
		          <input type="text" class="form-control answer-input" name="answer{{prob_label}}" name="id{{prob_label}}" value="{% if resp.attempted %}{{response}}{% endif %}">
                        {% endif %}
                      {% else %}
{% comment %}graded{% endcomment %}
                        {% if resp.attempted %}
                          {% if answer == response %}
			  <div class="inner-addon right-addon">
			    <span class="fa fa-check" style="color:green"></span>
			    <input type="text" class="form-control is-valid" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}}" disabled>
			  </div>
                          {% else %}
			  <div class="inner-addon right-addon">
			    <span class="fa fa-remove" style="color:red"></span>
			    <input type="text" class="form-control is-invalid" name="answer{{prob_label}}" name="id{{prob_label}}" value="{{response}} (Correct Answer: {{answer}})" disabled>
			  </div>
                          {% endif %}
		        {% else %}
                          <input type="text" class="form-control answer-input" name="answer{{prob_label}}" name="id{{prob_label}}" value="(Correct Answer: {{answer}})" disabled>
                        {% endif %}<!--resp.attempted-->
		      {% endif %}<!--not_graded-->
			<span id="answerstatus_{{prob_label}}"></span>

		    
		    {% elif question_type == 'multiple choice' %}
		      <div class="form-group" name="answers_{{prob_label}}"><!--mc_answer_choices-->
			<label class="radio-inline{% if past_due %} disabled{% endif %} answer_{{prob_label}}">
			  <input type="radio" name="answer{{prob_label}}" value="A" {% if response == "A" %}checked="checked"{% endif %} {% if past_due %} disabled{% endif %}> A
			</label>
			<label class="radio-inline{% if past_due %} disabled{% endif %} answer_{{prob_label}}">
			  <input type="radio" name="answer{{prob_label}}" value="B" {% if response == "B" %}checked="checked"{% endif %} {% if past_due %} disabled{% endif %}> B
			</label>
			<label class="radio-inline{% if past_due %} disabled{% endif %} answer_{{prob_label}}">
			  <input type="radio" name="answer{{prob_label}}" value="C" {% if response == "C" %}checked="checked"{% endif %} {% if past_due %} disabled{% endif %}> C
			</label>
			<label class="radio-inline{% if past_due %} disabled{% endif %} answer_{{prob_label}}">
			  <input type="radio" name="answer{{prob_label}}" value="D" {% if response == "D" %}checked="checked"{% endif %} {% if past_due %} disabled{% endif %}> D
			</label>
			<label class="radio-inline{% if past_due %} disabled{% endif %} answer_{{prob_label}}">
			  <input type="radio" name="answer{{prob_label}}" value="E" {% if response == "E" %}checked="checked"{% endif %} {% if past_due %} disabled{% endif %}> E
			  
			</label>
			<span id="answerstatus_{{prob_label}}">
			  {% if not not_graded %}
                            {% if resp.attempted %}
			      {% if response == answer %}
			        <span class="fa fa-check" style="color:green"></span>
			      {% else %}
			        <span class="fa fa-remove" style="color:red"></span>
			        {% if past_due %}
                                  Correct Answer: {{answer}}
			        {% endif %}
			      {% endif %}
			    {% else %}
			      {% if past_due %}
                                Correct Answer: {{answer}}
			      {% endif %}
			    {% endif %}
                          {% else %}
                            {% if resp.attempted and not past_due %}
                              (Saved)
                            {% endif %}
                          {% endif %}
			</span>
		      </div><!--end mc_answer_choices-->
		    {% endif %}
		  </div><!--Answer input-->
		  <div class="col-6" id="save-response-button-{{prob_label}}" align="right"><!--button div-->
                    {% if question_type == 'multiple choice' %}
                        {% if not past_due  %}
                          <button type="submit" class="btn btn-primary js-save-mc-response" id="save-response-{{prob_label}}">Save Answer</button>
			{% endif %}
                    {% elif question_type == 'short answer' %}
                        {% if not past_due %}
                          <button type="submit" class="btn btn-primary js-save-sa-response" id="save-response-{{prob_label}}">Save Answer</button>
                        {% endif %}
                    {% endif %}



		    {% if past_due or not not_graded %}
		      {% if resp.publishedproblem_object.isProblem == 1 and resp.publishedproblem_object.problem.solutions.count > 0 %}
		        <button data-target="#solution-placeholder" class="btn btn-secondary solution-link" id="solution-link" href="load_sol/{{resp.publishedproblem_object.pk}}/">Solution</button>
		      {% else %}
		        <button class="btn btn-secondary" disabled data-toggle="tooltip" title="We haven't written a solution to this problem yet"><span style="color:red">Solution</span></button>
		      {% endif %}
		    {% endif %}
		    
		  </div><!--button div-->
		  <div class="col-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/test/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div><!--row-->
		{% endif %}

		{% if question_type == "proof" %}
		<div class="row">
		  <div class="col-12" id="proof-text-div-{{prob_label}}">
		    {% include "student/test/proof-response-snippet.html" %}
		  </div>
		  <div class="col-12" id="edit-proof-button-{{prob_label}}" align="right"><!--button div-->
                    {% if past_due %}
		      {% if resp.publishedproblem_object.isProblem == 1 and resp.publishedproblem_object.problem.solutions.count > 0 %}
		        <button data-target="#solution-placeholder" class="btn btn-secondary solution-link" id="solution-link" href="load_sol/{{resp.publishedproblem_object.pk}}/">Solution</button>
		      {% else %}
		        <button class="btn btn-secondary" disabled data-toggle="tooltip" title="We haven't written a solution to this problem yet"><span style="color:red">Solution</span></button>
		      {% endif %}
                    {% else %}
	              <button class="btn btn-primary js-edit-proof" id="edit-proof-{{resp.pk}}"{% if resp.graded or past_due%} disabled{% endif%}>Edit Response</button>
	            {% endif %}
		  </div>
		  <div class="col-12 pull-right" id="attempted-date-{{prob_label}}"><!--tracker-->
		    {% if resp.attempted %}
		      {% include "student/test/date-snippet.html" %}
		    {% endif %}
		  </div><!--tracker-->
		</div>
		{% endif %}
	      </div><!--panel footer-->
</form>
	    </div><!--panel-->

