
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form id="theorem_update_form" method='post' class="form" role="form" action='{% url 'update_theorem' pk upk spk sspk theorem.pk %}'>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit Theorem/Example</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
	
	
        {% csrf_token %}
	
	
        {{ form.non_field_errors }}
	
        {% for field in form %}
        <div class="form-group">
          {% if field.errors %}
          <ul class="form-errors">
            {% for error in field.errors %}
            <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ul>
          {% endif %}
          {{ field.label_tag }} {{ field }} 
          {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" />
        <input type="submit" class="btn btn-primary" value="Save" />
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
