            <div class="col-md-6">
              <form action="." method="post" class="js-tag-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request}}">
                <label for="addtag_{{prob.pk}}">Add Tag:</label>
                <select name="addtag_{{prob.pk}}" id="addtag_{{prob.pk}}" class="js-add-tag-select mb-1" placeholder="Select a Tag">
                  <option value="" disabled selected>Select a Tag</option>
                  {% for tagg in tags %}
                  <option value="{{tagg.pk}}" title="{{tagg.description}}">{{tagg}}==={{tagg.description}}</option>
                  {% endfor %}
                </select>
		<script>
		  $('#addtag_{{prob.pk}}').selectize({
		      create: false,
		      sortField: 'text',
		      render: {
			  option: function (item, escape) {
			      var label = item.text.split('===');
			      return '<div class="option" title="' + label[1] + '">' +
				  '<span class="">' + escape(label[0]) + '</span>' +
				  '</div>';
			  },
                          item: function (item, escape) {
                              var label = item.text.split('===');
                              return '<div class="option" title="' + label[1] + '">' +
                                  '<span class="">' + escape(label[0]) + '</span>' +
                                  '</div>';
                          }
		      }
		  });
		</script>
                <div id="tagging-status-{{prob.pk}}" class="js-tagging-status">

		  </div>
              </form>
            </div>
