          <div class="row">
            <div class="col-6">
              <form action="." method="post" class="js-tag-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request}}">
                <label for="addtag_{{prob.pk}}">Add Tag:</label>
                <select name="addtag_{{prob.pk}}" class="js-add-tag-select form-control">
                  <option value="" disabled selected>Select a Tag</option>
                  {% for tagg in tags %}
                  <option value="{{tagg.pk}}">{{tagg}}
                  </option>
                  {% endfor %}
                </select>
                <div id="tagging-status-{{prob.pk}}" class="js-tagging-status">

		  </div>
              </form>
            </div>
          </div>
