{% if prob.duplicate_problems.count > 0 %}
              <label>Duplicate Problems:</label>
                <ul style="list-style:none">
                  {% for dp in prob.duplicate_problems.all %}
                  <li>
<div class="btn-group btn-group-sm mb-1">
  <a class="btn btn-info btn-sm" href="/problemeditor/redirectproblem/{{dp.pk}}">{{dp.readable_label}}</a>{% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %} <div class="remove_duplicate btn btn-danger btn-sm" id="remove_duplicate_{{prob.pk}}_{{dp.pk}}"><span class="fa fa-remove"></span></div>{% endif %}
</div>
</li>
                  {% endfor %}
                </ul>

{% endif %}
