              {% if request.user.userprofile.user_type_new.name == "super" or request.user.userprofile.user_type_new.name == "contestmod" %}
                {% if prob.question_type_new.question_type == 'multiple choice' or prob.question_type_new.question_type == 'multiple choice short answer' %}
                <p><a class="edit-mc-latex" href="{{prob.pk}}">Edit LaTeX Code{% if prob.question_type_new.question_type == 'multiple choice short answer' %} (Multiple Choice){% endif %}</a> 
                {% endif %}
                {% if prob.question_type_new.question_type != 'multiple choice' %}
                <p><a class="edit-latex" href="{{prob.pk}}">Edit LaTeX Code{% if prob.question_type_new.question_type == 'multiple choice short answer' %} (Short Answer){% endif %}</a></p>
                {% endif %}
              {% endif %}
{% if prob.question_type_new.question_type == 'multiple choice' or prob.question_type_new.question_type == 'multiple choice short answer' %}
<p><a class="view-mc-latex" href="{{prob.pk}}">View LaTeX Code (with Answer Choices)</a></p>
{% endif %}
