            <p>
              {% if prob.question_type_new.question_type == 'multiple choice' %}
              <div id="mc_prob_text_{{prob.pk}}">
              {% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}
              </div>
              {% elif prob.question_type_new.question_type == 'short answer' or prob.question_type_new.question_type == 'proof' %}
              <div id="sa_prob_text_{{prob.pk}}">
              {% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}
              </div>
	      {% else %}
	      <label for="mc_prob_text_{{prob.pk}}">Multiple Choice Text:</label>
              <div id="mc_prob_text_{{prob.pk}}">
              {% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}
              </div>
	      <label for="sa_prob_text_{{prob.pk}}">Short Answer Text:</label>
              <div id="sa_prob_text_{{prob.pk}}">
              {% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}
              </div>
              {% endif %}
{% if prob.question_type_new.question_type == 'multiple choice'  or prob.question_type_new.question_type == 'multiple choice short answer'%}
<textarea id="latex_{{prob.pk}}" style="display:none">{{prob.mc_problem_text}}<br><br>{{prob.answers}}</textarea>
{% else %}
<textarea id="latex_{{prob.pk}}" style="display:none">{{prob.problem_text}}</textarea>
{% endif %}
</p>
<p>
              {% if not no_readable_label %}<span id="readable_label_{{prob.pk}}">[{% if not no_link %}<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>{% else %}{{prob.readable_label}}{% endif %}]</span>{% endif %}
            </p>
