    {% if prob.newtags.count > 0 %}


    <label for="tag-list-{{prob.pk}}">Current Tags:</label>
    <ul id="tag-list-{{prob.pk}}" style="list-style:none">
      {% for tag in prob.newtags.all %}
<li>
<div class="btn-group btn-group-sm mt-1">
<button class="btn btn-success" disabled>
{{tag}}
</button>
<button type="button" class="btn btn-danger btn-sm delete-tag-link" id="deletetag_{{prob.pk}}_{{tag.pk}}"><span class="fa fa-remove"></span></button>
</div>
</li>
      {% endfor %}
    </ul>
    {% endif %}
