body { font: 14px/1.3 verdana, arial, helvetica, sans-serif; }

.page-header {
    background-color: #339966;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 18pt;
    text-decoration: none;
    margin-top: 10px;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 12pt;
    margin-right: 20px;
}



textarea#codetext {
		font-family: "Courier New", Courier, monospace;
}
.codetext {
		font-family: "Courier New", Courier, monospace;
}

h1 { font-size:1.6em; }
h2 { font-size:1.4em; }
h3 { font-size:1.3em; }
a:visited { color: #551a8b; }
a.btn:visited { color: #ffffff; }
p { max-width: 60em; }

a img { border:none; }



.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
img.displayed {
    margin-left: auto;
    margin-right: auto;
    zoom: 50%; 
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.card > .card-heading-custom {
background: #006699; color: #fff; }

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
		       margin-bottom: 0;
		       margin-left:-4px;
		       margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
		       border-top-right-radius:4px;//
		       border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
		       border-top-right-radius:4px;
		       border-bottom-left-radius:4px;//
}

.icon-green {
    color: #00cc00;
}
.icon-red {
    color: #ff0000;
}
.navbar {
    margin-bottom: 0;
}


/* change the background color */
.navbar-custom {
    background-color: #339966;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ecf0f1;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ecf0f1;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-brand:hover
 {
    color: #ffffff;
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-default {
  background-color: #339966;
  border-color: #206040;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-light .navbar-brand {
  color: #ecf0f1;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #ffffff;
}
.navbar-light .navbar-text {
  color: #ecf0f1;
}
.navbar-light .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #206040;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #206040;
}
.navbar-light .navbar-toggle {
  border-color: #206040;
}
.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:focus {
  background-color: #206040;
}
.navbar-light .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-light .navbar-collapse,
.navbar-light .navbar-form {
  border-color: #ecf0f1;
}
.navbar-light .navbar-link {
  color: #ecf0f1;
}
.navbar-light .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-light .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-light .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-light .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #206040;
  }
}
.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.div-inline{
    display:inline-block;
}

.nav-sidebar li.active {
  background: #eee
}
.vertical-text {
 margin-left: -85px;
 margin-right: -85px;
 width: auto;
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg); /* Safari/Chrome */
 -moz-transform: rotate(-90deg); /* Firefox */
 -o-transform: rotate(-90deg); /* Opera */
 -ms-transform: rotate(-90deg); /* IE 9 */
 white-space: nowrap;
}


.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}



.par-list-lower-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}


.par-list-lower-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.par-list-lower-roman > li::before {
  content: "(" counter(list,lower-roman) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.par-list-lower-alpha {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}


.par-list-lower-alpha > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.par-list-lower-alpha > li::before {
  content: "(" counter(list,lower-alpha) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.par-list-upper-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}


.par-list-upper-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.par-list-upper-roman > li::before {
  content: "(" counter(list,upper-roman) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.par-list-upper-alpha {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}


.par-list-upper-alpha > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.par-list-upper-alpha > li::before {
  content: "(" counter(list,upper-alpha) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.par-list-decimal {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.par-list-decimal > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.par-list-decimal > li::before {
  content: "(" counter(list,decimal) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.dot-list-decimal {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.dot-list-decimal > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.dot-list-decimal > li::before {
  content: counter(list,decimal) ". ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.dot-list-lower-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.dot-list-lower-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.dot-list-lower-roman > li::before {
  content: counter(list,lower-roman) ". ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.dot-list-lower-alpha {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.dot-list-lower-alpha > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.dot-list-lower-alpha > li::before {
  content: counter(list,lower-alpha) ". ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.dot-list-upper-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.dot-list-upper-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.dot-list-upper-roman > li::before {
  content: counter(list,upper-roman) ". ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.dot-list-upper-alpha {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.dot-list-upper-alpha > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.dot-list-upper-alpha > li::before {
  content: counter(list,upper-alpha) ". ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.right-par-list-decimal {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.right-par-list-decimal > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.right-par-list-decimal > li::before {
  content: counter(list,decimal) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.right-par-list-upper-alpha {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.right-par-list-upper-alpha > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.right-par-list-upper-alpha > li::before {
  content: counter(list,upper-alpha) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.right-par-list-lower-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.right-par-list-lower-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.right-par-list-lower-roman > li::before {
  content: counter(list,lower-roman) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}

.right-par-list-upper-roman {
  list-style-type: none;
  counter-reset: list;
  list-style-position: outside;
}

.right-par-list-upper-roman > li {
    list-style: none;
    position: relative;
    margin-bottom: 0em;
    padding-left: 2px;
}
.right-par-list-upper-roman > li::before {
  content: counter(list,upper-roman) ") ";
  counter-increment: list;
  position: absolute;
  left: -1.6em;
}








/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* modify bootstrap table colors */
table.table tr td.cell-danger {
    background-color:#f2dede;
}
table.table tr td.cell-success {
    background-color:#dff0d8;
}
table.table tr td.cell-super-success {
    background-color:#8BBA84;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
input.mocktest-answer {
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    text-align: center;
}

td.results-bg-gradient-0 {
    background-color:#E67C73;
}
td.results-bg-gradient-1 {
    background-color:#ea8c71;
}
td.results-bg-gradient-2 {
    background-color:#ef9c6f;
}
td.results-bg-gradient-3 {
    background-color:#f3ad6c;
}
td.results-bg-gradient-4 {
    background-color:#f8bd6a;
}
td.results-bg-gradient-5 {
    background-color:#fccd68;
}
td.results-bg-gradient-6 {
    background-color:#f0d569;
}
td.results-bg-gradient-7 {
    background-color:#d2cf6f;
}
td.results-bg-gradient-8 {
    background-color:#b3ca76;
}
td.results-bg-gradient-9 {
    background-color:#96c57c;
}
td.results-bg-gradient-10 {
    background-color:#76c083;
}
td.results-bg-gradient-11 {
    background-color:#57bb8b;
}
