{% extends "randomtest/base.html" %}

{% load randomtest_extras %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/contestcollection/">Choose a Contest</a></li>
    <li class="breadcrumb-item"><a href="/contestcollection/test/{{test.pk}}/">{{test.name}}</a></li>
    <li class="breadcrumb-item"><a href="/contestcollection/test/{{test.pk}}/pdfoptions">PDF Options</a></li>
    <li class="breadcrumb-item active">View LaTeX Code</li>
  </ol>
</nav>

<div class="container">
  <h2>LaTeX Code for "{{test.name}}"</h2>
<!--  <div class="row mb-3">
    <div class="col">
      <input type="hidden" name="startform" value="{{test.pk}}">
      
      <h3>Options</h3>
      <form action="." method="get">
	Include Problem Labels?<br>
	{% if include_problem_labels %}
	<input type="radio" name="problemlabels" value="yes" checked="checked"> Yes
	<input type="radio" name="problemlabels" value="no"> No
	{% else %}
	<input type="radio" name="problemlabels" value="yes"> Yes
	<input type="radio" name="problemlabels" value="no" checked="checked"> No
	{% endif %}
	<br><br>
	Include Notes?<br>
	{% if include_notes %}
	<input type="radio" name="notes" value="yes" checked="checked"> Yes
	<input type="radio" name="notes" value="no"> No
	{% else %}
	<input type="radio" name="notes" value="yes"> Yes
	<input type="radio" name="notes" value="no" checked="checked"> No
	{% endif %}
	<br><br>
	<input class="btn btn-primary" type="submit" value="Refresh Code">
      </form>
    </div>
  </div>-->
  <div class="row">
    <div class="col">
      <div class="card pl-2" style="background-color:#dddddd">
	<div class="card-body">
	  <pre style="white-space: pre-wrap"><code>
\documentclass{article}
\usepackage{amsmath}
\usepackage{enumerate}
\usepackage{amsfonts,amssymb}
\usepackage{asymptote}
\usepackage{graphicx}
\usepackage{multirow,curves}
\setlength{\topmargin}{0in}
\setlength{\headheight}{0in}
\setlength{\headsep}{0in}
\setlength{\textheight}{9in}
\setlength{\textwidth}{6.5in}
\setlength{\oddsidemargin}{0in}
\setlength{\evensidemargin}{0in}
\setlength{\parindent}{0.25in}
\setlength{\parskip}{0.25in}
\title{ {{name}} }
\author{ {% if randomize %}Seed Number: {{seed}}{% endif %} }
\date{}
\begin{document}
\begin{enumerate}
{% for prob in rows %}
\item {% if prob.question_type_new.question_type == "multiple choice" %}{{prob.mc_problem_text|linebreaks}}{% else %}{{prob.problem_text|linebreaks}}{% endif %} {% if include_problem_labels %}[{{prob.readable_label|poundsafe}}]{% endif %}

{% if prob.question_type_new.question_type == "multiple choice" %}
{% if  include_answer_choices or prob.needs_answers %}
{{prob.answers|linebreaks}}
{% endif %}
{% endif %}


{% endfor %}
\end{enumerate}
\end{document}

	</code>
	</pre>
</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
