{% extends 'randomtest/base.html' %}

{% block title %}Solutions: {{prob.readable_label}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="../../../">Choose a contest</a></li>
  <li><a href="../">{{testname}}</a></li>
  <li class="active">Solutions to {{prob.readable_label}}</li>
</ol>
    <h2>Solutions to {{prob.readable_label}}</h2>

{% include "problemeditor/snippetprobtext.html" %}

{% if prob.solutions.count > 0 %}
        {% for solution in prob.solutions.all %}
          <h3>Solution {{forloop.counter}}</h3>
	 {% autoescape off %} {{solution.display_solution_text|linebreaks}} {% endautoescape %}<br><br>
        {% endfor %}
{% else %}
No current solutions.
{% endif %}
{% endblock %}
