{% extends "randomtest/base.html" %}

{% block title %}
Contest Collections
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Choose a Contest</li>
  </ol>
</nav>



<div class="container">
  <h2>Contest Collections</h2>
  <div class="row">
<div class="col-12">
<p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#directory">Directory</button></p>
</div>
    <div class="col-sm-6">
      <div class="collapse" id="directory">
      <div class="list-group mb-3">
	{% for name,T1,T2,T3,T4 in rows %}
	<a href="#{{name}}" class="list-group-item">{{name}}</a>
	{% endfor %}
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      {% for name,T1,T2,T3,T4 in rows %}

      <a name="{{name}}"></a>
      <div class="card mb-3">
	
	<div class="card-header card-heading-custom">{{name}}</div>
	
	<!-- Table -->
<div class="container">
	<div class="row" style="margin-top:20px;margin-bottom:20px">
	  <div class="col-6">
	    <div class="row">
	      <div class="col-md-6">
		{% for test in T1 %}
		<a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/randomtest/addtest/{{test.pk}}"><span class="fa fa-plus" aria-hidden="true"></span></a>
		<br>
		{% endfor %}
	      </div>
	      <div class="col-md-6">
		{% for test in T2 %}
		<a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/randomtest/addtest/{{test.pk}}"><span class="fa fa-plus" aria-hidden="true"></span></a><br>
		{% endfor %}
	      </div>
	    </div>
	  </div>
	  <div class="col-6">
	    <div class="row">
	      <div class="col-md-6">
		{% for test in T3 %}
		<a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/randomtest/addtest/{{test.pk}}"><span class="fa fa-plus" aria-hidden="true"></span></a><br>
		{% endfor %}
	      </div>
	      <div class="col-md-6">
		{% for test in T4 %}
		<a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/randomtest/addtest/{{test.pk}}"><span class="fa fa-plus" aria-hidden="true"></span></a><br>
		{% endfor %}
	      </div>
	    </div>
	  </div>
	</div>
</div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
