{% extends "./base.html" %}


{% block content %}
<ol class="breadcrumb">
  <li class="active">Choose a Contest</li>
</ol>
<h2>Collections</h2>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="list-group list-group-horizontal">
    {% for name,T1,T2,T3,T4 in rows %}
    <a href="#{{name}}" class="list-group-item">{{name}}</a>
    {% endfor %}
  </div>
</div>

<div class="col-md-9">
  {% for name,T1,T2,T3,T4 in rows %}
  <a name="{{name}}"></a>
  <div class="panel panel-default">

    <div class="panel-heading panel-heading-custom">{{name}}</div>

    <!-- Table -->
    <table class="table">
      <tr>
	<td>
	  {% for test in T1 %}
	  <a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/addtest/{{test.pk}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	  <br>
	  {% endfor %}
	</td>
	<td>
	  {% for test in T2 %}
	  <a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/addtest/{{test.pk}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a><br>
	  {% endfor %}
	</td>
	<td>
	  {% for test in T3 %}
	  <a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/addtest/{{test.pk}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a><br>
	  {% endfor %}
	</td>
	<td>
	  {% for test in T4 %}
	  <a href="test/{{test.pk}}">{{test.name}}</a>&nbsp;<a href="/addtest/{{test.pk}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a><br>
	  {% endfor %}
	</td>
      </tr>
    </table>
  </div>
{% endfor %}
{% endblock %}
