{% extends "randomtest/base.html" %}

{% block title %}
Contest Collections: {{name}}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../">Choose a Contest</a></li>
    <li class="breadcrumb-item active">{{name}}</li>
  </ol>
</nav>
<div class="container">
  <h2>{{name}}</h2>
  <div class="row">
    <div class="col">
      <p>(<a href="../pdf/{{pk}}/">Link to PDF</a>) <a href="pdfoptions/">PDF options</a></p>
    </div>
  </div>
  {% for prob in rows %}
  <div class="row">
    <div class="col-lg-9">
      <a name="{{prob.label}}"></a>
      
      <div class="card mb-3">
	<div class="card-header">
	  <h3>Problem {{forloop.counter}}</h3>
	</div>
	<div class="card-body">
	  {% if prob.question_type_new.question_type == 'multiple choice' %}
	  {% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{prob.readable_label}}]</span><br>
	  {% else %}
	  {% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}  <span class="pull-right">[{{prob.readable_label}}]</span><br>
	  {% endif %}
	</div>
	<div class="card-footer">
	  ({% if prob.solutions.count > 0 %}<a data-target="#solution-placeholder" class="solution-link" id="solution-link" href="load_sol/{{prob.pk}}/">Solution</a>{% else %}<span style="color:red">Solution</span>{% endif %}) 
	  (<a href="/problemeditor/contest/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/">Edit Problem Tags/Solutions</a>) 
	  
	</div>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>
<div id="solution-placeholder" class="modal fade" role="dialog">

</div>
<script>
$(".solution-link").click(function(event) {
    event.preventDefault();
    var target = $(this).attr("href");


    $("#solution-placeholder").load(target, function() {
         MathJax.Hub.Queue(["Typeset",MathJax.Hub,"solution-placeholder"]);
         $("#solution-placeholder").modal("show");
    });
});
</script>

{% endblock %}
