{% extends "randomtest/base.html" %}

{% block title %}
Contest Collections: {{name}}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="../../">Choose a Contest</a></li>
  <li class="active">{{name}}</li>
</ol>
<h2>{{name}}</h2>
<p>(<a href="pdf">Link to PDF</a>)</p>
{% csrf_token %}
<input type="hidden" name="startform" value="{{pk}}">

<table>
{% for prob in rows %}
<tr>
<td>
<a name="{{prob.label}}"></a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem {{forloop.counter}}</h3>
  </div>
  <div class="panel-body">
{% if prob.question_type_new.question_type == 'multiple choice' %}
{% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{prob.readable_label}}]</span><br>
{% else %}
{% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}  <span class="pull-right">[{{prob.readable_label}}]</span><br>
{% endif %}
  </div>
</div>

<p>
({% if prob.solutions.count > 0 %}<a data-target="#solution-placeholder" class="solution-link" id="solution-link" href="load_sol/{{prob.pk}}/">Solution</a>{% else %}<span style="color:red">Solution</span>{% endif %}) 
(<a href="/problemeditor/contest/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/">Edit Problem Tags/Solutions</a>) 
{% if user_type == "super" %}
(<a href="/problemeditor/contest/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/edittext/">Edit LaTeX</a>) 
<!--<a href="{{prob.pk}}">Solution</a>-->
{% endif %}


</p>



</td>
</tr>
{% endfor %}
</table>

<div id="solution-placeholder" class="modal fade" role="dialog">

</div>
<script>
$(".solution-link").click(function(event) {
    event.preventDefault();
    var target = $(this).attr("href");


    $("#solution-placeholder").load(target, function() {
         MathJax.Hub.Queue(["Typeset",MathJax.Hub,"solution-placeholder"]);
         $("#solution-placeholder").modal("show");
    });
});
</script>

{% endblock %}
