{% extends "./base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="../../">Choose a Contest</a></li>
  <li class="active">{{name}}</li>
</ol>
<h2>{{name}}</h2>
<p>(<a href="pdf">Link to PDF</a>)</p>
{% csrf_token %}
<input type="hidden" name="startform" value="{{pk}}">

<table>
{% for label,answer,qt,ppk,solnum,prob_latex,readablelabel,mc_prob_latex, prob in rows %}
<tr>
<td>
<a name="{{label}}"></a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problem {{forloop.counter}}</h3>
  </div>
  <div class="panel-body">
{% if qt.question_type == 'multiple choice' %}
{% autoescape off %}{{mc_prob_latex|linebreaks}} {% endautoescape %} <span class="pull-right"> [{{readablelabel}}]</span><br>
{% else %}
{% autoescape off %}{{prob_latex|linebreaks}} {% endautoescape %}  <span class="pull-right">[{{readablelabel}}]</span><br>
{% endif %}
  </div>
</div>

<p>
(<a href="{{ppk}}">Solution</a>) {% if user_type == "super" %}(<a href="/problemeditor/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/">Edit Tags</a>) (<a href="/problemeditor/bytest/{{prob.type_new.type}}/{{prob.test_label}}/{{prob.label}}/solutions/">Edit Solutions</a>){% endif %}
</p>



</td>
</tr>
{% endfor %}
</table>

{% endblock %}
