{% extends "randomtest/base.html" %}

{% load staticfiles %}
{% block head %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->
<script src="{% static 'randomtest/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block content %}

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../../../../../">My Classes</a></li>
    <li class="breadcrumb-item"><a href="../../../../">{{my_class.name}}</a></li>
    <li class="breadcrumb-item"><a href="../../">{{unit.name}}</a></li>
    <li class="breadcrumb-item active"><span id="bc-test-name">{{test.name}}</span></li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      {% include 'teacher/sidebar.html' with activenav="myclasses" %}
    </div>
    <div class="col-sm-9 main">
      <h2>Edit Test: <span id="test-name">{{test.name}}</span> {% if sharing_type != "read" %}<a href="#" id="edit-test-name"><span class="fa fa-pencil"></span></a>{% endif %}</h2>


      <div class="row">
	<div class="col-6" id="duedatediv">
	  {% include 'teacher/editingtemplates/editduedate.html' %}
	</div>
	<div class="col-6" id="timelimitdiv">
	  {% include 'teacher/editingtemplates/edittimelimit.html' %}
	</div>
      </div>

      <p>Drag problems around to reorder them, then click "Save".</p>
      <form action="." method="POST" id="testproblemobjects">
        {% csrf_token %}
        <div id="testproblemobjectList" class="list-group">
{% include 'teacher/editingtemplates/problemobjectlist.html' %}
        </div>
	<div id="msg-no-problems">{% if test.problem_objects.count == 0 %}<p><i>You don't have any problems in this test yet.{% if sharing_type != "read" %} Click the button below to add problems.{% endif %}</i></p>{% endif %}</div>
{% if sharing_type != "read" %}
        <div id="save-message" class="alert alert-success" style="display:none;" role="alert">Save successful!</div>	
	
	<span class="dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add <span class="caret"></span>
          </button>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="#taggedproblems" data-toggle="modal">Contest Problems from Tags</a>
            <a class="dropdown-item" href="#problemgroups" data-toggle="modal">Contest Problems from Problem Group</a>
            <a class="dropdown-item" href="#originalproblem" data-toggle="modal">Original Problem</a>
          </div>
        </span>
        <button type="submit" class="save btn btn-primary" name="save">Save</button>
{% endif %}
      </form>
      
    </div>
  </div>
</div>

{% if sharing_type != "read" %}
<div id="unsaved-message" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
<div class="alert alert-warning">
You have unsaved changes! Please click "Save" before navigating away.</div>
</div>
</div>

<div class="modal fade" id="edit-qt-placeholder" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    
    <div class="modal-content">
      <form method="post" action="." id="form-change-question-type">
	<div class="modal-header">
          <h5 class="modal-title">Change Question Type</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="cqt-question-type" class="control-label">Question Type</label>
	    <select name="cqt-question-type" id="cqt-question-type" class="form-control">
	      <option value="" disabled selected>Select a Question Type</option>
	      <option value="multiple choice">Multiple Choice</option>
	      <option value="short answer">Short Answer</option>
	      <option value="proof">Proof</option>
	    </select>
          </div>
	  <div id="qt-question-fields">
	    
	  </div>
	</div>
	<div class="modal-footer">
          <button type="submit" id="change-qt" name="change-qt" class="btn btn-primary">Change Question Type</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
      </form>
    </div>
    
  </div>
</div>
<div class="modal fade" id="edit-pv-modal" tabindex="-1" role="dialog">
  
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <form method="post" id="form-edit-pv" action=".">
        <div class="modal-header">
          <h5 class="modal-title">Edit Point Value</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% csrf_token %}

	  <div id="edit-pv-placeholder">
	    
	  </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="updatepointvalue" name="updatepointvalue" class="btn btn-primary">Update Point Value</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>

</div>

<div class="modal fade" id="edit-bpv-modal" tabindex="-1" role="dialog">
  
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <form method="post" id="form-edit-bpv" action=".">
        <div class="modal-header">
          <h5 class="modal-title">Edit Blank Point Value</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% csrf_token %}

	  <div id="edit-bpv-placeholder">
	    
	  </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="updateblankpointvalue" name="updateblankpointvalue" class="btn btn-primary">Update Blank Point Value</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>

</div>

<div class="modal fade" id="originalproblem" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    
    <div class="modal-content">
      <form method="post" action="." id="form-add-original-problem">
	<div class="modal-header">
          <h5 class="modal-title">Add Original Problem</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="question-type" class="control-label">Question Type</label>
	    <select name="question-type" id="question-type" class="form-control">
	      <option value="" disabled selected>Select a Question Type</option>
	      <option value="multiple choice">Multiple Choice</option>
	      <option value="short answer">Short Answer</option>
	      <option value="proof">Proof</option>
	    </select>
          </div>
	  <div id="question-fields">

	  </div>
	</div>
	<div class="modal-footer">
          <button type="submit" id="addoriginalproblem" name="addoriginalproblem" class="btn btn-primary" disabled>Add Problem</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
      </form>
    </div>
    
  </div>
</div>

<div class="modal fade" id="taggedproblems" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    
    <div class="modal-content">
      <form method="get" action="add-tagged-problems/" id="form-add-tagged-problem">
	<div class="modal-header">
          <h5 class="modal-title">Add Contest Problems From Tag</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body">
          <div class="form-group">
            <label for="contest-type" class="control-label">Contest</label>
	    <select name="contest-type" id="contest-type" class="form-control">
	      <option value="" disabled selected>Select a Contest</option>
	      {% for typ in request.user.userprofile.user_type_new.allowed_types.all %}
	      <option value="{{typ.type}}">{{typ.label}}</option>
	      {% endfor %}
	    </select>
          </div>
	  <div class="form-group">
	    <label for="contest-tags" class="control-label">Tag</label>
	    <select name="contest-tags" id="contest-tags" class="form-control" disabled>
	      <option value="" disabled selected>Select a Tag</option>
	      {% for tag in tags %}
	      <option value="{{tag.pk}}">{{tag}}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <div id="tag-status-message">

	  </div>
	</div>
	<div class="modal-footer">
          <button type="submit" id="find-problems-matching-tag" name="find-problems-matching-tag" class="btn btn-primary" disabled>Review Matching Problems</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
      </form>
    </div>
    
  </div>
</div>

<div class="modal fade" id="problemgroups" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    
    <div class="modal-content">
      <form method="get" action="review-problem-group/" id="form-add-group-problem">
	<div class="modal-header">
          <h5 class="modal-title">Add Contest Problems from Problem Group</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body">
	  <div class="form-group">
	    <label for="problem-group" class="control-label">Tag</label>
	    <select name="problem-group" id="problem-group" class="form-control">
	      <option value="" disabled selected>Select a Problem Group</option>
	      {% for prob_group in request.user.userprofile.problem_groups.all %}
	      <option value="{{prob_group.pk}}">{{prob_group.name}}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <div id="group-status-message">

	  </div>


	</div>
	<div class="modal-footer">
          <button type="submit" id="review-problem-group" name="review-problem-group" class="btn btn-primary">Review Problems</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
      </form>
    </div>
    
  </div>
</div>

<div class="modal fade" id="edit-duedate-modal" tabindex="-1" role="dialog">

</div>
<div class="modal fade" id="edit-startdate-modal" tabindex="-1" role="dialog">

</div>

<div class="modal fade" id="edit-timelimit-modal" tabindex="-1" role="dialog">

</div>
<div class="modal fade" id="edit-name-placeholder" role="dialog">
</div>

<script type="text/javascript">


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});


$(document).on('click',".edit-qt-link",function(event) {
    event.preventDefault();
    var popk = $(this).attr("id").split('_')[1];
    $.ajax({
        type: 'POST',
        url: "/teacher/ajax/problemobject/load-edit-questiontype/",
        dataType: 'json',
        data: "popk="+popk,
        success: function(result) {
            $('#cqt-question-type').empty();
            if (result['qts'][0] == 1) {
                $("#cqt-question-type").append("<option value='multiple choice'>Multiple Choice</option>");
            }
            if (result['qts'][1] == 1) {
                $("#cqt-question-type").append("<option value='short answer'>Short Answer</option>");
            }
            if (result['qts'][2] == 1) {
                $("#cqt-question-type").append("<option value='proof'>Proof</option>");
            }
            $("#qt-question-fields").html(result['form']);
            $("#cqt-question-type").val(result['qt']);
            $("#edit-qt-placeholder").modal("show");
        }
    });
});

$(document).on('click',".edit-pv-link",function(event) {
    event.preventDefault();
    var target = $(this).attr("href");

    $("#form-edit-pv").attr("action",$(this).attr("href")+'/');
    $("#edit-pv-placeholder").load(target, function() {

         $("#edit-pv-modal").modal("show");
    });
});

$("#form-edit-pv").on('submit',function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: 'edit-point-value/'+$(this).find('input[name="popk"]').val()+'/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#edit-pv-modal").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $("#pointvalue_"+result['pk']).html(result['point_value']);
        }
    });
    return false;
});

$(".edit-bpv-link").on('click',function(event) {
    event.preventDefault();
    var target = $(this).attr("href");

    $("#form-edit-bpv").attr("action",$(this).attr("href")+'/');
    $("#edit-bpv-placeholder").load(target, function() {

         $("#edit-bpv-modal").modal("show");
    });
});

$("#form-edit-bpv").on('submit',function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#edit-bpv-modal").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $("#blankpointvalue_"+result['pk']).html(result['blank_point_value']);
        }
    });
    return false;
});


$('#question-type').on('change',function(event) {
    event.preventDefault();
    $('#addoriginalproblem').prop('disabled',false);
    if ($(this).val()=='short answer') {

    $.ajax({
        type: 'GET',
        url: 'load-original-problem/',
        data: "&qt=sa",
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;

    } else if ($(this).val()=='multiple choice') {

    $.ajax({
        type: 'GET',
        url: 'load-original-problem/',
        data: "&qt=mc",
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;
    } else if ($(this).val()=='proof') {
    $.ajax({
        type: 'GET',
        url: 'load-original-problem/',
        data: "&qt=pf",
        dataType: 'html',
        success: function(result) {
            $("#question-fields").html(result);
        }
    });
    return false;
    }
});

$('#cqt-question-type').on('change',function(event) {
    event.preventDefault();
    if ($(this).val()=='short answer') {
    $.ajax({
        type: 'GET',
        url: 'change-qt-original-problem/',
        data: "&qt=sa&pk="+$("#id_problem_id").val(),
        dataType: 'html',
        success: function(result) {
            $("#qt-question-fields").html(result);
        }
    });
    return false;

    } else if ($(this).val()=='multiple choice') {
    $.ajax({
        type: 'GET',
        url: 'change-qt-original-problem/',
        data: "&qt=mc&pk="+$("#id_problem_id").val(),
        dataType: 'html',
        success: function(result) {
            $("#qt-question-fields").html(result);
        }
    });
    return false;
    } else if ($(this).val()=='proof') {
    $.ajax({
        type: 'GET',
        url: 'change-qt-original-problem/',
        data: "&qt=pf&pk="+$("#id_problem_id").val(),
        dataType: 'html',
        success: function(result) {
            $("#qt-question-fields").html(result);
        }
    });
    return false;
    }
});

$("#form-add-original-problem").on('submit',function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: 'add-original-problem/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#originalproblem").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $("#testproblemobjectList").append(result['problem_text']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"#problemtext_"+result['pk']]);
            $("#msg-no-problems").hide();
        }
    });
    return false;
});

$("#form-change-question-type").on('submit',function(event) {
    event.preventDefault();
    var prob_id=$("#id_problem_id").val();
    $.ajax({
        type: 'POST',
        url: "/teacher/ajax/problemobject/save-questiontype/",
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#edit-qt-placeholder").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $("#problemtext_"+prob_id).html(result['prob']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"#problemtext_"+prob_id]);
            $("#qt_"+prob_id).html(result['qt']);
        }
    });
    return false;
});



$("#contest-type").on('change',function(event) {
    event.preventDefault();
    $("#contest-tags").prop('disabled',false);
    $("#tag-status-message").html('');
    return false;

});
$("#contest-tags").on('change',function(event) {
    event.preventDefault();
    $("#find-num-probs-matching-tag").prop('disabled',false);
    $.ajax({
        type: 'GET',
        data: "&contest-type="+$("#contest-type").val()+"&contest-tags="+$(this).val(),
        url: 'find-num-probs-matching-tag/',
        dataType: 'json',
        success: function(result) {
            $("#tag-status-message").html('There are '+result['num']+' matching problems.');
        }
    });
    $("#find-problems-matching-tag").prop('disabled',false);
    return false;

});


var editableList = Sortable.create(testproblemobjectList, {
  filter: '.js-remove',
  onFilter: function (evt) {
    var el = editableList.closest(evt.item); // get dragged item
    el && el.parentNode.removeChild(el);
    if (editableList.toArray().length==0) {
      $("#msg-no-problems").html("<p><i>You don&#8217;t have any problems in this test yet. Click the button below to add problems</i></p>");
      $("#msg-no-problems").show();
    }
    $("#unsaved-message").show();
    $("#save-message").hide();
  },
  onUpdate: function (evt) {
    $("#unsaved-message").show();
    $("#save-message").hide();
  }
});


$(document).on('click',".edit-duedate-link",function(event) {
    event.preventDefault();
    var ps_pk = $(this).attr("id").split('_')[1];

    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/load-edit-duedate/',
        data: "pk="+ps_pk+"&uo=tst",
        dataType: 'json',
        success: function(result) {
            $("#edit-duedate-modal").html(result['modal-html']);
 $(function() {
   $('#datetimepicker1').datetimepicker({defaultDate:result['date']});
 });
            $("#edit-duedate-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit-duedate-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/save-duedate/',
        data: $(this).serialize()+"&uo=tst",
        dataType: 'json',
        success: function(result) {
           if ('error' in result) {
               $("#due_date_error").html(result['error']);
               $("#due_date_error").attr('style','display:block;');
           } else {
               $("#due_date_div").html(result['date_snippet']);
               $("#edit-duedate-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
           }
        }
    });
    return false;
});

$(document).on('click',".delete-duedate-link",function(event) {
    event.preventDefault();
    var ps_pk = $(this).attr("id").split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/delete-duedate/',
        data: "pk="+ps_pk+"&uo=tst",
        dataType: 'json',
        success: function(result) {
           $("#due_date_div").html(result['date_snippet']);
        }
    });
    return false;
});

$(document).on('click',".edit-startdate-link",function(event) {
    event.preventDefault();
    var ps_pk = $(this).attr("id").split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/load-edit-startdate/',
        data: "pk="+ps_pk+"&uo=tst",
        dataType: 'json',
        success: function(result) {
            $("#edit-startdate-modal").html(result['modal-html']);
 $(function() {
   $('#datetimepicker2').datetimepicker({defaultDate:result['date']});
 });
            $("#edit-startdate-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit-startdate-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/save-startdate/',
        data: $(this).serialize()+"&uo=tst",
        dataType: 'json',
        success: function(result) {
           if ('error' in result) {
               $("#start_date_error").html(result['error']);
               $("#start_date_error").attr('style','display:block;');
           } else {
               $("#due_date_div").html(result['date_snippet']);
               $("#edit-startdate-modal").hide();
               $("[data-dismiss=modal]").trigger({ type: "click" });
           }
        }
    });
    return false;
});

$(document).on('click',".delete-startdate-link",function(event) {
    event.preventDefault();
    var ps_pk = $(this).attr("id").split('_')[1];
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/delete-startdate/',
        data: "pk="+ps_pk+"&uo=tst",
        dataType: 'json',
        success: function(result) {
           $("#due_date_div").html(result['date_snippet']);
        }
    });
    return false;
});


$(document).on('click',".edit-timelimit-link",function(event) {
    event.preventDefault();
    var ps_pk = $(this).attr("id").split('_')[1];

    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/load-edit-timelimit/',
        data: "pk="+ps_pk+"&uo=tst",
        dataType: 'json',
        success: function(result) {
            $("#edit-timelimit-modal").html(result['modal-html']);
            $("#edit-timelimit-modal").modal("show");
        }
    });
    return false;
});

$(document).on('submit',"#edit-timelimit-form",function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/teacher/ajax/save-timelimit/',
        data: $(this).serialize()+"&uo=tst",
        dataType: 'json',
        success: function(result) {
           $("#time_limit_div").html(result['time_snippet']);
           $("#edit-timelimit-modal").hide();
           $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    });
    return false;
});

$(document).on('submit',"#testproblemobjects",function(event) {
  event.preventDefault();
  $.ajax({
    type: 'POST',
    url: '.',
    data: $(this).serialize()+'&save=',
    dataType: 'json',
    success: function(result) {
      $("#unsaved-message").fadeOut();
      $("#save-message").show();
      $("#testproblemobjectList").html(result['problemobject-list']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"#testproblemobjectList"]);
      setTimeout(function() {
	$("#save-message").fadeOut();
      },5000);
    }
  });
  return false;
});

$(document).on('click',"#edit-test-name",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/edit-test-name/',
    data: "&pk={{test.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#edit-name-placeholder").html(result['modal-html']);
      $("#edit-name-placeholder").modal("show");
    }
  });
  return false;
});


$(document).on('submit',"#edit-test-name-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/save-test-name/',
    data: $(this).serialize()+"&pk={{test.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#test-name").html(result['test-name']);
      $("#bc-test-name").html(result['test-name']);
      $("#edit-name-placeholder").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});
</script>
{% endif %}
{% endblock %}
