{% extends "randomtest/base.html" %}


{% block content %}

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>

<ol class="breadcrumb">
  <li><a href="../../../../../../">My Classes</a></li>
  <li><a href="../../../../">{{my_class.name}}</a></li>
  <li><a href="../../">{{unit.name}}</a></li>
  <li class="active"><span id="bc-slides-name">{{slides.name}}</span></li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
	{% include 'teacher/sidebar.html' with activenav="myclasses" %}
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 main">
      <h2>Edit Slides: <span id="slides-name">{{slides.name}}</span> <a href="#" id="edit-slides-name"><span class="glyphicon glyphicon-pencil"></span></a></h2>

      <p>Drag slides around to reorder them. If you reorder or delete slides, you must click "Save" for your changes to apply.</p>

      <form action="." method="POST" id="slides">
        {% csrf_token %}
        <div id="slideList" class="list-group">
	  {% include "teacher/editingtemplates/editslides/slidelist.html" with slides=slides %}
        </div>
	<div id="msg-no-slides">{% if slides.slides.count == 0 %}<p><i>You don't have any slides yet. Click the button below to add slides.</i></p>{% endif %}</div>
        <div id="save-message" class="alert alert-success" style="display:none;" role="alert">Save successful!</div>
	<a href="#add-slide-modal" class="btn btn-default add-slide-link" data-toggle="modal">Add Slide</a>
        <button type="submit" class="save btn btn-primary" name="save">Save</button>

      </form>

    </div>
  </div>
</div>

<div id="unsaved-message" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-warning">
    You have unsaved changes! Please click "Save" before navigating away.
  </div>
</div>

<div class="modal fade" id="add-slide-modal" role="dialog">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <form method="post" action="." id="add-slide-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Slide</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="slide-title" class="control-label">Slide Title</label>
            <input type="text" class="form-control" id="slide-title" name="slide-title" required>
          </div>	    
        </div>
        <div class="modal-footer">
          <button type="submit" name="addslide" class="btn btn-primary">Add Slide</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
    
  </div>
</div>

<div class="modal fade" id="edit-name-placeholder" role="dialog">
</div>


	      
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});


var editableList = Sortable.create(slideList, {
  filter: '.js-remove',
  onFilter: function (evt) {
    var el = editableList.closest(evt.item); // get dragged item
    el && el.parentNode.removeChild(el);
    if (editableList.toArray().length==0) {
      $("#msg-no-slides").html("<p><i>You don't have any slides yet. Click the button below to add slides.</i></p>");
    }
    $("#unsaved-message").show();
    $("#save-message").hide();
  },
  onUpdate: function (evt) {
    $("#unsaved-message").show();
    $("#save-message").hide();
  }
});

$('#add-slide-form').on('submit',function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: 'add-slide/',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(result) {
            $("#add-slide-modal").hide();
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $("#slideList").append(result['slide-body']);
            $("#slide-title").val('');
            $("#msg-no-slides").hide();
        }
    });
    return false;
});

$('#slides').on('submit',function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '.',
        data: $(this).serialize()+'&save',
        dataType: 'json',
        success: function(result) {
            $("#unsaved-message").fadeOut();
            $("#save-message").show();
            $("#slideList").html(result['slidelist']);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,"#slideList"]);
            setTimeout(function() {
                $("#save-message").fadeOut();
            },5000);
        }
    });
    return false;
});

$(document).on('click',"#edit-slides-name",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/edit-slidegroup-name/',
    data: "&pk={{slides.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#edit-name-placeholder").html(result['modal-html']);
      $("#edit-name-placeholder").modal("show");
    }
  });
  return false;
});


$(document).on('submit',"#edit-slidegroup-name-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/save-slidegroup-name/',
    data: $(this).serialize()+"&pk={{slides.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#slides-name").html(result['slidegroup-name']);
      $("#bc-slides-name").html(result['slidegroup-name']);
      $("#edit-name-placeholder").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});
</script>

{% endblock %}
