{% extends "randomtest/base.html" %}


{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../">My Classes</a></li>
    <li class="breadcrumb-item active"><span id="bc-class-name">{{my_class.name}}</span></li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <ul class="nav nav-pills flex-column">
        {% include 'teacher/sidebar.html' with activenav="myclasses" %}
      </ul>
    </div>
    <div class="col-sm-9 main">
      <h2>Edit Class: <span id="class-name">{{my_class.name}}</span>{% if sharing_type != "read" %} <a href="#" id="edit-class-name"><span class="fa fa-pencil"></span></a>{% endif %}</h2>
{% if sharing_type != "read" %}
      <p>Drag around units to reorder them. If you reorder units or delete units, you must click "Save" to have the changes saved.</p>
{% endif %}
      <h3>Units:</h3>
      <form action="." method="POST" id="units">
        {% csrf_token %}
        <div id="unitList" class="list-group mb-3">
{% include 'teacher/editingtemplates/unit-list.html' %}
        </div><!--listgroup-->
	<div id="no-units">{% if my_class.unit_set.count == 0 %}<p><i>You don't have any units in this class yet.</i></p>{% endif %}</div>
{% if sharing_type != "read" %}
	<div id="save-message" class="alert alert-success" style="display:none;" role="alert">Save successful!</div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newunit">New Unit</button>
        <button type="submit" class="save btn btn-primary" name="save">Save</button>
{% endif %}
      </form>

    </div>
  </div>
</div>
{% if sharing_type != "read" %}
<div id="unsaved-message" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
<div class="alert alert-warning">
You have unsaved changes! Please click "Save" before navigating away.</div>
</div>
</div>

<div class="modal fade" id="newunit" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="modal-content" method="post" action="." id="newunit-form">
      <div class="modal-header">
        <h5 class="modal-title">New Unit</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
	<div class="row">
	  <div class="col-12">
	    <div class="form-group">
              <label for="unit-name" class="control-label">Unit Name</label>
              <input type="text" class="form-control" id="unit-name" name="unit-name">
            </div>
	  </div>
	</div>
        <div class="modal-footer">
          <button type="submit" name="newunit"  class="btn btn-primary">New Unit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>    
  </div>
</div>

<div class="modal fade" id="edit-name-placeholder" role="dialog">
</div>


	      
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
});

var editableList = Sortable.create(unitList, {
  filter: '.js-remove',
  onFilter: function (evt) {
    var el = editableList.closest(evt.item); // get dragged item
    el && el.parentNode.removeChild(el);
    if (editableList.toArray().length==0) {
      $("#no-units").html("<p><i>You don't have any units in this class yet.</i></p>");
    }
    $("#unsaved-message").show();
  },
  onUpdate: function (evt) {
    $("#unsaved-message").show();
  }
});


$('#newunit-form').on('submit',function(event) {
  event.preventDefault();
  $.ajax({
    type: 'POST',
    url: 'add-unit/',
    data: $(this).serialize(),
    dataType: 'html',
    success: function(result) {
      $("#newunit").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
      $("#no-units").empty()
      $("#unitList").append(result);
      $("#unit-name").val('');
    }
  });
  return false;
});

$(document).on('submit',"#units",function(event) {
  event.preventDefault();
  $.ajax({
    type: 'POST',
    url: '.',
    data: $(this).serialize()+'&save=',
    dataType: 'json',
    success: function(result) {
      $("#unsaved-message").fadeOut();
      $("#save-message").show();
      $("#unitList").html(result['unit-list']);
      setTimeout(function() {
        $("#save-message").fadeOut();
      },5000);
    }
  });
  return false;
});

$(document).on('click',"#edit-class-name",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/edit-class-name/',
    data: "&pk={{my_class.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#edit-name-placeholder").html(result['modal-html']);
      $("#edit-name-placeholder").modal("show");
    }
  });
  return false;
});


$(document).on('submit',"#edit-class-name-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '/teacher/ajax/save-class-name/',
    data: $(this).serialize()+"&pk={{my_class.pk}}",
    dataType: 'json',
    success: function(result) {
      $("#class-name").html(result['class-name']);
      $("#bc-class-name").html(result['class-name']);
      $("#edit-name-placeholder").hide();
      $("[data-dismiss=modal]").trigger({ type: "click" });
    }
  });
  return false;
});

</script>
{% endif %}
{% endblock %}
