              <div class="form-group">
                <label for="question-type" class="control-label">Question Type</label>
		<select name="question-type" id="question-type" class="form-control">
                  <option value="" disabled selected>Select a Question Type</option>
                  <option value="multiple choice">Multiple Choice</option>
                  <option value="short answer">Short Answer</option>
                  <option value="proof">Proof</option>
                </select>
              </div>
