{% load randomtest_extras %}
{% autoescape off %} 
HEADERPLACEHOLDER
\begin{document}
{% if pset.problem_objects.count > 0 %}
\begin{enumerate}
{% for prob in pset.problem_objects.all %}
\item {% if prob.isProblem %}{% if prob.problem.type_new.is_contest %}{% if problem_labels == 0 %}{% elif problem_labels == 1 %}({{prob.problem.type_new.label}}) {% elif problem_labels == 2%}({{prob.problem.readable_label|poundsafe}}) {% endif %}{% endif %}{% if prob.question_type.question_type == "multiple choice" %}{{prob.problem.mc_problem_text.strip}}{% else %}{{prob.problem.problem_text.strip}}{% endif %}
{% if include_answer_choices or prob.problem.needs_answers %}{% if prob.problem.question_type_new.question_type == 'multiple choice' or prob.problem.question_type_new.question_type == 'multiple choice short answer' %}\vspace{6pt}

{{prob.problem.answers}}
{% endif %}{% endif %}
{% if include_sols %}{% if prob.problem.solutions.count > 0 %}{% for sol in prob.problem.solutions.all %}\vspace{3mm}

\textbf{Solution{% if prob.problem.solutions.count > 1 %} {{forloop.counter}}{% endif %}:}
{{sol.solution_text}}
{% endfor %}{% endif %}
\rule{\textwidth}{.5pt}
{% endif %}{% endif %}

{% endfor %}
\end{enumerate}
{% endif %}
\end{document}
{% endautoescape %}
