{% load randomtest_extras %}
{% autoescape off %} 
HEADERPLACEHOLDER
\begin{document}
{% if pset.problem_objects.count > 0 %}
\begin{enumerate}
{% for prob in pset.problem_objects.all %}
\item {% if prob.isProblem %}

{% if prob.problem.question_type_new.question_type == 'short answer' %}Answer: ${{prob.problem.sa_answer}}\,${% elif prob.problem.question_type_new.question_type == 'multiple choice' %}Answer: $\textbf{({{prob.problem.mc_answer}})}${% elif prob.problem.question_type_new.question_type == 'multiple choice short answer' %}Answer: $\textbf{({{prob.problem.mc_answer}})}$, or ${{prob.problem.correct_answer}}\,${% elif prob.problem.question_type_new.question_type == 'proof' %}{% endif %}      

Source: {% if prob.problem.type_new.is_contest %}{{prob.problem.readable_label|poundsafe}}{% else %}N/A{% endif %}

{% endif %}
{% endfor %}
\end{enumerate}
{% endif %}
\end{document}
{% endautoescape %}
