{% extends "randomtest/base.html" %}

{% block content %}

<script type="text/javascript">
function togglemarked() {
    var y=document.getElementById("problems");
    lang=y.elements.length;

    check=0;
    for (i=0;i<lang;i++) {
        if (y.elements[i].name == "chk" && y.elements[i].checked==false) {
            check=1;
        }
    }
    if (check==1) {
        for (i=0;i<lang;i++) {
            y.elements[i].checked=true;
        }
    } else {
        for (i=0;i<lang;i++) {
            y.elements[i].checked=false;
        }
    }
}
function fixchecks() {
    var y=document.getElementById("problems");
    lang=y.elements.length;

    allchecked=1;
    allunchecked=1;
    for (i=0;i<lang;i++) {
        if (y.elements[i].name == "chk") {
            if (y.elements[i].checked==false) {
                allchecked=0;
            } else {
                allunchecked=0;
            }
        }
    }
    z=document.getElementById("toggler");
    if (allchecked==1) {
        z.checked=true;
        z.indeterminate=false;
    } else if (allunchecked==1) {
        z.checked=false;
        z.indeterminate=false;
    } else {
        z.indeterminate=true;
    }
}
function fixcolors() {
    var y=document.getElementById("problems");
    lang=y.elements.length;
    for (i=0;i<lang;i++) {
        if (y.elements[i].name == "chk") {
            if (y.elements[i].checked==false) {
                $('#'+'prob-item_'+y.elements[i].value).css('background-color','#f2dede');
            } else {
                $('#'+'prob-item_'+y.elements[i].value).css('background-color','#dff0d8');
            }
        }
    }
}
</script>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../../../../../../">My Classes</a></li>
    <li class="breadcrumb-item"><a href="../../../../../">{{my_class.name}}</a></li>
    <li class="breadcrumb-item"><a href="../../../">{{unit.name}}</a></li>
    <li class="breadcrumb-item"><a href="../">{% if problemset %}{{problemset.name}}{% elif test %}{{test.name}}{% endif %}</a></li>
    <li class="breadcrumb-item active">Add Problems</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      {% include 'teacher/sidebar.html' with activenav="myclasses" %}
    </div>
    <div class="col-sm-9  main">
      <h2>Add Problems to {% if problemset %}{{problemset.name}}{% elif test %}{{test.name}}{% endif %} (from problem group: {{prob_group.name}})</h2>
      <div class="row">
	<div class="col">
	  <form action="." method="POST" id="problems">
	    {% csrf_token %}
            <p><input type="checkbox" id="toggler" onclick="togglemarked();fixcolors()" checked> Select/Deselect All</p>
	    {% if rows|length > 0 %}
            <ul class="list-group mb-3" id="probList">
	      {% for po in rows %}
{% with prob=po.problem %}
	      <li class="list-group-item prob-item" id="prob-item_{{prob.label}}" style="background-color:#dff0d8">
		<div class="row">
		  <div class="col-1">
		    {{forloop.counter}}.
		  </div>
		  <div class="col-10">
		    <p>
		    {% if prob.question_type_new.question_type == 'multiple choice' %}
		    {% autoescape off %}{{prob.display_mc_problem_text|linebreaks}} {% endautoescape %}  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]
		    {% else %}
		    {% autoescape off %}{{prob.display_problem_text|linebreaks}} {% endautoescape %}  [<a href="/problemeditor/redirectproblem/{{prob.pk}}/">{{prob.readable_label}}</a>]
		    {% endif %}
		    </p>
		  </div>
		  <div class="col-1">
		    <input type="checkbox" class="chk" id="chk_{{prob.label}}" name="chk" value="{{prob.label}}" onclick="fixchecks()" checked>
		  </div>
		</div>
	      </li>
{% endwith %}
	      {% endfor %}
	    </ul>
	    {% else %}
	    <p>There are no problems currently in this group. Use the <a href="/search/">Search</a> tab to add problems.</p>
	    {% endif %}
            <p>
	      <button type="submit" class="btn btn-primary" name="add-selected-problems" value="add-selected-problems">Add Selected Problems</button>
	    </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(".chk").change(function() {
    if (this.checked) {
        $('#'+'prob-item_'+$(this).val()).css('background-color','#dff0d8');
    } else {
        $('#'+'prob-item_'+$(this).val()).css('background-color','#f2dede');
    }
});
$( document ).ready(function() {
    fixcolors();
});
</script>

{% endblock %}
