          <div class="list-group-item">
            <input type="hidden" name="unitobjectinput" value="unitobject_{{unitobj.pk}}">
            <div class="row">
              <div class="col-1">
                {{forcount}}.
              </div>
              <div class="col-10">
                {% if unitobj.slidegroup %}
                <a href="slides/{{unitobj.slidegroup.pk}}/">Slides: {{unitobj.slidegroup.name}}</a> ({{unitobj.slidegroup.slides.count}} slides) (<a href="slideslatex/{{unitobj.slidegroup.pk}}/">LaTeX</a>)
                {% elif unitobj.problemset %}
                <a href="problemset/{{unitobj.problemset.pk}}/">Problem Set: {{unitobj.problemset.name}}</a> ({{unitobj.problemset.problem_objects.count}} problems) (<a href="problemsetlatex/{{unitobj.problemset.pk}}/">LaTeX</a>)
                {% elif unitobj.test %}
                <a href="test/{{unitobj.test.pk}}/">Test: {{unitobj.test.name}}</a> ({{unitobj.test.problem_objects.count}} problems)
                {% endif %}
              </div>
              <div class="col-1">
{% if sharing_type != "read" %}
<div class="float-right">
<button class="btn btn-sm btn-danger js-remove"><span class="fa fa-remove"></span></button>
</div>
{% endif %}
              </div>
            </div>
          </div>
